MySquad_workflows/Agent_Modules_And_Tools/MySquad_Agent_A_Orders_Dispatch_sanitized.json
{
  "updatedAt": "2026-06-04T16:24:43.168Z",
  "createdAt": "2026-05-29T14:53:32.687Z",
  "id": "__WORKFLOW_ID__",
  "name": "MySquad Agent A \u2014 Orders & Dispatch",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "inputSource": "jsonExample",
        "jsonExample": "{\"tenant_id\": \"uuid\", \"business_id\": \"uuid\", \"chat_id\": \"813122587\", \"sender_id\": \"813122587\", \"bot_token\": \"token\", \"conversation_id\": \"uuid\", \"text\": \"confirm the yaba order\", \"message_type\": \"text\", \"display_name\": \"Nelly\", \"username\": \"\", \"image_id\": \"\", \"caption\": \"\", \"source\": \"telegram\"}"
      },
      "id": "__NODE_1__",
      "name": "Incoming Payload",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        1680,
        2064
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT tc.*,\n  pi.access_token AS bot_token,\n  (SELECT json_agg(json_build_object('key', m.key, 'value', m.value))\n   FROM table_1 m\n   WHERE m.business_id = tc.business_id\n     AND m.is_active = true\n     AND (m.expires_at IS NULL OR m.expires_at > now())\n  ) as agent_memories\nFROM table_2 tc\nJOIN table_3 pi\n  ON pi.business_id = tc.business_id AND pi.platform = 'telegram'\nWHERE tc.tenant_id   = $1::uuid\n  AND tc.business_id = $2::uuid",
        "options": {
          "queryReplacement": "={{ [\n  $('Incoming Payload').first().json.tenant_id,\n  $('Incoming Payload').first().json.business_id\n] }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1920,
        2064
      ],
      "id": "__NODE_2__",
      "name": "Load Owner Context",
      "credentials": {
        "postgres": {
          "id": "__POSTGRES_CRED_ID",
          "name": "PostgreSQL Credentials"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT order_number, status, payment_status, total_amount, items,\n       delivery_type, delivery_address, scheduled_for, customer_notes,\n       customer_chat_id, created_at\nFROM table_4\ncolumn_1 $1::uuid\n  AND status NOT IN ('delivered', 'cancelled')\nORDER BY created_at DESC\nLIMIT 5",
        "options": {
          "queryReplacement": "={{ [$('Incoming Payload').first().json.business_id] }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        2160,
        2064
      ],
      "id": "__NODE_3__",
      "name": "Load Pending Orders",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "__POSTGRES_CRED_ID",
          "name": "PostgreSQL Credentials"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const ctx = $('Load Owner Context').first().json;\nconst incoming = $('Incoming Payload').first().json;\nconst pendingOrders = $('Load Pending Orders').all()\n  .map(i => i.json).filter(o => o.order_number);\n\nfunction safeParse(v, fb) {\n  if (v === null || v === undefined || v === '') return fb;\n  if (typeof v === 'string') { try { return JSON.parse(v) ?? fb; } catch(e) { return fb; } }\n  return v;\n}\nfunction asArray(v)  { const p = safeParse(v, []); return Array.isArray(p) ? p : []; }\nfunction asObject(v) { const p = safeParse(v, {}); return (p && typeof p === 'object' && !Array.isArray(p)) ? p : {}; }\nfunction getMemory(memories, key) { const r = memories.find(m => m && m.key === key); return r ? String(r.value || '') : ''; }\nfunction formatMoney(v) { const n = Number(v || 0); return Number.isFinite(n) ? n.toLocaleString('en-NG') : String(v || '0'); }\nfunction formatLocalNow() {\n  try { return new Intl.DateTimeFormat('en-NG', { timeZone: 'Africa/Lagos', weekday: 'short', month: 'short', day: 'numeric', year: 'numeric', hour: '2-digit', minute: '2-digit' }).format(new Date()); }\n  catch(e) { return new Date().toISOString(); }\n}\nfunction formatWhen(v) {\n  if (!v) return '';\n  try { return new Date(v).toLocaleString('en-NG', { timeZone: 'Africa/Lagos', weekday: 'short', month: 'short', day: 'numeric', hour: '2-digit', minute: '2-digit' }); }\n  catch(e) { return ''; }\n}\nfunction formatItems(items) {\n  const p = Array.isArray(items) ? items : safeParse(items, []);\n  if (!Array.isArray(p) || !p.length) return '';\n  return p.map(i => `${i.quantity || 1}x ${i.name || 'item'}`).join(', ');\n}\nfunction formatAddress(address) {\n  const p = asObject(address);\n  const contactName  = p.recipient_name || p.contact_name || p.name || '';\n  const contactPhone = p.recipient_phone || p.contact_phone || p.phone || '';\n  const city = p.city || ''; const state = p.state || '';\n  const street = p.location_text || p.street || p.address || '';\n  const locationShort = [city, state].filter(Boolean).join(', ') || street || '';\n  const location = p.location_type === 'business_location' ? 'business location'\n    : [street, city, state].filter(Boolean).join(', ');\n  return { contactName, contactPhone, contact: [contactName, contactPhone].filter(Boolean).join(' / '), location, locationShort };\n}\nfunction buildDescriptor(order) {\n  const items = formatItems(order.items);\n  const addr  = formatAddress(order.delivery_address);\n  const when  = formatWhen(order.scheduled_for);\n  const type  = String(order.delivery_type || '').toLowerCase();\n  const parts = [items || (type === 'appointment' ? 'booking' : 'order')];\n  if (addr.contactName) parts.push('for ' + addr.contactName);\n  if (type === 'delivery' && addr.locationShort) parts.push('to ' + addr.locationShort);\n  else if (type === 'pickup') parts.push('pickup');\n  if (when) parts.push('scheduled ' + when);\n  if (order.total_amount != null && order.total_amount !== '') parts.push('\u20a6' + formatMoney(order.total_amount));\n  return parts.join(' | ');\n}\nfunction formatOrderLine(order) {\n  const addr = formatAddress(order.delivery_address);\n  let line = `- ${buildDescriptor(order)} (${order.order_number})`;\n  line += ` | status: ${order.status || 'n/a'}`;\n  line += ` | payment: ${order.payment_status || 'n/a'}`;\n  line += ` | type: ${order.delivery_type || 'n/a'}`;\n  if (addr.contactPhone) line += ` | phone: ${addr.contactPhone}`;\n  if (order.customer_notes) line += ` | specs: ${order.customer_notes}`;\n  if (order.customer_chat_id) line += ` | customer_chat_id: ${order.customer_chat_id}`;\n  return line;\n}\n\nconst memories      = asArray(ctx.agent_memories);\nconst toneProfile   = asObject(ctx.tone_profile);\nconst operatingHours = asObject(ctx.operating_hours);\nconst operatingDays  = asArray(ctx.operating_days);\nconst agentRulesSource = ctx.agent_rules?.rules ?? ctx.agent_rules ?? [];\nconst agentRules = Array.isArray(agentRulesSource) ? agentRulesSource : asArray(agentRulesSource);\n\nconst agentName      = ctx.agent_name     || 'MyGuy';\nconst businessName   = ctx.business_name  || 'your business';\nconst ownerName      = ctx.preferred_name || ctx.full_name || incoming.display_name || 'Boss';\nconst businessLocation = ctx.business_location || '';\nconst toneSummary    = toneProfile.tone_summary || 'friendly and professional';\nconst replyLanguage  = String(ctx.reply_language || ctx.last_language_style || 'en').toLowerCase();\nconst businessMode   = ctx.business_mode || getMemory(memories, 'business_mode') || 'product_only';\nconst isService      = businessMode === 'service_only';\nconst isHybrid       = businessMode === 'hybrid_product_led' || businessMode === 'hybrid_service_led';\nconst hasService     = isService || isHybrid;\nconst ordersLabel    = isService ? 'bookings' : 'orders';\nconst typicalDuration    = getMemory(memories, 'typical_session_duration');\nconst depositPolicy      = getMemory(memories, 'deposit_policy');\nconst cancellationPolicy = getMemory(memories, 'cancellation_policy');\n\nlet hoursText = '';\nif (operatingDays.length) {\n  hoursText = 'Operating days: ' + operatingDays.join(', ');\n  if (operatingHours.open && operatingHours.close) hoursText += ` (${operatingHours.open} \u2013 ${operatingHours.close})`;\n}\n\nconst activeOrdersText = pendingOrders.length\n  ? pendingOrders.map(formatOrderLine).join('\\n')\n  : `No active ${ordersLabel} right now.`;\n\nconst confirmCandidates = pendingOrders.filter(o => ['enquiry','placed','pending'].includes(String(o.status||'').toLowerCase()));\nconst paymentCandidates = pendingOrders.filter(o => String(o.payment_status||'').toLowerCase() === 'proof_submitted');\nconst confirmText = confirmCandidates.length ? confirmCandidates.map(o => `- ${buildDescriptor(o)} (${o.order_number})`).join('\\n') : 'None.';\nconst paymentText = paymentCandidates.length ? paymentCandidates.map(o => `- ${buildDescriptor(o)} (${o.order_number})`).join('\\n') : 'None.';\nconst memoryText  = memories.length ? memories.map(m => `- ${m.key}: ${m.value}`).join('\\n') : 'None.';\nconst rulesText   = agentRules.length ? agentRules.map(r => `- ${r}`).join('\\n') : 'None.';\nconst imageUrl    = incoming.image_id || '';\nconst sep = '\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550';\n\nconst systemPrompt = `You are ${agentName}, the order and dispatch agent for ${businessName}. Be warm, direct, and concise.\n\n${sep}\nOWNER CONTEXT\n${sep}\nOwner: ${ownerName}\nBusiness: ${businessName}\n${businessLocation ? 'Location: ' + businessLocation : ''}\n${hoursText}\nDefault reply language: ${replyLanguage === 'pidgin' ? 'Pidgin' : 'English'}\nCurrent Lagos time: ${formatLocalNow()}\nMessage type: ${incoming.message_type || 'text'}\n${imageUrl ? 'Source image URL: ' + imageUrl : ''}\n\nBusiness memory:\n${memoryText}\n\nBusiness rules:\n${rulesText}\n\n${sep}\nACTIVE ${ordersLabel.toUpperCase()} & BOOKINGS\n${sep}\n${activeOrdersText}\n\n${sep}\nAWAITING ORDER CONFIRMATION\n${sep}\n${confirmText}\n\n${sep}\nAWAITING PAYMENT CONFIRMATION\n${sep}\n${paymentText}\n\n${sep}\nVOICE & PERSONALITY\n${sep}\nYou are ${agentName} \u2014 not a bot, not a system, not an assistant. You are a sharp, warm person who works for ${ownerName}.\n\nENGLISH REGISTER:\nWrite the way a smart, friendly Nigerian professional texts. Short. Direct. Warm but not gushy.\n- Lead with the result, not the process: \"Done! Order confirmed.\" not \"I have successfully confirmed the order.\"\n- Ask one question at a time, not a form: \"Which order do you mean?\" not \"Could you please provide the order number so I can process your request?\"\n- Use contractions: \"I've\", \"it's\", \"you're\", \"can't\", \"won't\"\n- Light affirmations are fine: \"Got it.\", \"Sure.\", \"On it.\" \u2014 but never more than 2 words before the actual answer.\n\nPIDGIN REGISTER:\nMirror the owner's Pidgin exactly. Do not tone it down or formalize it.\nNatural Pidgin patterns to use:\n- \"I don confirm am\" not \"I have confirmed it\"\n- \"Which one you mean?\" not \"Could you clarify which order?\"\n- \"Order don land\" not \"The order has been placed\"\n- \"No wahala\" not \"No problem\"\n- \"E don pay?\" not \"Has the customer paid?\"\n- \"Na which customer?\" not \"Which customer are you referring to?\"\n- \"I go check am now\" not \"I will check that for you\"\nDetect Pidgin from: dey, abeg, wetin, oya, wahala, sha, una, dem, na, abi, wan, e don, how far, no wahala, make we, sef, comot, chop.\nIf 2 or more markers appear \u2192 respond in full Pidgin. If the owner switches to English, switch back.\nNEVER mix Pidgin and English in the same reply.\n\nBANNED PHRASES (these make you sound like a bot \u2014 never use them):\n- \"Certainly!\", \"Of course!\", \"Absolutely!\", \"Sure thing!\"\n- \"I'd be happy to...\", \"I'd be glad to...\", \"I'm here to help\"\n- \"Great question!\", \"That's a great point!\"\n- \"I understand that...\", \"I can understand how...\"\n- \"As per your request\", \"As requested\", \"Please find below\"\n- \"I have successfully...\", \"The operation was successful\"\n- \"Thank you for reaching out\", \"Thank you for your patience\"\n- \"Is there anything else I can help you with?\"\n- Any sentence that starts with \"I\" followed by a verb that a human wouldn't actually say\n\nREACTION STYLE:\nBad (AI): \"I have noted your request. I will now proceed to update table_5 catalogue as per your instructions.\"\nGood (human): \"Updated! Here's the new catalogue: [list]\"\n\nBad (AI): \"I understand that you would like to confirm the order for Ada. Let me process that for you.\"\nGood (human): \"Confirming Ada's order now \u2014 done! \u2713 [ORDER_CONFIRMED: ...]\"\n\nBad (AI): \"Certainly! I'd be happy to set a reminder for you.\"\nGood (human): \"Done. Reminder set for tomorrow 9am \u2014 'Call Ada'.\"\n\nEMOJI USE:\nSparingly. One per message max, only when it adds warmth not decoration.\nGood: \"Done! \u2705\" / \"On it \ud83d\udd04\" / \"Sent \ud83d\udce4\"\nBad: \"Great news! \ud83c\udf89 Your order has been confirmed! \ud83c\udf1f Let me know if you need anything else! \ud83d\ude0a\"\n\n${sep}\nRESPONSE HYGIENE\n${sep}\nOne reply = one clean answer or one clean question.\nNever repeat the same sentence or reassurance in the same message.\nIf one field is missing, ask only for that field.\nIf several dispatch fields are missing, ask for all of them once in one message.\nDo not dump the full orders list unless the owner asked for a list.\n\n${sep}\nCLARIFICATION STYLE\n${sep}\nWhen clarifying between orders, use natural descriptors first, order number second.\nGood: \"Do you mean the 2x kaftan delivery to Yaba for Ada (MSQ-123456) or the pickup for Tunde (MSQ-654321)?\"\nBad: \"Do you mean MSQ-123456 or MSQ-654321?\"\n\n${sep}\nORDER RULES\n${sep}\nYou manage ${ordersLabel} for ${businessName}.\nResolve an order from: order number, item name, recipient name, city, amount, delivery type, schedule, or recency.\nIf exactly one candidate fits, proceed. If more than one fits, ask one short clarification and stop.\nAfter Confirm Order succeeds, append at the very end: [ORDER_CONFIRMED: <order_number> | <customer_chat_id>]\nAfter Confirm Payment succeeds, append at the very end: [PAYMENT_CONFIRMED: <order_number> | <customer_chat_id>]\nNever append tags on clarification turns. Never invent order numbers or customer chat IDs.\nIf a mutation tool returns no row, say the order could not be updated and ask for a clearer reference.\n${hasService ? 'For service bookings, delivered means completed.' : ''}\n${typicalDuration ? 'Typical session duration: ' + typicalDuration : ''}\n${depositPolicy ? 'Deposit policy: ' + depositPolicy : ''}\n${cancellationPolicy ? 'Cancellation policy: ' + cancellationPolicy : ''}\nAfter Confirm Payment, if delivery_type = delivery ask once: \"Do you want me to arrange delivery now?\" Do not auto-dispatch.\n\n${sep}\nDISPATCH RULES\n${sep}\n\"Mark as dispatched\" or \"update table_6 to dispatched\" \u2192 Update Order Status Tool only.\n\"Arrange delivery\", \"dispatch this order\", \"send via courier\" \u2192 Terminal Africa tools.\nNever create dispatch automatically after payment confirmation.\nStart from table_7 order details and business location for sender address.\nAsk for missing dispatch fields once in one message.\nFlow: get quotes \u2192 owner picks rate \u2192 confirm payment method \u2192 confirm dispatch.\nIf shipment_id is known, use Terminal_Track Dispatch directly.\nIf not, use Context Resolver with scope=dispatch first.\n\n${sep}\nCUSTOMER PROFILE RULES\n${sep}\nUse List Customers to find a customer platform_id and saved notes before updating.\nUse Save Customer Note to write or replace a customer profile note.\nWhen updating, read the current note first and write the full updated note.\n\n${sep}\nTOOL ROUTING\n${sep}\nList Orders \u2014 general order lists or latest active items.\nGet Order Details \u2014 full detail on a specific order before mutating.\nConfirm Order \u2014 confirm a specific order. Only after target is resolved.\nUpdate Order Status \u2014 status-only changes (preparing, ready, dispatched, delivered, cancelled).\nConfirm Payment \u2014 only after target order is resolved.\nTerminal Africa tools \u2014 actual courier delivery only, not status changes.\nContext Resolver \u2014 dispatch lookup (scope=dispatch) or product image lookup (scope=products).\nList Customers \u2014 customer context and platform_id lookup.\nSave Customer Note \u2014 write customer profile notes.\n\n${sep}\nBULK CANCELLATION\n${sep}\nWhen owner says 'cancel all orders', 'cancel all', or 'cancel multiple':\n1. List ALL cancellable orders (placed/pending/confirmed, payment not confirmed).\n   Format: \u2022 MSQ-XXXXX \u2014 [items], \u20a6[total], [type], placed [time ago]\n2. Ask: 'Are you sure you want to cancel all [N] orders? Or tell me which ones.'\n3. Wait for confirmation before cancelling anything.\n4. Cancel each confirmed order with Update Order Status Tool (status = cancelled).\n5. Call Notify_Customer for each cancelled order.\n6. Confirm to owner: 'Cancelled [N] orders \u2705' with order numbers.\n\nWhen owner names specific orders or says 'cancel only the first two':\n- Confirm exactly which ones before proceeding.\n- Cancel then notify customer for each.\n\nCUSTOMER NOTIFICATIONS AFTER ORDER ACTIONS:\nAfter any of these actions, always call Notify_Customer with the customer_chat_id returned by the tool and an appropriate message:\n- Order cancelled \u2192 'Your order MSQ-XXXXX has been cancelled. Feel free to place a new order anytime.'\n- Order put on hold \u2192 'Your order MSQ-XXXXX is on hold while we confirm availability. We'll update table_8 shortly \ud83d\ude4f'\n- Never leave customers uninformed after you take action on their order.\n\n${sep}\nHARD RULES\n${sep}\nInvisible tags are for the outer handler only. Never explain them to the owner.\nOnly append ORDER_CONFIRMED or PAYMENT_CONFIRMED after the matching tool succeeds.\nPut invisible tags at the very end of the reply only.\nNever invent order numbers, customer chat IDs, shipment IDs, URLs, or balances.`;\n\nreturn {\n  json: {\n    system_prompt:    systemPrompt,\n    text:             incoming.text || incoming.caption || '',\n    caption:          incoming.caption || '',\n    tenant_id:        incoming.tenant_id,\n    business_id:      incoming.business_id,\n    chat_id:          incoming.chat_id,\n    sender_id:        incoming.sender_id,\n    user_id:          incoming.tenant_id,\n    display_name:     incoming.display_name || '',\n    username:         incoming.username || '',\n    source:           incoming.source || 'telegram',\n    message_type:     incoming.message_type || 'text',\n    image_id:         imageUrl,\n    bot_token:        incoming.bot_token || ctx.bot_token || '',\n    conversation_id:  incoming.conversation_id || '',\n    is_owner:         true,\n  }\n};"
      },
      "id": "__NODE_4__",
      "name": "Build Agent A Config",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2400,
        2064
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.text || $json.caption || '' }}",
        "options": {
          "systemMessage": "={{ $json.system_prompt }}"
        }
      },
      "id": "__NODE_5__",
      "name": "Agent A \u2014 Orders",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        2640,
        2064
      ],
      "retryOnFail": true
    },
    {
      "parameters": {
        "model": "openai/gpt-oss-120b",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        2592,
        2272
      ],
      "id": "__NODE_6__",
      "name": "Groq Chat Model",
      "credentials": {
        "groqApi": {
          "id": "__GROQ_CRED_ID",
          "name": "Groq API Credentials"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "=owner_{{ $json.chat_id }}_{{ $json.tenant_id }}_{{ $json.business_id }}",
        "tableName": "msq_chat_histories",
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        2736,
        2272
      ],
      "id": "__NODE_7__",
      "name": "Agent A Chat Memory",
      "credentials": {
        "postgres": {
          "id": "__POSTGRES_CRED_ID",
          "name": "PostgreSQL Credentials"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "=List active customer orders or bookings.\n\nWHEN TO USE:\n- \"What orders do I have?\"\n- \"Show active orders\"\n- \"Any bookings?\"\n- \"Show pending items\"\n- when you need the latest active order context before confirming or updating\n\nRETURNS:\n- order_number\n- status\n- payment_status\n- items\n- amount\n- delivery_type\n- address/contact context\n- customer_chat_id\n\nRULES:\n- Present conversationally.\n- Surface identifying details that help the owner distinguish one order from table_9\n- This tool is for active-order context, not for \"new order notification\" logic.",
        "operation": "executeQuery",
        "query": "SELECT\n  order_number, status, payment_status, items, total_amount,\n  delivery_type, delivery_address, scheduled_for,\n  customer_notes, customer_chat_id, created_at\nFROM table_4\ncolumn_1 $1::uuid\n  AND status NOT IN ('delivered', 'cancelled')\nORDER BY created_at DESC\nLIMIT 10",
        "options": {
          "queryReplacement": "={{ [$('Incoming Payload').first().json.business_id] }}"
        }
      },
      "type": "n8n-nodes-base.postgresTool",
      "typeVersion": 2.6,
      "position": [
        2944,
        2272
      ],
      "id": "__NODE_8__",
      "name": "List Orders Tool",
      "credentials": {
        "postgres": {
          "id": "__POSTGRES_CRED_ID",
          "name": "PostgreSQL Credentials"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "=Get full details of a specific order or booking.\n\nWHEN TO USE:\n- \"Show me order MSQ-XXXXXX\"\n- \"What did they order?\"\n- \"Where is it going?\"\n- before confirming or updating when the target order is not already clear\n\nRULES:\n- Present items or service, amount, delivery_type, scheduled time if any, address/contact, specs, notes if useful, and payment status.\n- Use this before mutation if the owner needs more context.",
        "operation": "executeQuery",
        "query": "SELECT order_number, status, payment_status, items, total_amount,\n       delivery_type, delivery_address, scheduled_for,\n       customer_notes, owner_notes, customer_chat_id, created_at\nFROM table_4\ncolumn_1 $1::uuid\n  column_2 $2",
        "options": {
          "queryReplacement": "={{ [$('Incoming Payload').first().json.business_id, $fromAI('order_number', 'The MSQ-XXXXXX order number', 'string')] }}"
        }
      },
      "type": "n8n-nodes-base.postgresTool",
      "typeVersion": 2.6,
      "position": [
        3120,
        2272
      ],
      "id": "__NODE_9__",
      "name": "Get Order Details Tool",
      "credentials": {
        "postgres": {
          "id": "__POSTGRES_CRED_ID",
          "name": "PostgreSQL Credentials"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "=Confirm a specific customer order or booking.\n\nWHEN TO USE:\n- \"Confirm MSQ-XXXXXX\"\n- \"Approve that order\"\n- \"Approve the Ketu delivery\"\n- \"Confirm Sylva's suit order\"\n\nREQUIRED:\n- order_number\n\nRULES:\n- Only call this tool after the target order has been resolved.\n- Resolution may come from table_10 order number or one strong natural-language match from table_11 orders.\n- If more than one candidate fits, ask one short natural-language clarification and stop.\n- Use natural descriptors first and order number second.\n- Do not mutate while the target is ambiguous.\n\nAFTER SUCCESS:\nAppend this invisible tag at the very end:\n[ORDER_CONFIRMED: <order_number> | <customer_chat_id>]",
        "operation": "executeQuery",
        "query": "UPDATE table_4\ncolumn_3 'confirmed', updated_at = now()\ncolumn_1 $1::uuid\n  column_2 $2\n  AND status IN ('enquiry', 'placed', 'pending')\nRETURNING order_number, customer_chat_id, status, items, total_amount",
        "options": {
          "queryReplacement": "={{ [$('Incoming Payload').first().json.business_id, $fromAI('order_number', 'ONLY the order number, exactly as shown. Format: MSQ-XXXXXX. No other words.', 'string')] }}"
        }
      },
      "type": "n8n-nodes-base.postgresTool",
      "typeVersion": 2.6,
      "position": [
        3296,
        2272
      ],
      "id": "__NODE_10__",
      "name": "Confirm Order Tool",
      "credentials": {
        "postgres": {
          "id": "__POSTGRES_CRED_ID",
          "name": "PostgreSQL Credentials"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "=Update order status only.\n\nWHEN TO USE:\n- \"Mark order as preparing\"\n- \"Order is ready\"\n- \"Mark this as dispatched\"\n- \"Cancel this order\"\n- \"Mark the booking completed\"\n\nREQUIRED:\n- order_number\n- new_status\n\nVALID STATUS EXAMPLES:\n- preparing\n- ready\n- dispatched\n- delivered\n- cancelled\n\nRULES:\n- Use this only for status-only changes.\n- If the owner wants actual courier delivery, use Terminal Africa dispatch tools instead.\n- For service bookings, delivered means completed.",
        "operation": "executeQuery",
        "query": "UPDATE table_4\ncolumn_3 $3, updated_at = now()\ncolumn_1 $1::uuid\n  column_2 $2\nRETURNING order_number, status, customer_chat_id",
        "options": {
          "queryReplacement": "={{ [$('Incoming Payload').first().json.business_id, $fromAI('order_number', 'Order number e.g. MSQ-A3K7F2', 'string'), $fromAI('new_status', 'New status: preparing | ready | dispatched | delivered | cancelled', 'string')] }}"
        }
      },
      "type": "n8n-nodes-base.postgresTool",
      "typeVersion": 2.6,
      "position": [
        3472,
        2272
      ],
      "id": "__NODE_11__",
      "name": "Update Order Status Tool",
      "credentials": {
        "postgres": {
          "id": "__POSTGRES_CRED_ID",
          "name": "PostgreSQL Credentials"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "=Confirm that payment has been received for a specific order.\n\nWHEN TO USE:\n- \"Payment confirmed for MSQ-XXXXXX\"\n- \"I've received payment for that order\"\n- after reviewing a customer's payment proof\n- after a single high-confidence match to an order awaiting payment confirmation\n\nREQUIRED:\n- order_number\n\nRULES:\n- Never call this tool until the target order is resolved.\n- Prefer matching against orders awaiting payment confirmation.\n- If exactly one candidate fits, proceed.\n- If more than one candidate fits, ask one short natural-language clarification and stop.\n- Use natural descriptors first and order number second.\n- Do not ask using order numbers alone unless there is no other distinguishing detail.\n- Do not mutate while the target is ambiguous.\n\nAFTER SUCCESS:\nAppend this invisible tag at the very end:\n[PAYMENT_CONFIRMED: <order_number> | <customer_chat_id>]\n\nPOST-SUCCESS:\n- If the order has delivery_type = delivery, ask:\n  \"Do you want me to arrange delivery now?\"\n- Do not auto-dispatch.",
        "operation": "executeQuery",
        "query": "UPDATE table_4\ncolumn_4 'confirmed',\n    payment_confirmed_at = now(),\n    updated_at = now()\ncolumn_1 $1::uuid\n  column_2 $2\n  AND payment_status IN ('unpaid', 'proof_submitted')\nRETURNING order_number, customer_chat_id, payment_status, total_amount, delivery_type, delivery_address",
        "options": {
          "queryReplacement": "={{ [$('Incoming Payload').first().json.business_id, $fromAI('order_number', 'Order number to confirm payment for', 'string')] }}"
        }
      },
      "type": "n8n-nodes-base.postgresTool",
      "typeVersion": 2.6,
      "position": [
        2944,
        2448
      ],
      "id": "__NODE_12__",
      "name": "Confirm Payment Tool",
      "credentials": {
        "postgres": {
          "id": "__POSTGRES_CRED_ID",
          "name": "PostgreSQL Credentials"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "=Save or replace internal owner notes on a specific order.\n\nWHEN TO USE:\n- \"Add a note to this order\"\n- \"Save this for order MSQ-XXXXXX\"\n- \"Note that customer wants gift wrap\"\n- \"Call before arrival\"\n\nREQUIRED:\n- order_number\n- notes\n\nRULES:\n- These notes are internal only.\n- Do not describe them as customer-facing.",
        "operation": "executeQuery",
        "query": "UPDATE table_4\ncolumn_5 $3, updated_at = now()\ncolumn_1 $1::uuid\n  column_2 $2\nRETURNING order_number, owner_notes",
        "options": {
          "queryReplacement": "={{ [$('Incoming Payload').first().json.business_id, $fromAI('order_number', 'MSQ-XXXXXX order number', 'string'), $fromAI('notes', 'Note to save on this order', 'string')] }}"
        }
      },
      "type": "n8n-nodes-base.postgresTool",
      "typeVersion": 2.6,
      "position": [
        3120,
        2448
      ],
      "id": "__NODE_13__",
      "name": "Add Owner Notes Tool",
      "credentials": {
        "postgres": {
          "id": "__POSTGRES_CRED_ID",
          "name": "PostgreSQL Credentials"
        }
      }
    },
    {
      "parameters": {
        "description": "=Get live delivery quotes from table_12 carriers for a real customer order.\n\nWHEN TO USE:\n- \"Arrange delivery\"\n- \"Dispatch this order\"\n- \"Send this order by courier\"\n- after payment confirmation when the owner explicitly wants delivery arranged\n\nDO NOT USE:\n- for simple status changes like \"mark as dispatched\"\n- for tracking an already-created shipment\n- when the owner has not agreed to arrange delivery yet\n\nREQUIRED INPUTS:\n- sender_name\n- sender_phone\n- sender_address\n- sender_city\n- sender_state\n- sender_country\n- recipient_name\n- recipient_phone\n- recipient_address\n- recipient_city\n- recipient_state\n- recipient_country\n- item_name\n- item_weight_kg\n- item_value\n- order_number when known\n\nOPTIONAL:\n- item_description\n\nINPUT COLLECTION RULES:\n- Use the current order context first.\n- Use the order delivery_address for recipient details whenever available.\n- Use the business location as the default sender address unless the owner changes it.\n- Reuse known item name and order amount whenever possible.\n- Ask only for fields that are still missing.\n- Ask once, in one concise message.\n- If only one field is missing, ask only for that field.\n- Never repeat the same missing-field request in the same reply.\n\nAFTER TOOL RETURNS:\n- Summarize options briefly: carrier, amount, ETA.\n- Let the owner pick one rate before moving to confirmation.",
        "workflowId": {
          "__rl": true,
          "value": "Bmg4daf9rCUyaYo8",
          "mode": "list",
          "cachedResultUrl": "/workflow/Bmg4daf9rCUyaYo8",
          "cachedResultName": "Terminal Africa Dispatch Tools"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "item_weight_kg": "={{ $fromAI('item_weight_kg', 'Weight in kg') }}",
            "tool_name": "quotes",
            "tenant_id": "={{ $json.user_id }}",
            "sender_name": "={{ $fromAI('sender_name', `Full name of sender`, 'string') }}",
            "sender_phone": "={{ $fromAI('sender_phone', 'Phone with country code') }}",
            "sender_address": "={{ $fromAI('sender_address', 'Street address') }}",
            "sender_city": "={{ $fromAI('sender_city', 'City') }}",
            "sender_state": "={{ $fromAI('sender_state', 'State e.g. Lagos') }}",
            "sender_country": "={{ $fromAI('sender_country', 'Country code e.g. NG') }}",
            "recipient_name": "={{ $fromAI('recipient_name', 'Full name') }}",
            "recipient_phone": "={{ $fromAI('recipient_phone', 'Phone with country code') }}",
            "recipient_address": "={{ $fromAI('recipient_address', 'Street address') }}",
            "recipient_city": "={{ $fromAI('recipient_city', 'City') }}",
            "recipient_state": "={{ $fromAI('recipient_state', 'State') }}",
            "recipient_country": "={{ $fromAI('recipient_country', 'Country code e.g. NG') }}",
            "item_name": "={{ $fromAI('item_name', 'Item name') }}",
            "item_description": "={{ $fromAI('item_description', 'Brief description') }}",
            "item_value": "={{ $fromAI('item_value', 'Value in Naira') }}",
            "business_id": "REDACTED",
            "order_number": "={{ $fromAI('order_number', 'Original customer order number e.g. MSQ-XXXXXX', 'string') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "tool_name",
              "displayName": "tool_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "tenant_id",
              "displayName": "tenant_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "business_id",
              "displayName": "business_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "sender_name",
              "displayName": "sender_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "sender_phone",
              "displayName": "sender_phone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "sender_address",
              "displayName": "sender_address",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "sender_city",
              "displayName": "sender_city",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "sender_state",
              "displayName": "sender_state",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "sender_country",
              "displayName": "sender_country",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "recipient_name",
              "displayName": "recipient_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "recipient_phone",
              "displayName": "recipient_phone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "recipient_address",
              "displayName": "recipient_address",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "recipient_city",
              "displayName": "recipient_city",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "recipient_state",
              "displayName": "recipient_state",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "recipient_country",
              "displayName": "recipient_country",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "item_name",
              "displayName": "item_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "item_description",
              "displayName": "item_description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "item_weight_kg",
              "displayName": "item_weight_kg",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number",
              "removed": false
            },
            {
              "id": "item_value",
              "displayName": "item_value",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number",
              "removed": false
            },
            {
              "id": "shipment_id",
              "displayName": "shipment_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": true
            },
            {
              "id": "rate_id",
              "displayName": "rate_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": true
            },
            {
              "id": "payment_method",
              "displayName": "payment_method",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": true
            },
            {
              "id": "amount",
              "displayName": "amount",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number",
              "removed": true
            },
            {
              "id": "order_number",
              "displayName": "order_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        3712,
        2448
      ],
      "id": "__NODE_14__",
      "name": "Terminal_Get Dispatch Quotes"
    },
    {
      "parameters": {
        "description": "=Book a selected courier rate for an existing shipment quote.\n\nWHEN TO USE:\n- after quotes have been returned\n- after the owner has chosen a carrier option\n- after shipment_id and rate_id are available\n\nREQUIRED:\n- shipment_id\n- rate_id\n- payment_method\n- amount\n- order_number\n\nRULES:\n- Use only after Terminal_Get Dispatch Quotes.\n- After success, tell the owner the shipment_id and tracking number.\n- This tool should also persist the dispatch back to the linked order.",
        "workflowId": {
          "__rl": true,
          "value": "Bmg4daf9rCUyaYo8",
          "mode": "list",
          "cachedResultUrl": "/workflow/Bmg4daf9rCUyaYo8",
          "cachedResultName": "Terminal Africa Dispatch Tools"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "tool_name": "confirm",
            "tenant_id": "={{ $json.user_id }}",
            "shipment_id": "={{ $fromAI('shipment_id', 'Terminal shipment ID') }}",
            "rate_id": "={{ $fromAI('rate_id', 'Chosen rate ID') }}",
            "payment_method": "={{ $fromAI('payment_method', 'speedy or cod') }}",
            "amount": "={{ $fromAI('amount', 'Delivery cost in Naira') }}",
            "business_id": "REDACTED",
            "order_number": "={{ $fromAI('order_number', 'Original customer order number e.g. MSQ-XXXXXX', 'string') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "tool_name",
              "displayName": "tool_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "tenant_id",
              "displayName": "tenant_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "business_id",
              "displayName": "business_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "sender_name",
              "displayName": "sender_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": true
            },
            {
              "id": "sender_phone",
              "displayName": "sender_phone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": true
            },
            {
              "id": "sender_address",
              "displayName": "sender_address",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": true
            },
            {
              "id": "sender_city",
              "displayName": "sender_city",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": true
            },
            {
              "id": "sender_state",
              "displayName": "sender_state",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": true
            },
            {
              "id": "sender_country",
              "displayName": "sender_country",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": true
            },
            {
              "id": "recipient_name",
              "displayName": "recipient_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": true
            },
            {
              "id": "recipient_phone",
              "displayName": "recipient_phone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": true
            },
            {
              "id": "recipient_address",
              "displayName": "recipient_address",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": true
            },
            {
              "id": "recipient_city",
              "displayName": "recipient_city",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": true
            },
            {
              "id": "recipient_state",
              "displayName": "recipient_state",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": true
            },
            {
              "id": "recipient_country",
              "displayName": "recipient_country",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": true
            },
            {
              "id": "item_name",
              "displayName": "item_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": true
            },
            {
              "id": "item_description",
              "displayName": "item_description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": true
            },
            {
              "id": "item_weight_kg",
              "displayName": "item_weight_kg",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number",
              "removed": true
            },
            {
              "id": "item_value",
              "displayName": "item_value",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number",
              "removed": true
            },
            {
              "id": "shipment_id",
              "displayName": "shipment_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "rate_id",
              "displayName": "rate_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "payment_method",
              "displayName": "payment_method",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "amount",
              "displayName": "amount",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number"
            },
            {
              "id": "order_number",
              "displayName": "order_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        3872,
        2272
      ],
      "id": "__NODE_15__",
      "name": "Terminal_Confirm Dispatch Order"
    },
    {
      "parameters": {
        "description": "=Get live tracking for an existing shipment.\n\nWHEN TO USE:\n- owner already knows the shipment_id\n- live tracking is needed for a specific dispatch\n\nRULES:\n- If shipment_id is not known, use Context Resolver scope=dispatch first.\n- Do not guess a shipment_id.",
        "workflowId": {
          "__rl": true,
          "value": "Bmg4daf9rCUyaYo8",
          "mode": "list",
          "cachedResultUrl": "/workflow/Bmg4daf9rCUyaYo8",
          "cachedResultName": "Terminal Africa Dispatch Tools"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "tool_name": "track",
            "tenant_id": "={{ $json.user_id }}",
            "shipment_id": "={{ $fromAI('shipment_id', 'Optional shipment ID') }}",
            "business_id": "REDACTED",
            "order_number": "={{ $fromAI('order_number', 'Original customer order number e.g. MSQ-XXXXXX', 'string') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "tool_name",
              "displayName": "tool_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "tenant_id",
              "displayName": "tenant_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "business_id",
              "displayName": "business_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "sender_name",
              "displayName": "sender_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": true
            },
            {
              "id": "sender_phone",
              "displayName": "sender_phone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": true
            },
            {
              "id": "sender_address",
              "displayName": "sender_address",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": true
            },
            {
              "id": "sender_city",
              "displayName": "sender_city",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": true
            },
            {
              "id": "sender_state",
              "displayName": "sender_state",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": true
            },
            {
              "id": "sender_country",
              "displayName": "sender_country",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": true
            },
            {
              "id": "recipient_name",
              "displayName": "recipient_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": true
            },
            {
              "id": "recipient_phone",
              "displayName": "recipient_phone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": true
            },
            {
              "id": "recipient_address",
              "displayName": "recipient_address",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": true
            },
            {
              "id": "recipient_city",
              "displayName": "recipient_city",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": true
            },
            {
              "id": "recipient_state",
              "displayName": "recipient_state",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": true
            },
            {
              "id": "recipient_country",
              "displayName": "recipient_country",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": true
            },
            {
              "id": "item_name",
              "displayName": "item_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": true
            },
            {
              "id": "item_description",
              "displayName": "item_description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": true
            },
            {
              "id": "item_weight_kg",
              "displayName": "item_weight_kg",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number",
              "removed": true
            },
            {
              "id": "item_value",
              "displayName": "item_value",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number",
              "removed": true
            },
            {
              "id": "shipment_id",
              "displayName": "shipment_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "rate_id",
              "displayName": "rate_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": true
            },
            {
              "id": "payment_method",
              "displayName": "payment_method",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": true
            },
            {
              "id": "amount",
              "displayName": "amount",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number",
              "removed": true
            },
            {
              "id": "order_number",
              "displayName": "order_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        3712,
        2272
      ],
      "id": "__NODE_16__",
      "name": "Terminal_Track Dispatch"
    },
    {
      "parameters": {
        "description": "=Read-only lookup tool for saved product images and existing dispatch records.\n\nSUPPORTED OPERATIONS:\n\n1. scope=products, operation=list\nUse for saved product-image lookup before image-to-image generation.\n\nOptional:\n- reference_text: product name only\n- limit\n\nRULES FOR PRODUCTS:\n- reference_text must be only the product name, not the full user message\n- use returned minio_url for saved product images\n- if one strong match exists, proceed\n- if multiple similar matches exist, ask a short clarification\n- never invent or guess a product URL\n\n2. scope=dispatch, operation=lookup_order\nUse to find one dispatch by:\n- exact_id\n- or natural-language reference_text such as order number, tracking number, item name, recipient name, city, state, street, or carrier\n\n3. scope=dispatch, operation=list_recent\nUse for recent dispatch history.\n\nDISPATCH RULES:\n- status=ok -> proceed\n- status=ambiguous -> ask one short clarification\n- status=not_found or missing_input -> ask for a clearer reference\n- if shipment_id becomes available, then call Terminal_Track Dispatch",
        "workflowId": {
          "__rl": true,
          "value": "IyoIY8owu4gs8Emj",
          "mode": "list",
          "cachedResultUrl": "/workflow/IyoIY8owu4gs8Emj",
          "cachedResultName": "MySquad Context Resolver"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "limit": "={{ $fromAI('limit', 'Max results to return. Default is 5.', 'number') || 5 }}",
            "scope": "={{ $fromAI('scope', 'products | dispatch', 'string') }}",
            "operation": "={{ $fromAI('operation', 'list | lookup_order | list_recent', 'string') }}",
            "reference_text": "={{ $fromAI('reference_text', 'For products: product name only. For dispatch: fuzzy search text such as product name, recipient name, city, carrier, or address text.', 'string') || '' }}",
            "exact_id": "={{ $fromAI('exact_id', 'Specific shipment ID, tracking number, or order number if known. Leave blank if unknown.', 'string') || '' }}",
            "tenant_id": "={{ $('Incoming Payload').first().json.tenant_id }}",
            "business_id": "REDACTED"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "scope",
              "displayName": "scope",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "operation",
              "displayName": "operation",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "reference_text",
              "displayName": "reference_text",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "exact_id",
              "displayName": "exact_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "tenant_id",
              "displayName": "tenant_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "business_id",
              "displayName": "business_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "limit",
              "displayName": "limit",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        3872,
        2448
      ],
      "id": "__NODE_17__",
      "name": "Context Resolver Tool"
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "=List recent customers and any saved customer notes.\n\nWHEN TO USE:\n- \"Who are my customers?\"\n- \"Show recent customers\"\n- \"What do I know about Ada?\"\n- before saving a customer note when you need the right platform_id\n\nRETURNS:\n- platform_id\n- customer identity fields\n- recent activity\n- saved notes\n\nRULES:\n- Present conversationally.\n- Surface platform_id internally for follow-up tool use.\n- Use this tool to identify a customer before saving or updating their note.",
        "operation": "executeQuery",
        "query": "SELECT\n  platform_id,\n  display_name,\n  username,\n  message_count,\n  last_seen_at,\n  notes\nFROM table_13\ncolumn_1 $1::uuid\nORDER BY last_seen_at DESC\nLIMIT 10",
        "options": {
          "queryReplacement": "={{ [$('Incoming Payload').first().json.business_id] }}"
        }
      },
      "type": "n8n-nodes-base.postgresTool",
      "typeVersion": 2.6,
      "position": [
        3472,
        2448
      ],
      "id": "__NODE_18__",
      "name": "List Customers Tool",
      "credentials": {
        "postgres": {
          "id": "__POSTGRES_CRED_ID",
          "name": "PostgreSQL Credentials"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "=Save or replace a customer profile note.\n\nWHEN TO USE:\n- \"Mark Ada as VIP\"\n- \"Save Tunde's measurements\"\n- \"Note that this customer prefers delivery\"\n- \"Remember that this customer had a complaint\"\n\nREQUIRED:\n- platform_id\n- notes\n\nRULES:\n- If updating an existing note, read the current note first and then write the full updated note.\n- Use platform_id from table_14 Customers or order details.\n- Use for customer-level preferences and context, not order-specific notes.",
        "operation": "executeQuery",
        "query": "UPDATE table_13\ncolumn_6 $3\ncolumn_1 $1::uuid\n  column_7 $2::text\nRETURNING platform_id, display_name, notes",
        "options": {
          "queryReplacement": "={{ [\n  $('Incoming Payload').first().json.business_id,\n  $fromAI('platform_id', 'Customer Telegram chat ID \u2014 from table_15 order details or List Customers tool', 'string'),\n  $fromAI('notes', 'Full notes about this customer. Replaces existing notes \u2014 include everything relevant.', 'string')\n] }}"
        }
      },
      "type": "n8n-nodes-base.postgresTool",
      "typeVersion": 2.6,
      "position": [
        3296,
        2448
      ],
      "id": "__NODE_19__",
      "name": "Save Customer Note Tool",
      "credentials": {
        "postgres": {
          "id": "__POSTGRES_CRED_ID",
          "name": "PostgreSQL Credentials"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const outputRaw = $('Agent A \u2014 Orders').first().json.output || '';\nconst incomingData = $('Incoming Payload').first().json;\n\nlet bufferMessage = null;\nlet caption = null;\nlet genPrompt = null;\nlet genMode = null;\nlet response_type = 'text';\nlet output = outputRaw;\nlet mediaType = null;\n\n// Notification flags\nlet hasOrderConfirmed = false;\nlet confirmedOrderNumber = null;\nlet confirmedCustomerChatId = null;\nlet paymentConfirmed = false;\nlet paymentOrderNumber = null;\nlet broadcastMessage = null;\n\n// Extract [BUFFER: ...]\nconst bufferMatch = outputRaw.match(/\\[BUFFER:\\s*(.*?)\\]/s);\nif (bufferMatch) {\n  bufferMessage = bufferMatch[1].trim();\n}\n\n// Extract [CAPTION: ...]\nconst captionMatch = outputRaw.match(/\\[CAPTION:\\s*(.*?)\\]/s);\nif (captionMatch) {\n  caption = captionMatch[1].trim();\n}\n\n// Extract [ORDER_CONFIRMED: ...]\nconst orderConfirmedMatch = outputRaw.match(/\\[ORDER_CONFIRMED:\\s*([\\w-]+)\\s*\\|\\s*(\\d+)\\]/);\nif (orderConfirmedMatch) {\n  hasOrderConfirmed = true;\n  confirmedOrderNumber = orderConfirmedMatch[1].trim();\n  confirmedCustomerChatId = orderConfirmedMatch[2].trim();\n}\n\n// Extract [PAYMENT_CONFIRMED: ...]\nconst paymentConfirmedMatch = outputRaw.match(/\\[PAYMENT_CONFIRMED:\\s*([\\w-]+)\\s*(?:\\|\\s*(\\d+))?\\]/);\nif (paymentConfirmedMatch) {\n  paymentConfirmed = true;\n  paymentOrderNumber = paymentConfirmedMatch[1].trim();\n  if (paymentConfirmedMatch[2]) {\n    confirmedCustomerChatId = paymentConfirmedMatch[2].trim();\n  }\n}\n\n// Extract [BROADCAST: ...]\nconst broadcastMatch = outputRaw.match(/\\[BROADCAST:\\s*([\\s\\S]*?)\\]/);\nif (broadcastMatch) {\n  broadcastMessage = broadcastMatch[1].trim().substring(0, 1000);\n}\n\n// Extract legacy generation tags\nconst imageGenMatch    = outputRaw.match(/\\[IMAGE_GEN:\\s*(.*?)\\]/s);\nconst videoGenMatch    = outputRaw.match(/\\[VIDEO_GEN:\\s*(.*?)\\]/s);\nconst image2imageMatch = outputRaw.match(/\\[IMAGE2IMAGE:\\s*(.*?)\\]/s);\nconst image2videoMatch = outputRaw.match(/\\[IMAGE2VIDEO:\\s*(.*?)\\]/s);\n\nif (imageGenMatch) {\n  response_type = 'image'; genPrompt = imageGenMatch[1].trim(); genMode = 'text_to_image'; mediaType = 'image';\n} else if (videoGenMatch) {\n  response_type = 'video'; genPrompt = videoGenMatch[1].trim(); genMode = 'text_to_video'; mediaType = 'video';\n} else if (image2imageMatch) {\n  response_type = 'image'; genPrompt = image2imageMatch[1].trim(); genMode = 'image_to_image'; mediaType = 'image';\n} else if (image2videoMatch) {\n  response_type = 'video'; genPrompt = image2videoMatch[1].trim(); genMode = 'image_to_video'; mediaType = 'video';\n}\n\n// Check for FAL_MEDIA_REQUEST\nconst hasFalRequest = outputRaw.includes('[FAL_MEDIA_REQUEST:');\n\nif (hasFalRequest) {\n  response_type = 'image';\n\n  const falStart = outputRaw.indexOf('[FAL_MEDIA_REQUEST:');\n  if (falStart !== -1) {\n    const braceStart = outputRaw.indexOf('{', falStart);\n    if (braceStart !== -1) {\n      let braceCount = 0;\n      let braceEnd = -1;\n      let inString = false;\n      let escapeNext = false;\n\n      for (let i = braceStart; i < outputRaw.length; i++) {\n        const char = outputRaw[i];\n        if (escapeNext) { escapeNext = false; continue; }\n        if (char === '\\\\') { escapeNext = true; continue; }\n        if (char === '\"') { inString = !inString; continue; }\n        if (!inString) {\n          if (char === '{') braceCount++;\n          if (char === '}') {\n            braceCount--;\n            if (braceCount === 0) { braceEnd = i; break; }\n          }\n        }\n      }\n\n      if (braceEnd !== -1) {\n        const falContent = outputRaw.substring(braceStart, braceEnd + 1);\n\n        const modeMatch   = falContent.match(/\"generation_mode\"\\s*:\\s*\"([^\"]+)\"/);\n        if (modeMatch) genMode = modeMatch[1];\n\n        const promptMatch = falContent.match(/\"prompt\"\\s*:\\s*\"((?:[^\"\\\\]|\\\\.)*)\"/);\n        if (promptMatch) genPrompt = promptMatch[1].replace(/\\\\\"/g, '\"').replace(/\\\\\\\\/g, '\\\\');\n\n        if (genMode === 'text_to_image' || genMode === 'image_to_image') {\n          response_type = 'image'; mediaType = 'image';\n        } else if (genMode === 'text_to_video' || genMode === 'image_to_video') {\n          response_type = 'video'; mediaType = 'video';\n        }\n      }\n    }\n  }\n\n  if (!bufferMessage && genMode) bufferMessage = 'Gimme a sec...';\n  if (!caption && genMode) caption = 'Here you go!';\n\n  return {\n    json: {\n      output: outputRaw,\n      response_type,\n      message_type_in: incomingData.message_type || 'text',\n      gen_prompt: genPrompt,\n      gen_mode: genMode,\n      buffer_message: bufferMessage,\n      caption,\n      has_order_confirmed: hasOrderConfirmed,\n      confirmed_order_number: confirmedOrderNumber,\n      confirmed_customer_chat_id: confirmedCustomerChatId,\n      payment_confirmed: paymentConfirmed,\n      payment_order_number: paymentOrderNumber,\n      broadcast_message: broadcastMessage,\n    }\n  };\n}\n\n// \u2500\u2500 Non-media responses \u2014 clean output \u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\nlet cleanOutput = outputRaw;\ncleanOutput = cleanOutput\n  .replace(/\\[BUFFER:.*?\\]/s, '')\n  .replace(/\\[CAPTION:.*?\\]/s, '')\n  .replace(/\\[ORDER_CONFIRMED:.*?\\]/s, '')\n  .replace(/\\[PAYMENT_CONFIRMED:.*?\\]/s, '')\n  .replace(/\\[BROADCAST:[\\s\\S]*?\\]/g, '')\n  .trim();\n\nif (!cleanOutput || cleanOutput === '') {\n  cleanOutput = 'Done!';\n}\n\nreturn {\n  json: {\n    output: cleanOutput.trim(),\n    response_type,\n    message_type_in: incomingData.message_type || 'text',\n    gen_prompt: null,\n    gen_mode: null,\n    buffer_message: null,\n    caption: null,\n    has_order_confirmed: hasOrderConfirmed,\n    confirmed_order_number: confirmedOrderNumber,\n    confirmed_customer_chat_id: confirmedCustomerChatId,\n    payment_confirmed: paymentConfirmed,\n    payment_order_number: paymentOrderNumber,\n    broadcast_message: broadcastMessage,\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2880,
        2064
      ],
      "id": "__NODE_20__",
      "name": "Output Classifier"
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\nconst incoming = $('Incoming Payload').first().json;\n\nreturn {\n  json: {\n    output:          data.output,\n    response_type:   data.response_type,\n    message_type_in: data.message_type_in || 'text',\n    gen_prompt:      data.gen_prompt      || null,\n    gen_mode:        data.gen_mode        || null,\n    buffer_message:  data.buffer_message  || null,\n    caption:         data.caption         || null,\n    // Required by main handler\n    bot_token:                  $('Build Agent A Config').first().json.bot_token,\n    chat_id:                    incoming.chat_id,\n    conversation_id:            incoming.conversation_id,\n    tenant_id:                  incoming.tenant_id,\n    user_message:               incoming.text || incoming.caption || '',\n    is_owner:                   true,\n    has_new_order:              data.has_new_order              || false,\n    order_number:               data.order_number               || null,\n    order_summary:              data.order_summary              || null,\n    has_order_confirmed:        data.has_order_confirmed        || false,\n    confirmed_order_number:     data.confirmed_order_number     || null,\n    confirmed_customer_chat_id: data.confirmed_customer_chat_id || null,\n    payment_confirmed:          data.payment_confirmed          || false,\n    payment_order_number:       data.payment_order_number       || null,\n    broadcast_message:          data.broadcast_message          || null,\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3120,
        2064
      ],
      "id": "__NODE_21__",
      "name": "Respond To Input"
    },
    {
      "parameters": {
        "toolDescription": "=Send a Telegram message directly to a customer.\n\nWHEN TO USE:\n- After cancelling a customer's order conversationally \u2014 notify them the order was cancelled\n- After putting an order on hold \u2014 notify customer\n- Any time you need to inform a customer of an action you took on their order\n\nPARAMETERS:\n- customer_chat_id: the customer_chat_id returned by the order tool\n- message: the message to send. Write naturally as if you are the business agent.\n\nCANCELLATION message example:\n\"Your order MSQ-XXXXX has been cancelled. Sorry about that \u2014 feel free to place a new order anytime.\"\n\nHOLD message example:\n\"Your order MSQ-XXXXX is currently on hold while we confirm availability. We'll update table_8 shortly \ud83d\ude4f\"",
        "method": "POST",
        "url": "={{ '[URL]' + $json.bot_token + '/sendMessage' }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ {\n  chat_id: $fromAI('customer_chat_id', 'The customer chat ID from table_5 order tool result', 'string'),\n  text:    $fromAI('message', 'The message to send to the customer', 'string'),\n  parse_mode: 'HTML'\n} }}",
        "options": {}
      },
      "id": "__NODE_22__",
      "name": "Notify_Customer",
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.4,
      "position": [
        4032,
        2272
      ]
    }
  ],
  "connections": {
    "Incoming Payload": {
      "main": [
        [
          {
            "node": "Load Owner Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Load Owner Context": {
      "main": [
        [
          {
            "node": "Load Pending Orders",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Load Pending Orders": {
      "main": [
        [
          {
            "node": "Build Agent A Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Agent A Config": {
      "main": [
        [
          {
            "node": "Agent A \u2014 Orders",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agent A \u2014 Orders": {
      "main": [
        [
          {
            "node": "Output Classifier",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Agent A \u2014 Orders",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Agent A Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "Agent A \u2014 Orders",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "List Orders Tool": {
      "ai_tool": [
        [
          {
            "node": "Agent A \u2014 Orders",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get Order Details Tool": {
      "ai_tool": [
        [
          {
            "node": "Agent A \u2014 Orders",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Confirm Order Tool": {
      "ai_tool": [
        [
          {
            "node": "Agent A \u2014 Orders",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Update Order Status Tool": {
      "ai_tool": [
        [
          {
            "node": "Agent A \u2014 Orders",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Confirm Payment Tool": {
      "ai_tool": [
        [
          {
            "node": "Agent A \u2014 Orders",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Add Owner Notes Tool": {
      "ai_tool": [
        [
          {
            "node": "Agent A \u2014 Orders",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Terminal_Get Dispatch Quotes": {
      "ai_tool": [
        [
          {
            "node": "Agent A \u2014 Orders",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Terminal_Confirm Dispatch Order": {
      "ai_tool": [
        [
          {
            "node": "Agent A \u2014 Orders",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Terminal_Track Dispatch": {
      "ai_tool": [
        [
          {
            "node": "Agent A \u2014 Orders",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Context Resolver Tool": {
      "ai_tool": [
        [
          {
            "node": "Agent A \u2014 Orders",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "List Customers Tool": {
      "ai_tool": [
        [
          {
            "node": "Agent A \u2014 Orders",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Save Customer Note Tool": {
      "ai_tool": [
        [
          {
            "node": "Agent A \u2014 Orders",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Output Classifier": {
      "main": [
        [
          {
            "node": "Respond To Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notify_Customer": {
      "ai_tool": [
        [
          {
            "node": "Agent A \u2014 Orders",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "timeSavedMode": "fixed",
    "errorWorkflow": "gmbekEHeofgw6FGi",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "__VERSION_ID__",
  "activeVersionId": "1d7a06b2-396e-4758-9e9c-e84d753bce91",
  "versionCounter": 110,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-05-29T14:53:32.687Z",
      "createdAt": "2026-05-29T14:53:32.687Z",
      "role": "workflow:owner",
      "workflowId": "eTmst8vgFfBu7I8Z",
      "projectId": "ir6dYbaAlha8WGmA",
      "project": {
        "updatedAt": "2026-01-30T11:59:38.451Z",
        "createdAt": "2026-01-30T11:25:24.975Z",
        "id": "ir6dYbaAlha8WGmA",
        "name": "Orange orangegroups.ai@gmail.com <orangegroups.ai@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "d6320d31-a534-40f1-9f67-e1a589e8f288"
      }
    }
  ],
  "versionMetadata": {
    "name": "Version 1d7a06b2",
    "description": ""
  },
  "_sanitization_metadata": {
    "sanitized_at": "2026-06-26T13:55:21.649910+00:00",
    "original_name": "MySquad Agent A \u2014 Orders & Dispatch",
    "note": "Sensitive data replaced with placeholders.",
    "tables_renamed": {
      "msq_agent_memory": "table_1",
      "msq_tenant_context": "table_2",
      "msq_platform_integrations": "table_3",
      "msq_customer_orders": "table_4",
      "the": "table_5",
      "status": "table_6",
      "saved": "table_7",
      "you": "table_8",
      "another.": "table_9",
      "exact": "table_10",
      "active": "table_11",
      "multiple": "table_12",
      "msq_customers": "table_13",
      "List": "table_14",
      "their": "table_15"
    },
    "columns_renamed": {
      "business_id": "column_1",
      "order_number": "column_2",
      "status": "column_3",
      "payment_status": "column_4",
      "owner_notes": "column_5",
      "notes": "column_6",
      "platform_id": "column_7"
    }
  }
}