MySquad_workflows/Agent_Modules_And_Tools/MySquad_Agent_F_Speedy_Finance_sanitized.json
{
  "updatedAt": "2026-05-31T08:55:35.003Z",
  "createdAt": "2026-05-29T15:53:21.153Z",
  "id": "__WORKFLOW_ID__",
  "name": "MySquad Agent F \u2014 Speedy Finance",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "inputSource": "jsonExample",
        "jsonExample": "{\"tenant_id\": \"uuid\", \"business_id\": \"uuid\", \"chat_id\": \"813122587\", \"sender_id\": \"813122587\", \"bot_token\": \"token\", \"conversation_id\": \"uuid\", \"text\": \"send 5000 to 0123456789 GTB\", \"message_type\": \"text\", \"display_name\": \"Nelly\", \"username\": \"\", \"image_id\": \"\", \"caption\": \"\", \"source\": \"telegram\"}"
      },
      "id": "__NODE_1__",
      "name": "Incoming Payload",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -16,
        -16
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT tc.*,\n  pi.access_token AS bot_token,\n  (SELECT json_agg(json_build_object('key', m.key, 'value', m.value))\n   FROM table_1 m\n   WHERE m.business_id = tc.business_id\n     AND m.is_active = true\n     AND (m.expires_at IS NULL OR m.expires_at > now())\n  ) as agent_memories\nFROM table_2 tc\nJOIN table_3 pi\n  ON pi.business_id = tc.business_id AND pi.platform = 'telegram'\nWHERE tc.tenant_id   = $1::uuid\n  AND tc.business_id = $2::uuid",
        "options": {
          "queryReplacement": "={{ [\n  $('Incoming Payload').first().json.tenant_id,\n  $('Incoming Payload').first().json.business_id\n] }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        224,
        -16
      ],
      "id": "__NODE_2__",
      "name": "Load Owner Context",
      "credentials": {
        "postgres": {
          "id": "__POSTGRES_CRED_ID",
          "name": "PostgreSQL Credentials"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const ctx = $('Load Owner Context').first().json;\nconst incoming = $('Incoming Payload').first().json;\n\nfunction asObject(v) {\n  if (v === null || v === undefined || v === '') return {};\n  if (typeof v === 'string') { try { return JSON.parse(v) ?? {}; } catch(e) { return {}; } }\n  return (v && typeof v === 'object' && !Array.isArray(v)) ? v : {};\n}\n\nconst toneProfile   = asObject(ctx.tone_profile);\nconst agentName     = ctx.agent_name     || 'MyGuy';\nconst businessName  = ctx.business_name  || 'your business';\nconst ownerName     = ctx.preferred_name || ctx.full_name || incoming.display_name || 'Boss';\nconst toneSummary   = toneProfile.tone_summary || 'friendly and professional';\nconst replyLanguage = String(ctx.reply_language || ctx.last_language_style || 'en').toLowerCase();\nconst whatsappNo    = ctx.whatsapp_no || ctx.phone_no || '';\n\nfunction formatLocalNow() {\n  try { return new Intl.DateTimeFormat('en-NG', { timeZone: 'Africa/Lagos', weekday: 'short', month: 'short', day: 'numeric', year: 'numeric', hour: '2-digit', minute: '2-digit' }).format(new Date()); }\n  catch(e) { return new Date().toISOString(); }\n}\n\nconst sep = '\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550';\n\nconst systemPrompt = `You are ${agentName}, the Speedy finance agent for ${ownerName}. Be warm, direct, and concise.\n\n${sep}\nOWNER CONTEXT\n${sep}\nOwner: ${ownerName}\nPhone number on file: ${whatsappNo || 'not set'}\nDefault reply language: ${replyLanguage === 'pidgin' ? 'Pidgin' : 'English'}\nCurrent Lagos time: ${formatLocalNow()}\n\n${sep}\nVOICE & PERSONALITY\n${sep}\nYou are ${agentName} \u2014 not a bot, not a system. You are a sharp, warm person handling ${ownerName}'s banking via Speedy.\n\nENGLISH REGISTER:\nWrite the way a smart Nigerian professional texts. Short. Direct. Lead with the result.\n- \"Sent \u20a65,000 to Ada \u2014 done.\" not \"I have successfully processed your transfer.\"\n- \"Your GTB balance is \u20a624,300.\" not \"I have retrieved your account balance.\"\n- Relay Speedy's responses naturally, as if you're reporting back from table_4 task.\n\nPIDGIN REGISTER:\nMirror the owner's Pidgin exactly.\n- \"I don send am\" not \"Transfer complete\"\n- \"Your balance na \u20a624,300\" not \"Your balance is \u20a624,300\"\n- \"Speedy say make you enter your PIN\" \u2192 relay Speedy follow-ups in Pidgin too\nDetect Pidgin from: dey, abeg, wetin, oya, wahala, sha, una, dem, na, abi, wan, e don, how far, no wahala, make we, sef.\n2 or more markers \u2192 full Pidgin. NEVER mix both in one reply.\n\nBANNED PHRASES:\n- \"Certainly!\", \"Of course!\", \"I'd be happy to...\"\n- \"I have successfully processed your request\"\n- \"Is there anything else I can help you with?\"\n- Any opener that restates what the owner just said\n\nEMOJI USE: Sparingly. One max per message.\n\n${sep}\nSCOPE \u2014 WHAT THIS AGENT HANDLES\n${sep}\nAll personal banking and financial operations via Speedy:\n- Money transfers to any bank account\n- Personal bank or wallet balance checks\n- Transaction history\n- Airtime and data purchases\n- Utility and TV bill payments (DSTV, EKEDC, etc.)\n- Any explicit \"@Speedy\" or \"ask Speedy\" request\n\nDoes NOT handle:\n- MySquad platform balance \u2192 that is Get Balance & Recharge Info in the Personal agent\n- Finance news or exchange rates \u2192 Web Search in the Personal agent\n- Business payments or order confirmations \u2192 Orders agent\n\nBOUNDARY EXAMPLES:\n\"How much balance do I have on MySquad?\" \u2192 NOT this agent\n\"What's in my GTB account?\" \u2192 THIS agent\n\"Transfer \u20a65,000 to 0123456789 GTB\" \u2192 THIS agent\n\"Dollar rate today\" \u2192 NOT this agent\n\n${sep}\nTOOL USAGE \u2014 CALL SPEEDY TOOL\n${sep}\nPass the owner's exact message unchanged as the message parameter.\nDo not rewrite, summarise, or sanitize the message.\nThe phone number on file (${whatsappNo || 'see OWNER CONTEXT above'}) is passed automatically \u2014 do not ask for it.\n\nFOLLOW-UP RULE:\nIf Speedy returned a question or prompt on the previous turn and the owner replies with\n\"yes\", \"no\", an amount, an account number, a PIN, or any direct continuation \u2014\ncall Speedy again immediately with that exact reply. Do not ask for clarification first.\n\nERROR RULE:\nIf Speedy returns a banking failure like \"insufficient balance\" or \"invalid account\",\nrelay it naturally: \"Speedy says your balance is too low for that transfer.\"\nOnly say Speedy is unavailable if the tool itself throws an error \u2014 not for banking failures.\n\n${sep}\nHARD RULES\n${sep}\nNever invent account numbers, balances, or transaction confirmations.\nNever ask for the owner's PIN \u2014 Speedy handles that directly.\nNever store or repeat sensitive financial details in your reply.\nIf the phone number on file is missing, tell the owner to update table_5 in their MySquad profile.`;\n\nreturn {\n  json: {\n    system_prompt:    systemPrompt,\n    text:             incoming.text || incoming.caption || '',\n    caption:          incoming.caption || '',\n    tenant_id:        incoming.tenant_id,\n    business_id:      incoming.business_id,\n    chat_id:          incoming.chat_id,\n    sender_id:        incoming.sender_id,\n    user_id:          incoming.tenant_id,\n    display_name:     incoming.display_name || '',\n    username:         incoming.username || '',\n    source:           incoming.source || 'telegram',\n    message_type:     incoming.message_type || 'text',\n    image_id:         incoming.image_id || '',\n    bot_token:        incoming.bot_token || ctx.bot_token || '',\n    conversation_id:  incoming.conversation_id || '',\n    is_owner:         true,\n  }\n};"
      },
      "id": "__NODE_3__",
      "name": "Build Agent F Config",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        464,
        -16
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.text || $json.caption || '' }}",
        "options": {
          "systemMessage": "={{ $json.system_prompt }}"
        }
      },
      "id": "__NODE_4__",
      "name": "Agent F \u2014 Speedy",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        704,
        -16
      ],
      "retryOnFail": true
    },
    {
      "parameters": {
        "model": "openai/gpt-oss-120b",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        656,
        192
      ],
      "id": "__NODE_5__",
      "name": "Groq Chat Model",
      "credentials": {
        "groqApi": {
          "id": "__GROQ_CRED_ID",
          "name": "Groq API Credentials"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "=owner_{{ $json.chat_id }}_{{ $json.tenant_id }}_{{ $json.business_id }}",
        "tableName": "msq_chat_histories",
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        800,
        192
      ],
      "id": "__NODE_6__",
      "name": "Agent F Chat Memory",
      "credentials": {
        "postgres": {
          "id": "__POSTGRES_CRED_ID",
          "name": "PostgreSQL Credentials"
        }
      }
    },
    {
      "parameters": {
        "description": "=Handles personal banking and financial operations by forwarding requests to Speedy AI.\n\nUSE THIS TOOL FOR:\n- money transfers\n- checking personal bank or wallet balance\n- transaction history\n- airtime or data purchase\n- utility or TV bill payments\n- explicit requests to Speedy\n\nSTRONG TRIGGERS:\n- \"@Speedy ...\"\n- \"Speedy, ...\"\n- \"ask Speedy ...\"\n- \"tell Speedy ...\"\n- \"transfer money\"\n- \"send 5000 to ...\"\n- \"check my account balance\"\n- \"buy airtime\"\n- \"pay DSTV\"\n- \"show transaction history\"\n\nDO NOT USE THIS TOOL FOR:\n- MySquad platform balance, top-up, recharge, or pricing\n  -> use Get Balance & Recharge Info or Get Credit Usage History\n- finance news, exchange rates, crypto prices\n  -> use Web Search Tool\n- non-financial image analysis\n- generic educational finance questions\n\nIMPORTANT BOUNDARY:\n- \"How much balance do I have left on MySquad?\" -> NOT Speedy\n- \"What's in my bank account?\" -> Speedy\n\nINPUT RULE:\n- Pass the owner's exact message or caption unchanged.\n- Do not rewrite, summarize, or sanitize the message.\n\nFOLLOW-UP RULE:\n- If Speedy asked a follow-up question earlier and the owner replies with \"yes\", \"no\", an amount, an account number, or another continuation, call Speedy again with that exact reply.\n\nERROR RULE:\n- If Speedy returns a banking failure like \"insufficient balance\", relay it as a normal answer.\n- Only if the tool itself fails should you say Speedy is unavailable.",
        "workflowId": {
          "__rl": true,
          "value": "UO0aVWbpZKpAlfc8",
          "mode": "list",
          "cachedResultUrl": "/workflow/UO0aVWbpZKpAlfc8",
          "cachedResultName": "Speedy Sub workflow"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "phonenumber": "REDACTED",
            "message": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('message', ``, 'string') }}",
            "id": "={{ $json.image_id || '' }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "message",
              "displayName": "message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "phonenumber",
              "displayName": "phonenumber",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number",
              "removed": false
            },
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        1008,
        192
      ],
      "id": "__NODE_7__",
      "name": "Call Speedy Tool"
    },
    {
      "parameters": {
        "jsCode": "const outputRaw = $('Agent F \u2014 Speedy').first().json.output || '';\nconst incomingData = $('Incoming Payload').first().json;\n\nlet bufferMessage = null;\nlet caption = null;\nlet genPrompt = null;\nlet genMode = null;\nlet response_type = 'text';\nlet output = outputRaw;\nlet mediaType = null;\n\n// Notification flags\nlet hasOrderConfirmed = false;\nlet confirmedOrderNumber = null;\nlet confirmedCustomerChatId = null;\nlet paymentConfirmed = false;\nlet paymentOrderNumber = null;\nlet broadcastMessage = null;\n\n// Extract [BUFFER: ...]\nconst bufferMatch = outputRaw.match(/\\[BUFFER:\\s*(.*?)\\]/s);\nif (bufferMatch) {\n  bufferMessage = bufferMatch[1].trim();\n}\n\n// Extract [CAPTION: ...]\nconst captionMatch = outputRaw.match(/\\[CAPTION:\\s*(.*?)\\]/s);\nif (captionMatch) {\n  caption = captionMatch[1].trim();\n}\n\n// Extract [ORDER_CONFIRMED: ...]\nconst orderConfirmedMatch = outputRaw.match(/\\[ORDER_CONFIRMED:\\s*([\\w-]+)\\s*\\|\\s*(\\d+)\\]/);\nif (orderConfirmedMatch) {\n  hasOrderConfirmed = true;\n  confirmedOrderNumber = orderConfirmedMatch[1].trim();\n  confirmedCustomerChatId = orderConfirmedMatch[2].trim();\n}\n\n// Extract [PAYMENT_CONFIRMED: ...]\nconst paymentConfirmedMatch = outputRaw.match(/\\[PAYMENT_CONFIRMED:\\s*([\\w-]+)\\s*(?:\\|\\s*(\\d+))?\\]/);\nif (paymentConfirmedMatch) {\n  paymentConfirmed = true;\n  paymentOrderNumber = paymentConfirmedMatch[1].trim();\n  if (paymentConfirmedMatch[2]) {\n    confirmedCustomerChatId = paymentConfirmedMatch[2].trim();\n  }\n}\n\n// Extract [BROADCAST: ...]\nconst broadcastMatch = outputRaw.match(/\\[BROADCAST:\\s*([\\s\\S]*?)\\]/);\nif (broadcastMatch) {\n  broadcastMessage = broadcastMatch[1].trim().substring(0, 1000);\n}\n\n// Extract legacy generation tags\nconst imageGenMatch    = outputRaw.match(/\\[IMAGE_GEN:\\s*(.*?)\\]/s);\nconst videoGenMatch    = outputRaw.match(/\\[VIDEO_GEN:\\s*(.*?)\\]/s);\nconst image2imageMatch = outputRaw.match(/\\[IMAGE2IMAGE:\\s*(.*?)\\]/s);\nconst image2videoMatch = outputRaw.match(/\\[IMAGE2VIDEO:\\s*(.*?)\\]/s);\n\nif (imageGenMatch) {\n  response_type = 'image'; genPrompt = imageGenMatch[1].trim(); genMode = 'text_to_image'; mediaType = 'image';\n} else if (videoGenMatch) {\n  response_type = 'video'; genPrompt = videoGenMatch[1].trim(); genMode = 'text_to_video'; mediaType = 'video';\n} else if (image2imageMatch) {\n  response_type = 'image'; genPrompt = image2imageMatch[1].trim(); genMode = 'image_to_image'; mediaType = 'image';\n} else if (image2videoMatch) {\n  response_type = 'video'; genPrompt = image2videoMatch[1].trim(); genMode = 'image_to_video'; mediaType = 'video';\n}\n\n// Check for FAL_MEDIA_REQUEST\nconst hasFalRequest = outputRaw.includes('[FAL_MEDIA_REQUEST:');\n\nif (hasFalRequest) {\n  response_type = 'image';\n\n  const falStart = outputRaw.indexOf('[FAL_MEDIA_REQUEST:');\n  if (falStart !== -1) {\n    const braceStart = outputRaw.indexOf('{', falStart);\n    if (braceStart !== -1) {\n      let braceCount = 0;\n      let braceEnd = -1;\n      let inString = false;\n      let escapeNext = false;\n\n      for (let i = braceStart; i < outputRaw.length; i++) {\n        const char = outputRaw[i];\n        if (escapeNext) { escapeNext = false; continue; }\n        if (char === '\\\\') { escapeNext = true; continue; }\n        if (char === '\"') { inString = !inString; continue; }\n        if (!inString) {\n          if (char === '{') braceCount++;\n          if (char === '}') {\n            braceCount--;\n            if (braceCount === 0) { braceEnd = i; break; }\n          }\n        }\n      }\n\n      if (braceEnd !== -1) {\n        const falContent = outputRaw.substring(braceStart, braceEnd + 1);\n\n        const modeMatch   = falContent.match(/\"generation_mode\"\\s*:\\s*\"([^\"]+)\"/);\n        if (modeMatch) genMode = modeMatch[1];\n\n        const promptMatch = falContent.match(/\"prompt\"\\s*:\\s*\"((?:[^\"\\\\]|\\\\.)*)\"/);\n        if (promptMatch) genPrompt = promptMatch[1].replace(/\\\\\"/g, '\"').replace(/\\\\\\\\/g, '\\\\');\n\n        if (genMode === 'text_to_image' || genMode === 'image_to_image') {\n          response_type = 'image'; mediaType = 'image';\n        } else if (genMode === 'text_to_video' || genMode === 'image_to_video') {\n          response_type = 'video'; mediaType = 'video';\n        }\n      }\n    }\n  }\n\n  if (!bufferMessage && genMode) bufferMessage = 'Gimme a sec...';\n  if (!caption && genMode) caption = 'Here you go!';\n\n  return {\n    json: {\n      output: outputRaw,\n      response_type,\n      message_type_in: incomingData.message_type || 'text',\n      gen_prompt: genPrompt,\n      gen_mode: genMode,\n      buffer_message: bufferMessage,\n      caption,\n      has_order_confirmed: hasOrderConfirmed,\n      confirmed_order_number: confirmedOrderNumber,\n      confirmed_customer_chat_id: confirmedCustomerChatId,\n      payment_confirmed: paymentConfirmed,\n      payment_order_number: paymentOrderNumber,\n      broadcast_message: broadcastMessage,\n    }\n  };\n}\n\n// \u2500\u2500 Non-media responses \u2014 clean output \u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\nlet cleanOutput = outputRaw;\ncleanOutput = cleanOutput\n  .replace(/\\[BUFFER:.*?\\]/s, '')\n  .replace(/\\[CAPTION:.*?\\]/s, '')\n  .replace(/\\[ORDER_CONFIRMED:.*?\\]/s, '')\n  .replace(/\\[PAYMENT_CONFIRMED:.*?\\]/s, '')\n  .replace(/\\[BROADCAST:[\\s\\S]*?\\]/g, '')\n  .trim();\n\nif (!cleanOutput || cleanOutput === '') {\n  cleanOutput = 'Done!';\n}\n\nreturn {\n  json: {\n    output: cleanOutput.trim(),\n    response_type,\n    message_type_in: incomingData.message_type || 'text',\n    gen_prompt: null,\n    gen_mode: null,\n    buffer_message: null,\n    caption: null,\n    has_order_confirmed: hasOrderConfirmed,\n    confirmed_order_number: confirmedOrderNumber,\n    confirmed_customer_chat_id: confirmedCustomerChatId,\n    payment_confirmed: paymentConfirmed,\n    payment_order_number: paymentOrderNumber,\n    broadcast_message: broadcastMessage,\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        944,
        -16
      ],
      "id": "__NODE_8__",
      "name": "Output Classifier"
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\nconst incoming = $('Incoming Payload').first().json;\n\nreturn {\n  json: {\n    output:          data.output,\n    response_type:   data.response_type,\n    message_type_in: data.message_type_in || 'text',\n    gen_prompt:      data.gen_prompt      || null,\n    gen_mode:        data.gen_mode        || null,\n    buffer_message:  data.buffer_message  || null,\n    caption:         data.caption         || null,\n    // Required by main handler\n    bot_token:                  $('Build Agent F Config').first().json.bot_token,\n    chat_id:                    incoming.chat_id,\n    conversation_id:            incoming.conversation_id,\n    tenant_id:                  incoming.tenant_id,\n    user_message:               incoming.text || incoming.caption || '',\n    is_owner:                   true,\n    has_new_order:              data.has_new_order              || false,\n    order_number:               data.order_number               || null,\n    order_summary:              data.order_summary              || null,\n    has_order_confirmed:        data.has_order_confirmed        || false,\n    confirmed_order_number:     data.confirmed_order_number     || null,\n    confirmed_customer_chat_id: data.confirmed_customer_chat_id || null,\n    payment_confirmed:          data.payment_confirmed          || false,\n    payment_order_number:       data.payment_order_number       || null,\n    broadcast_message:          data.broadcast_message          || null,\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1184,
        -16
      ],
      "id": "__NODE_9__",
      "name": "Respond To Input"
    }
  ],
  "connections": {
    "Incoming Payload": {
      "main": [
        [
          {
            "node": "Load Owner Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Load Owner Context": {
      "main": [
        [
          {
            "node": "Build Agent F Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Agent F Config": {
      "main": [
        [
          {
            "node": "Agent F \u2014 Speedy",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agent F \u2014 Speedy": {
      "main": [
        [
          {
            "node": "Output Classifier",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Output Classifier": {
      "main": [
        [
          {
            "node": "Respond To Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Agent F \u2014 Speedy",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Agent F Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "Agent F \u2014 Speedy",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Call Speedy Tool": {
      "ai_tool": [
        [
          {
            "node": "Agent F \u2014 Speedy",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "timeSavedMode": "fixed",
    "errorWorkflow": "gmbekEHeofgw6FGi",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "__VERSION_ID__",
  "activeVersionId": "0e273d77-6e3a-49fd-8289-8e441f0f5ba6",
  "versionCounter": 19,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-05-29T15:53:21.153Z",
      "createdAt": "2026-05-29T15:53:21.153Z",
      "role": "workflow:owner",
      "workflowId": "TSFMiZ3Sar7jNf6H",
      "projectId": "ir6dYbaAlha8WGmA",
      "project": {
        "updatedAt": "2026-01-30T11:59:38.451Z",
        "createdAt": "2026-01-30T11:25:24.975Z",
        "id": "ir6dYbaAlha8WGmA",
        "name": "Orange orangegroups.ai@gmail.com <orangegroups.ai@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "d6320d31-a534-40f1-9f67-e1a589e8f288"
      }
    }
  ],
  "versionMetadata": {
    "name": "Version 0e273d77",
    "description": ""
  },
  "_sanitization_metadata": {
    "sanitized_at": "2026-06-26T13:55:21.695321+00:00",
    "original_name": "MySquad Agent F \u2014 Speedy Finance",
    "note": "Sensitive data replaced with placeholders.",
    "tables_renamed": {
      "msq_agent_memory": "table_1",
      "msq_tenant_context": "table_2",
      "msq_platform_integrations": "table_3",
      "a": "table_4",
      "it": "table_5"
    },
    "columns_renamed": {}
  }
}