MySquad_workflows/Agent_Modules_And_Tools/MySquad_Agent_B_Business_Content_sanitized.json
{
  "updatedAt": "2026-06-08T13:59:42.509Z",
  "createdAt": "2026-05-29T15:11:51.677Z",
  "id": "__WORKFLOW_ID__",
  "name": "MySquad Agent B \u2014 Business & Content",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "inputSource": "jsonExample",
        "jsonExample": "{\"tenant_id\": \"uuid\", \"business_id\": \"uuid\", \"chat_id\": \"813122587\", \"sender_id\": \"813122587\", \"bot_token\": \"token\", \"conversation_id\": \"uuid\", \"text\": \"update table_1 catalogue\", \"message_type\": \"text\", \"display_name\": \"Nelly\", \"username\": \"\", \"image_id\": \"\", \"caption\": \"\", \"source\": \"telegram\"}"
      },
      "id": "__NODE_1__",
      "name": "Incoming Payload",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        576,
        -16
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT tc.*,\n  pi.access_token AS bot_token,\n  (SELECT json_agg(json_build_object('key', m.key, 'value', m.value))\n   FROM table_2 m\n   WHERE m.business_id = tc.business_id\n     AND m.is_active = true\n     AND (m.expires_at IS NULL OR m.expires_at > now())\n  ) as agent_memories\nFROM table_3 tc\nJOIN table_4 pi\n  ON pi.business_id = tc.business_id AND pi.platform = 'telegram'\nWHERE tc.tenant_id   = $1::uuid\n  AND tc.business_id = $2::uuid",
        "options": {
          "queryReplacement": "={{ [\n  $('Incoming Payload').first().json.tenant_id,\n  $('Incoming Payload').first().json.business_id\n] }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        816,
        -16
      ],
      "id": "__NODE_2__",
      "name": "Load Owner Context",
      "credentials": {
        "postgres": {
          "id": "__POSTGRES_CRED_ID",
          "name": "PostgreSQL Credentials"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const ctx = $('Load Owner Context').first().json;\nconst incoming = $('Incoming Payload').first().json;\n\nfunction safeParse(v, fb) {\n if (v === null || v === undefined || v === '') return fb;\n if (typeof v === 'string') { try { return JSON.parse(v) ?? fb; } catch(e) { return fb; } }\n return v;\n}\nfunction asArray(v) { const p = safeParse(v, []); return Array.isArray(p) ? p : []; }\nfunction asObject(v) { const p = safeParse(v, {}); return (p && typeof p === 'object' && !Array.isArray(p)) ? p : {}; }\nfunction getMemory(memories, key) { const r = memories.find(m => m && m.key === key); return r ? String(r.value || '') : ''; }\nfunction formatLocalNow() {\n try { return new Intl.DateTimeFormat('en-NG', { timeZone: 'Africa/Lagos', weekday: 'short', month: 'short', day: 'numeric', year: 'numeric', hour: '2-digit', minute: '2-digit' }).format(new Date()); }\n catch(e) { return new Date().toISOString(); }\n}\n\nconst memories = asArray(ctx.agent_memories);\nconst toneProfile = asObject(ctx.tone_profile);\nconst agentRulesSource = ctx.agent_rules?.rules ?? ctx.agent_rules ?? [];\nconst agentRules = Array.isArray(agentRulesSource) ? agentRulesSource : asArray(agentRulesSource);\n\nconst agentName = ctx.agent_name || 'MyGuy';\nconst businessName = ctx.business_name || 'your business';\nconst ownerName = ctx.preferred_name || ctx.full_name || incoming.display_name || 'Boss';\nconst businessType = ctx.business_type || '';\nconst businessDesc = ctx.business_description || '';\nconst businessLocation = ctx.business_location || '';\nconst catalogueSummary = ctx.catalogue_summary || 'No catalogue yet.';\nconst toneSummary = toneProfile.tone_summary || 'friendly and professional';\nconst replyLanguage = String(ctx.reply_language || ctx.last_language_style || 'en').toLowerCase();\nconst businessMode = ctx.business_mode || getMemory(memories, 'business_mode') || 'product_only';\nconst isService = businessMode === 'service_only';\nconst isHybrid = businessMode === 'hybrid_product_led' || businessMode === 'hybrid_service_led';\nconst hasProduct = businessMode === 'product_only' || isHybrid;\n\nconst catalogueLabel = isService && !hasProduct ? 'SERVICES OFFERED' : hasProduct && !isService ? 'PRODUCT CATALOGUE' : 'PRODUCTS AND SERVICES';\nconst imageUrl = incoming.image_id || '';\n\nconst memoryText = memories.length ? memories.map(m => `- ${m.key}: ${m.value}`).join('\\n') : 'None.';\nconst rulesText = agentRules.length ? agentRules.map(r => `- ${r}`).join('\\n') : 'None.';\nconst sep = '\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550';\n\nconst systemPrompt = `You are ${agentName}, the business setup and content agent for ${businessName}. Be warm, direct, and concise.\n\n${sep}\nOWNER CONTEXT\n${sep}\nOwner: ${ownerName}\nBusiness: ${businessName}\n${businessType ? 'Type: ' + businessType : ''}\n${businessDesc ? 'Description: ' + businessDesc : ''}\n${businessLocation ? 'Location: ' + businessLocation : ''}\nDefault reply language: ${replyLanguage === 'pidgin' ? 'Pidgin' : 'English'}\nCurrent Lagos time: ${formatLocalNow()}\nMessage type: ${incoming.message_type || 'text'}\n${imageUrl ? 'Source image URL: ' + imageUrl : ''}\n\n${catalogueLabel}:\n${catalogueSummary}\n\nBusiness memory:\n${memoryText}\n\nBusiness rules:\n${rulesText}\n\n${sep}\nVOICE & PERSONALITY\n${sep}\nYou are ${agentName}, not a bot, not a system, not an assistant. You are a sharp, warm person who works for ${ownerName}.\n\nENGLISH REGISTER:\nSound like a warm, sharp Nigerian business assistant, not a chatbot.\n- Lead with the answer. Never open with a filler word.\n Good: \"Your order MSQ-A3K7F2 is being prepared \ud83d\udd04\"\n Bad: \"Sure! Here is your order status.\"\n Good: \"We've got three options, the ankara at \u20a615k, the lace at \u20a622k, and the ready-made at \u20a69k.\"\n Bad: \"Of course! We have a variety of items available for you today!\"\n- Warmth comes from table_5 content and tone of your reply, not from table_6\n- Use contractions always: \"I'll\", \"you'll\", \"it's\", \"we've\", \"here's\"\n- 1-3 sentences for simple questions. More only when genuinely needed.\n\nPIDGIN REGISTER:\nMirror the owner's Pidgin exactly. Do not tone it down or formalize it.\nNatural Pidgin patterns:\n- \"I don confirm am\" not \"I have confirmed it\"\n- \"Which one you mean?\" not \"Could you clarify which order?\"\n- \"No wahala\" not \"No problem\"\nDetect Pidgin from: dey, abeg, wetin, oya, wahala, sha, una, dem, na, abi, wan, e don, how far, no wahala, make we, sef, comot, chop.\nIf 2 or more markers appear \u2192 respond in full Pidgin. If the owner switches to English, switch back.\nNEVER mix Pidgin and English in the same reply.\n\nBANNED PHRASES, never start a sentence with any of these:\n\"Sure!\", \"Sure thing!\", \"Of course!\", \"Absolutely!\", \"Certainly!\", \"Great!\", \"Great choice!\"\n\"I understand your concern\", \"I apologize for any inconvenience\"\n\"As per your request\", \"Please be informed that\"\n\"I have successfully\", \"The operation was successful\"\n\"Is there anything else I can help you with?\"\n\"Thank you for your patience\"\nAny sentence that leads with a filler before actually answering.\n\nEMOJI USE: Functional only. Use \u2705 for done, \u274c for errors. Never decorative. One maximum per message.\n\n${sep}\nPHOTO INTENT HANDLING\n${sep}\nWhen an owner sends a photo, use ALL available context to determine intent before responding:\n\n1. Check the caption, if it contains a product name, price, or words like \"add to catalogue\", treat it as a product upload immediately. Save using Save Product Image Tool. Confirm: \"Saved! [name] added to your catalogue \ud83d\udcf8\"\n\n2. Check prior conversation, if recent messages were about products, catalogue, or the owner said \"let me send you a photo\", treat the next photo as a product automatically.\n\n3. Check vision output, if image_type_hint is 'product' AND there's no conflicting context suggesting content generation, treat it as a product. Save it, confirm the suggested name, and ask: \"Saved as '[name]', want to update table_5 name or price?\"\n\n4. If context is genuinely ambiguous after all three checks, ask once, plainly:\n \"What do you want to do with this photo?\"\n Then act on whatever they say naturally. Do not give them a list of options.\n\nNEVER assume a photo is for content generation unless the owner has explicitly said so in this conversation.\nNEVER ask twice. One question maximum, then act on the answer.\n\n${sep}\nSTORE LINK vs CATALOGUE MANAGER, CRITICAL DISTINCTION\n${sep}\nThese are two completely different links. Never confuse them.\n\nSTORE LINK, public, read-only, for sharing with customers:\nTriggers: \"what link do I share with customers?\", \"send me my shop link\", \"what's my store page?\",\n\"I want to send my catalogue to a customer\", \"my store URL\", \"share my products\"\n\u2192 Call Get Store Link Tool. Wait for it to return. Then say:\n\"Here's your store link \u2014 this is what customers see when they browse your products:\"\nThen the URL on the next line. Nothing else.\n\nCATALOGUE MANAGER LINK, private, management, owner only:\nTriggers: \"add more products\", \"upload more photos\", \"manage my catalogue\", \"edit product names/prices\"\n\u2192 Call Generate Catalogue Link Tool. Wait for it to return. Then compose:\n\"Here's your Catalogue Manager \ud83d\udc47\n[url from table_7 result]\n\nUpload photos, edit names and prices, and toggle what shows in your store. Valid for 7 days.\"\n\nCRITICAL: For BOTH link tools \u2014 call the tool FIRST. Do NOT write any part of the response before the tool returns. The URL comes from table_5 tool result. You do not know it in advance. Generate ZERO text before the tool completes.\n\nWhen intent is ambiguous, e.g. \"send me my catalogue link\", ask once:\n\"The link to share with customers, or the one to manage and upload products?\"\n\n${sep}\nCATALOGUE MANAGER\n${sep}\nWhen the owner asks to add multiple products, upload more product photos, or manage their catalogue visually:\n1. Call Generate Catalogue Link Tool \u2014 write nothing until it returns.\n2. Once the tool returns, send EXACTLY this structure (no filler, no dots, no fragments):\n   \"Here's your Catalogue Manager \ud83d\udc47\n[url]\n\nUpload photos, edit names and prices, and toggle which products show in your store. Vision AI suggests names automatically. Link is valid for 7 days.\"\n\nSingle photo already sent in chat \u2192 use Save Product Image Tool, not the Catalogue Manager link.\n\n${sep}\nCATALOGUE & PROFILE RULES\n${sep}\nUse Update table_8 Profile Tool to update table_9, business location, or description.\nWhen updating catalogue, rewrite the full catalogue incorporating the change, never partially update.\nOnly populate fields the owner explicitly wants changed. Leave others blank so they are preserved.\nConfirm the update table_10 to the owner in one short sentence after success.\n\n${sep}\nPRODUCT IMAGE RULES\n${sep}\nSave or replace a product image only when the current message includes an image AND the product name is known.\nIf the product name is missing, ask once before calling the tool.\nIf no image was sent in the current message, ask for the photo.\nUse List Product Images Tool before deleting or replacing when the owner is unsure of the name.\nUse Context Resolver (scope=products, operation=list) to find a saved image URL for generation.\nNever invent or guess an image URL.\n\nPRICE IN CAPTION:\nWhen the owner sends a photo with a caption that includes a price (e.g. 'Black Loafers \u20a645,000' or 'Nike Air - 45k'),\nextract both the product name and the price and pass them to Save Product Image Tool.\nThe tool accepts price as a number \u2014 strip currency symbols and convert shorthand (45k \u2192 45000).\nAfter saving, confirm: \"Saved! [product name] added to your catalogue at \u20a6[price] \ud83d\udcf8\"\nIf caption has a name but no price, save without price and confirm normally.\nNever ask for the price if it wasn't given \u2014 just save without it.\n\n${sep}\nMEDIA GENERATION RULES\n${sep}\nAsk for one short confirmation before generating if the request is unclear.\nAfter the owner confirms, output a short visible line, then [BUFFER: Gimme a sec...], then [FAL_MEDIA_REQUEST: {...}] in the same response.\nThe FAL_MEDIA_REQUEST JSON must contain EXACTLY these fields:\n generation_mode (required): text_to_image | image_to_image | text_to_video | image_to_video\n input (required): object with generation parameters\n input.prompt (required): the generation prompt string\n input.image_size: \"square_hd\", always include for image modes\n input.image_urls: array with one URL, only for image_to_image\n input.start_image_url: string URL, only for image_to_video\nEXAMPLE: [FAL_MEDIA_REQUEST: {\"generation_mode\": \"text_to_image\", \"input\": {\"prompt\": \"a bowl of jollof rice on a clean white background, food photography\", \"image_size\": \"square_hd\"}}]\nNever omit generation_mode. Never put prompt outside of input. Never add an endpoint field.\n\n${sep}\nBUSINESS MEMORY RULES\n${sep}\nUse Save Memory Tool for stable business facts or operating rules.\nUse short snake_case keys: delivery_fee, closing_time, refund_policy.\nUse Delete Memory only after identifying the correct key from table_11 business memory above.\n\n${sep}\nAGENT CONFIG RULES\n${sep}\nUse Update table_12 Config Tool when the owner wants to rename the agent, change tone, or change reply language.\nOnly pass the fields the owner wants changed.\n\n${sep}\nMYGUY FEATURES TOOL\n${sep}\nUse My Guy Features and description to answer questions about MySquad platform capabilities.\nDo NOT use for general world knowledge, finance, or order questions.\n\n${sep}\nTOOL ROUTING\n${sep}\nGet Store Link Tool \u2192 owner wants their public customer-facing shop URL to share\nGenerate Catalogue Link Tool \u2192 owner wants to upload/manage products visually (private, bulk)\nSave Product Image Tool \u2192 single photo sent in this chat, saving as a product\nSend Product Images Tool \u2192 owner wants to see/retrieve a specific product photo in chat\nDelete Product Image Tool \u2192 remove a saved product image (confirm name first)\nList Product Images Tool \u2192 list saved product names (use before delete when unsure)\nUpdate table_8 Profile Tool \u2192 catalogue text, location, description updates\nContext Resolver Tool \u2192 find saved product URLs for content generation\nSave Memory Tool \u2192 save stable business fact or rule\nDelete Memory Tool \u2192 deactivate a saved memory key\nUpdate table_12 Config Tool \u2192 rename agent, change tone, change reply language\nQuery Analytics Tool \u2192 business performance data (orders, revenue, customers)\nMy Guy Features and description \u2192 MySquad platform capability questions\n\n${sep}\nSELF-IMPROVEMENT ANALYSIS\n${sep}\nWhen the owner asks \"what improvements can you make?\", \"how can I make you better?\", \"what are you missing?\", \"what gaps do you have?\", analyse the BUSINESS CONTEXT section and identify missing or weak areas.\n\nCHECK EACH IN ORDER:\n1. CATALOGUE, empty or just \"No catalogue yet\"? \u2192 \"Add your products/services with prices\"\n2. BUSINESS DESCRIPTION, empty or under 20 words? \u2192 \"Add a short description\"\n3. OPERATING HOURS, missing? \u2192 \"Tell me your working days and hours\"\n4. BUSINESS LOCATION, empty? \u2192 \"Add your business address or area\"\n5. PAYMENT MODE, getMemory empty? \u2192 \"Tell me how customers pay\"\n6. AGENT RULES, empty? \u2192 \"Add rules like 'no refunds after 24 hours'\"\n7. DEPOSIT POLICY, empty AND service business? \u2192 \"Add a deposit policy\"\n8. CANCELLATION POLICY, empty? \u2192 \"Add a cancellation policy\"\n9. TONE, generic? \u2192 \"Describe how you want me to sound\"\n10. PRODUCT IMAGES, call List Product Images Tool. If zero results \u2192 \"Upload product photos\"\n\nPresent only actual gaps. End with: \"Want me to fix any of these now? Just say the number.\"\n\n${sep}\nOWNER ANALYTICS\n${sep}\nUse Query Analytics Tool when the owner asks about their business performance, orders, revenue, customers, best sellers, cancellations.\nAfter calling, present data warmly and conversationally. Never dump raw numbers.\nPERIODS: today, yesterday, this_week, this_month, last_month. Default to 'today' if unclear.\n\n${sep}\nHARD RULES\n${sep}\nNever invent product URLs, bank details, or platform pricing.\nNever update table_13 field the owner did not mention.\nIf a tool returns no row, explain and ask for a clearer reference.\nNEVER write any part of a response before a tool call completes. For link tools \u2014 the URL is unknown until the tool returns. Generate ZERO text before the result is back.`;\n\nreturn {\n json: {\n system_prompt: systemPrompt,\n text: incoming.text || incoming.caption || '',\n caption: incoming.caption || '',\n tenant_id: incoming.tenant_id,\n business_id: incoming.business_id,\n chat_id: incoming.chat_id,\n sender_id: incoming.sender_id,\n user_id: incoming.tenant_id,\n display_name: incoming.display_name || '',\n username: incoming.username || '',\n source: incoming.source || 'telegram',\n message_type: incoming.message_type || 'text',\n image_id: imageUrl,\n bot_token: incoming.bot_token || ctx.bot_token || '',\n conversation_id: incoming.conversation_id || '',\n is_owner: true,\n }\n};"
      },
      "id": "__NODE_3__",
      "name": "Build Agent B Config",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1056,
        -16
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.text || $json.caption || '' }}",
        "options": {
          "systemMessage": "={{ $json.system_prompt }}"
        }
      },
      "id": "__NODE_4__",
      "name": "Agent B \u2014 Business & Content",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        1296,
        -16
      ],
      "retryOnFail": true
    },
    {
      "parameters": {
        "model": "openai/gpt-oss-120b",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        1248,
        192
      ],
      "id": "__NODE_5__",
      "name": "Groq Chat Model",
      "credentials": {
        "groqApi": {
          "id": "__GROQ_CRED_ID",
          "name": "Groq API Credentials"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "=owner_{{ $json.chat_id }}_{{ $json.tenant_id }}_{{ $json.business_id }}",
        "tableName": "msq_chat_histories",
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        1392,
        192
      ],
      "id": "__NODE_6__",
      "name": "Agent B Chat Memory",
      "credentials": {
        "postgres": {
          "id": "__POSTGRES_CRED_ID",
          "name": "PostgreSQL Credentials"
        }
      }
    },
    {
      "parameters": {
        "modelName": "models/gemini-embedding-001"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        1520,
        352
      ],
      "id": "__NODE_7__",
      "name": "Embeddings Google Gemini1",
      "credentials": {
        "googlePalmApi": {
          "id": "__GOOGLE_CRED_ID",
          "name": "Google API Credentials"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "=Retrieve internal product knowledge about MyGuy and MySquad.\n\nWHEN TO USE:\n- \"What can you do?\"\n- \"How does MyGuy work?\"\n- \"Tell me about stored commands\"\n- \"What other agents are there?\"\n- \"What is MySquad?\"\n- product capability or internal platform questions\n\nDO NOT USE FOR:\n- general world knowledge\n- finance actions\n- Gmail or Calendar operations\n- customer orders or dispatch lookups\n\nRULES:\n- Answer from table_14 documentation.\n- Be honest if the documentation does not cover it.",
        "tableName": "msq_embeddings",
        "topK": 5,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePGVector",
      "typeVersion": 1.3,
      "position": [
        1520,
        192
      ],
      "id": "__NODE_8__",
      "name": "My Guy Features and description",
      "credentials": {
        "postgres": {
          "id": "__POSTGRES_CRED_ID",
          "name": "PostgreSQL Credentials"
        }
      }
    },
    {
      "parameters": {
        "description": "=Save a new product image or replace an existing one.\n\nWHEN TO USE:\n- Owner sends a single photo and context makes clear it is a product (caption has product name, or prior conversation was about catalogue)\n- \"save this as [product]\"\n- \"replace my [product] image\"\n- \"this is my [product]\"\n\nREQUIRED:\n- product_name\n- image_url (use Source image URL from table_15 context)\n\nRULES:\n- Only use when the current owner message includes an image and the product name is known.\n- If product name is missing, ask once before calling.\n- Do not invent image URLs.",
        "workflowId": {
          "__rl": true,
          "value": "w8e2yw8LkFvBOgtI",
          "mode": "list",
          "cachedResultUrl": "/workflow/w8e2yw8LkFvBOgtI",
          "cachedResultName": "MySquad Brand Image Upload"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "tenant_id": "={{ $('Incoming Payload').first().json.tenant_id }}",
            "product_name": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('product_name', ``, 'string') }}",
            "image_url": "={{ $('Build Agent B Config').item.json.image_id }}",
            "mime_type": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('mime_type', ``, 'string') }}",
            "price": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('price', 'Numeric price if mentioned in caption or conversation. Pass null if not mentioned.', 'number') || null }}",
            "business_id": "REDACTED"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "tenant_id",
              "displayName": "tenant_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "product_name",
              "displayName": "product_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "image_url",
              "displayName": "image_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "mime_type",
              "displayName": "mime_type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "price",
              "displayName": "price",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number"
            },
            {
              "id": "business_id",
              "displayName": "business_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        1808,
        192
      ],
      "id": "__NODE_9__",
      "name": "Save Product Image Tool"
    },
    {
      "parameters": {
        "description": "=Generate a Catalogue Manager link for the owner to upload and manage product photos in bulk.\n\nWHEN TO USE:\n- Owner says 'add more products', 'upload more photos', 'manage my catalogue', 'add product images', 'I want to add products'\n- Any request to add or manage multiple product photos\n- Owner wants to bulk upload\n\nDo NOT use for saving a single photo already sent in chat (use Save Product Image Tool instead).\n\nReturns: { url: \"[URL]\" } \u2014 use this url in your response after the tool completes.",
        "workflowId": {
          "__rl": true,
          "value": "30ohAy06BF7YlbLl",
          "mode": "list",
          "cachedResultUrl": "/workflow/30ohAy06BF7YlbLl",
          "cachedResultName": "MySquad Catalogue Generate Link"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "tenant_id": "={{ $('Incoming Payload').first().json.tenant_id }}",
            "business_id": "REDACTED"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "tenant_id",
              "displayName": "tenant_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "business_id",
              "displayName": "business_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        1968,
        192
      ],
      "id": "__NODE_10__",
      "name": "Generate Catalogue Link Tool"
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "=Permanently delete a saved product image.\n\nWHEN TO USE:\n- \"Delete my [product] image\"\n- \"Remove [product] photo\"\n- \"I don't need this product image anymore\"\n\nRULES:\n- Only use after the target product image is clear.\n- If unclear, call List Product Images Tool first.\n- Confirm once before deleting.",
        "operation": "executeQuery",
        "query": "DELETE FROM table_16\ncolumn_1 $1::uuid\n  AND (product_name ILIKE $2 OR display_name ILIKE $2)\nRETURNING product_name, display_name",
        "options": {
          "queryReplacement": "={{ [$('Incoming Payload').first().json.business_id, $fromAI('product_name', 'Product name to delete', 'string')] }}"
        }
      },
      "type": "n8n-nodes-base.postgresTool",
      "typeVersion": 2.6,
      "position": [
        2448,
        192
      ],
      "id": "__NODE_11__",
      "name": "Delete Product Image Tool",
      "credentials": {
        "postgres": {
          "id": "__POSTGRES_CRED_ID",
          "name": "PostgreSQL Credentials"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "=List saved product image names for this business.\n\nWHEN TO USE:\n- \"Show my product images\"\n- \"What photos do I have?\"\n- \"List my uploads\"\n- Before delete or replace when owner is unsure of the exact name",
        "operation": "executeQuery",
        "query": "SELECT COALESCE(display_name, product_name) AS name, price, show_on_store, created_at\nFROM table_16\ncolumn_2 $1::uuid\n  column_1 $2::uuid\n  column_3 'product'\nORDER BY COALESCE(display_name, product_name) ASC",
        "options": {
          "queryReplacement": "={{ [\n  $('Incoming Payload').first().json.tenant_id,\n  $('Incoming Payload').first().json.business_id\n] }}"
        }
      },
      "type": "n8n-nodes-base.postgresTool",
      "typeVersion": 2.6,
      "position": [
        2288,
        192
      ],
      "id": "__NODE_12__",
      "name": "List Product Images Tool",
      "credentials": {
        "postgres": {
          "id": "__POSTGRES_CRED_ID",
          "name": "PostgreSQL Credentials"
        }
      }
    },
    {
      "parameters": {
        "description": "=Send saved product images to the owner as Telegram buttons.\n\nWHEN TO USE:\n- \"Send me my product images\"\n- \"Let me see my uploads\"\n- \"Show me my saved catalogue photos\"",
        "workflowId": {
          "__rl": true,
          "value": "0cRXCDnv9NhCkikp",
          "mode": "list",
          "cachedResultName": "MySquad Send Catalogue Tool Telegram"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "tenant_id": "={{ $json.tenant_id }}",
            "chat_id": "={{ $json.chat_id }}",
            "bot_token": "REDACTED",
            "filter": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('filter', 'Optional product keyword to filter. Empty string shows all.', 'string') || '' }}",
            "header_text": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('header_text', 'Optional custom intro message.', 'string') || '' }}",
            "business_id": "REDACTED"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "tenant_id",
              "displayName": "tenant_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "chat_id",
              "displayName": "chat_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "bot_token",
              "displayName": "bot_token",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "filter",
              "displayName": "filter",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "header_text",
              "displayName": "header_text",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "business_id",
              "displayName": "business_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        1808,
        368
      ],
      "id": "__NODE_13__",
      "name": "Send Product Images Tool"
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "=Save a stable business fact or operating rule.\n\nWHEN TO USE:\n- \"Remember that our delivery fee is \u20a6500\"\n- \"Always note that we don't do refunds\"\n- Stable business policies or reference facts",
        "operation": "executeQuery",
        "query": "INSERT INTO table_2 (tenant_id, business_id, key, value, source)\nVALUES ($1::uuid, $2::uuid, $3, $4, 'owner_chat')\nON CONFLICT (business_id, key)\nDO UPDATE column_4 $4, updated_at = now(), is_active = true\nRETURNING key, value",
        "options": {
          "queryReplacement": "={{ [\n  $json.user_id,\n  $('Incoming Payload').first().json.business_id,\n  $fromAI('key', 'Short snake_case label e.g. delivery_fee', 'string'),\n  $fromAI('value', 'The fact or value to remember', 'string')\n] }}"
        }
      },
      "type": "n8n-nodes-base.postgresTool",
      "typeVersion": 2.6,
      "position": [
        2608,
        192
      ],
      "id": "__NODE_14__",
      "name": "Save Memory Tool",
      "credentials": {
        "postgres": {
          "id": "__POSTGRES_CRED_ID",
          "name": "PostgreSQL Credentials"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "=Deactivate a saved business memory.\n\nWHEN TO USE:\n- \"Forget that delivery fee rule\"\n- \"Remove that refund rule\"",
        "operation": "executeQuery",
        "query": "UPDATE table_2\ncolumn_5 false, updated_at = now()\ncolumn_1 $1::uuid column_6 $2\nRETURNING key",
        "options": {
          "queryReplacement": "={{ [\n  $('Incoming Payload').first().json.business_id,\n  $fromAI('key', 'The memory key to forget', 'string')\n] }}"
        }
      },
      "type": "n8n-nodes-base.postgresTool",
      "typeVersion": 2.6,
      "position": [
        2768,
        192
      ],
      "id": "__NODE_15__",
      "name": "Delete Memory Tool",
      "credentials": {
        "postgres": {
          "id": "__POSTGRES_CRED_ID",
          "name": "PostgreSQL Credentials"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "=Update table_9, location, or description.\n\nWHEN TO USE:\n- \"Update table_1 catalogue\"\n- \"Change my location\"\n- \"Update table_1 business description\"\n\nOnly populate fields the owner explicitly wants changed.",
        "operation": "executeQuery",
        "query": "UPDATE table_17\ncolumn_7 CASE WHEN NULLIF($2, '') IS NOT NULL THEN $2 ELSE catalogue_summary END,\n  location          = CASE WHEN NULLIF($3, '') IS NOT NULL THEN $3 ELSE location END,\n  description       = CASE WHEN NULLIF($4, '') IS NOT NULL THEN $4 ELSE description END,\n  updated_at        = now()\ncolumn_8 $1::uuid\nRETURNING business_name, catalogue_summary, location, description",
        "options": {
          "queryReplacement": "={{ [\n  $('Incoming Payload').first().json.business_id,\n  $fromAI('catalogue_summary','Updated catalogue or empty string','string')||'',\n  $fromAI('location','Updated location or empty string','string')||'',\n  $fromAI('description','Updated description or empty string','string')||''\n] }}"
        }
      },
      "type": "n8n-nodes-base.postgresTool",
      "typeVersion": 2.6,
      "position": [
        2608,
        368
      ],
      "id": "__NODE_16__",
      "name": "Update table_8 Profile Tool",
      "credentials": {
        "postgres": {
          "id": "__POSTGRES_CRED_ID",
          "name": "PostgreSQL Credentials"
        }
      }
    },
    {
      "parameters": {
        "description": "=Update table_5 agent's name, tone, or default reply language.",
        "workflowId": {
          "__rl": true,
          "value": "0mLsZkrHhnEMVaik",
          "mode": "list",
          "cachedResultName": "MySquad Update table_12 Config Tool"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "tenant_id": "={{ $('Incoming Payload').first().json.tenant_id }}",
            "business_id": "REDACTED",
            "agent_name": "={{ $fromAI('agent_name', 'New name. Leave blank to keep current.', 'string') || '' }}",
            "tone_summary": "={{ $fromAI('tone_summary', 'New tone description. Leave blank to keep current.', 'string') || '' }}",
            "reply_language": "={{ $fromAI('reply_language', 'en or pidgin. Leave blank to keep current.', 'string') || '' }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "tenant_id",
              "displayName": "tenant_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "business_id",
              "displayName": "business_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "agent_name",
              "displayName": "agent_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "tone_summary",
              "displayName": "tone_summary",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "reply_language",
              "displayName": "reply_language",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        1968,
        368
      ],
      "id": "__NODE_17__",
      "name": "Update table_12 Config Tool"
    },
    {
      "parameters": {
        "description": "=Read-only lookup for saved product images and dispatch records.",
        "workflowId": {
          "__rl": true,
          "value": "IyoIY8owu4gs8Emj",
          "mode": "list",
          "cachedResultName": "MySquad Context Resolver"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "limit": "={{ $fromAI('limit', 'Max results. Default 5.', 'number') || 5 }}",
            "scope": "={{ $fromAI('scope', 'products | dispatch', 'string') }}",
            "operation": "={{ $fromAI('operation', 'list | lookup_order | list_recent', 'string') }}",
            "reference_text": "={{ $fromAI('reference_text', 'Product name or fuzzy search text.', 'string') || '' }}",
            "exact_id": "={{ $fromAI('exact_id', 'Specific ID if known.', 'string') || '' }}",
            "tenant_id": "={{ $('Incoming Payload').first().json.tenant_id }}",
            "business_id": "REDACTED"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "scope",
              "displayName": "scope",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "operation",
              "displayName": "operation",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "reference_text",
              "displayName": "reference_text",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "exact_id",
              "displayName": "exact_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "tenant_id",
              "displayName": "tenant_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "business_id",
              "displayName": "business_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "limit",
              "displayName": "limit",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        2128,
        192
      ],
      "id": "__NODE_18__",
      "name": "Context Resolver Tool"
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "=Get business performance data \u2014 orders, revenue, customers, top products, cancellations. Use when owner asks how their business is doing.",
        "operation": "executeQuery",
        "query": "WITH period_bounds AS (\n  SELECT\n    CASE $3\n      WHEN 'today'      THEN now() - interval '24 hours'\n      WHEN 'yesterday'  THEN now() - interval '48 hours'\n      WHEN 'this_week'  THEN now() - interval '7 days'\n      WHEN 'this_month' THEN now() - interval '30 days'\n      WHEN 'last_month' THEN now() - interval '60 days'\n      ELSE                   now() - interval '7 days'\n    END AS start_at,\n    CASE $3\n      WHEN 'yesterday'  THEN now() - interval '24 hours'\n      WHEN 'last_month' THEN now() - interval '30 days'\n      ELSE                   now()\n    END AS end_at\n),\norder_stats AS (\n  SELECT\n    COUNT(*)                                      AS total_orders,\n    COUNT(*) FILTER (column_9 'cancelled')  AS cancelled_orders,\n    COUNT(*) FILTER (WHERE status NOT IN ('cancelled', 'delivered')) AS pending_orders,\n    COUNT(*) FILTER (WHERE payment_status IN ('unpaid','proof_submitted') AND status NOT IN ('cancelled','delivered')) AS pending_payments,\n    COALESCE(SUM(total_amount) FILTER (WHERE status NOT IN ('cancelled')), 0) AS total_revenue,\n    COALESCE(AVG(total_amount) FILTER (WHERE status NOT IN ('cancelled')), 0) AS avg_order_value,\n    COUNT(DISTINCT customer_chat_id) AS ordering_customers\n  FROM table_18, period_bounds\n  column_1 $1::uuid column_10= start_at column_10 end_at\n),\ncustomer_stats AS (\n  SELECT\n    COUNT(DISTINCT platform_id) AS total_customers,\n    COUNT(DISTINCT platform_id) FILTER (column_10= (SELECT start_at FROM table_19)) AS new_customers\n  FROM table_20\n  column_1 $1::uuid\n    column_11= (SELECT start_at FROM table_19)\n    column_11  (SELECT end_at   FROM table_19)\n),\ntop_products AS (\n  SELECT item->>'name' AS product_name,\n    SUM((item->>'quantity')::int) AS qty_sold,\n    SUM((item->>'unit_price')::numeric * (item->>'quantity')::int) AS product_revenue\n  FROM table_18, jsonb_array_elements(items) AS item, period_bounds\n  column_1 $1::uuid column_10= start_at column_10 end_at AND status NOT IN ('cancelled')\n  GROUP BY product_name ORDER BY qty_sold DESC LIMIT 5\n),\nescalation_stats AS (\n  SELECT COUNT(*) AS total_escalations,\n    COUNT(*) FILTER (column_9 'answered') AS answered,\n    COUNT(*) FILTER (column_9 'pending')  AS unanswered\n  FROM table_21\n  column_1 $1::uuid\n    column_10= (SELECT start_at FROM table_19)\n    column_10  (SELECT end_at   FROM table_19)\n)\nSELECT $3 AS period,\n  (SELECT total_orders       FROM table_22)             AS total_orders,\n  (SELECT cancelled_orders   FROM table_22)             AS cancelled_orders,\n  (SELECT pending_orders     FROM table_22)             AS pending_orders,\n  (SELECT pending_payments   FROM table_22)             AS pending_payments,\n  (SELECT total_revenue      FROM table_22)             AS total_revenue,\n  (SELECT avg_order_value    FROM table_22)             AS avg_order_value,\n  (SELECT ordering_customers FROM table_22)             AS ordering_customers,\n  (SELECT total_customers    FROM table_23)          AS active_customers,\n  (SELECT new_customers      FROM table_23)          AS new_customers,\n  (SELECT json_agg(row_to_json(tp)) FROM table_24 tp)  AS top_products,\n  (SELECT total_escalations  FROM table_25)        AS total_escalations,\n  (SELECT unanswered         FROM table_25)        AS unanswered_escalations",
        "options": {
          "queryReplacement": "={{ [$('Incoming Payload').first().json.business_id, $('Incoming Payload').first().json.tenant_id, $fromAI('period', 'today, yesterday, this_week, this_month, last_month', 'string') || 'this_week'] }}"
        }
      },
      "type": "n8n-nodes-base.postgresTool",
      "typeVersion": 2.6,
      "position": [
        2448,
        368
      ],
      "id": "__NODE_19__",
      "name": "Query Analytics Tool",
      "credentials": {
        "postgres": {
          "id": "__POSTGRES_CRED_ID",
          "name": "PostgreSQL Credentials"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const outputRaw = $('Agent B \u2014 Business & Content').first().json.output || '';\nconst incomingData = $('Incoming Payload').first().json;\n\nlet bufferMessage = null;\nlet caption = null;\nlet genPrompt = null;\nlet genMode = null;\nlet response_type = 'text';\nlet hasOrderConfirmed = false;\nlet confirmedOrderNumber = null;\nlet confirmedCustomerChatId = null;\nlet paymentConfirmed = false;\nlet paymentOrderNumber = null;\nlet broadcastMessage = null;\n\nconst bufferMatch = outputRaw.match(/\\[BUFFER:\\s*(.*?)\\]/s);\nif (bufferMatch) bufferMessage = bufferMatch[1].trim();\n\nconst captionMatch = outputRaw.match(/\\[CAPTION:\\s*(.*?)\\]/s);\nif (captionMatch) caption = captionMatch[1].trim();\n\nconst orderConfirmedMatch = outputRaw.match(/\\[ORDER_CONFIRMED:\\s*([\\w-]+)\\s*\\|\\s*(\\d+)\\]/);\nif (orderConfirmedMatch) { hasOrderConfirmed = true; confirmedOrderNumber = orderConfirmedMatch[1].trim(); confirmedCustomerChatId = orderConfirmedMatch[2].trim(); }\n\nconst paymentConfirmedMatch = outputRaw.match(/\\[PAYMENT_CONFIRMED:\\s*([\\w-]+)\\s*(?:\\|\\s*(\\d+))?\\]/);\nif (paymentConfirmedMatch) { paymentConfirmed = true; paymentOrderNumber = paymentConfirmedMatch[1].trim(); if (paymentConfirmedMatch[2]) confirmedCustomerChatId = paymentConfirmedMatch[2].trim(); }\n\nconst broadcastMatch = outputRaw.match(/\\[BROADCAST:\\s*([\\s\\S]*?)\\]/);\nif (broadcastMatch) broadcastMessage = broadcastMatch[1].trim().substring(0, 1000);\n\nconst hasFalRequest = outputRaw.includes('[FAL_MEDIA_REQUEST:');\n\nif (hasFalRequest) {\n  response_type = 'image';\n  const falStart = outputRaw.indexOf('[FAL_MEDIA_REQUEST:');\n  if (falStart !== -1) {\n    const braceStart = outputRaw.indexOf('{', falStart);\n    if (braceStart !== -1) {\n      let braceCount = 0, braceEnd = -1, inString = false, escapeNext = false;\n      for (let i = braceStart; i < outputRaw.length; i++) {\n        const char = outputRaw[i];\n        if (escapeNext) { escapeNext = false; continue; }\n        if (char === '\\\\') { escapeNext = true; continue; }\n        if (char === '\"') { inString = !inString; continue; }\n        if (!inString) {\n          if (char === '{') braceCount++;\n          if (char === '}') { braceCount--; if (braceCount === 0) { braceEnd = i; break; } }\n        }\n      }\n      if (braceEnd !== -1) {\n        const falContent = outputRaw.substring(braceStart, braceEnd + 1);\n        const modeMatch = falContent.match(/\"generation_mode\"\\s*:\\s*\"([^\"]+)\"/);\n        if (modeMatch) genMode = modeMatch[1];\n        const promptMatch = falContent.match(/\"prompt\"\\s*:\\s*\"((?:[^\"\\\\]|\\\\.)*)\"/);\n        if (promptMatch) genPrompt = promptMatch[1].replace(/\\\\\"/g, '\"').replace(/\\\\\\\\/g, '\\\\');\n        if (genMode === 'text_to_image' || genMode === 'image_to_image') response_type = 'image';\n        else if (genMode === 'text_to_video' || genMode === 'image_to_video') response_type = 'video';\n      }\n    }\n  }\n  if (!bufferMessage && genMode) bufferMessage = 'Gimme a sec...';\n  if (!caption && genMode) caption = 'Here you go!';\n  return { json: { output: outputRaw, response_type, message_type_in: incomingData.message_type || 'text', gen_prompt: genPrompt, gen_mode: genMode, buffer_message: bufferMessage, caption, has_order_confirmed: hasOrderConfirmed, confirmed_order_number: confirmedOrderNumber, confirmed_customer_chat_id: confirmedCustomerChatId, payment_confirmed: paymentConfirmed, payment_order_number: paymentOrderNumber, broadcast_message: broadcastMessage } };\n}\n\nlet cleanOutput = outputRaw\n  .replace(/\\[BUFFER:.*?\\]/s, '')\n  .replace(/\\[CAPTION:.*?\\]/s, '')\n  .replace(/\\[ORDER_CONFIRMED:.*?\\]/s, '')\n  .replace(/\\[PAYMENT_CONFIRMED:.*?\\]/s, '')\n  .replace(/\\[BROADCAST:[\\s\\S]*?\\]/g, '')\n  .trim();\n\nif (!cleanOutput) cleanOutput = 'Done!';\n\nreturn { json: { output: cleanOutput, response_type, message_type_in: incomingData.message_type || 'text', gen_prompt: null, gen_mode: null, buffer_message: null, caption: null, has_order_confirmed: hasOrderConfirmed, confirmed_order_number: confirmedOrderNumber, confirmed_customer_chat_id: confirmedCustomerChatId, payment_confirmed: paymentConfirmed, payment_order_number: paymentOrderNumber, broadcast_message: broadcastMessage } };"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1536,
        -16
      ],
      "id": "__NODE_20__",
      "name": "Output Classifier"
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\nconst incoming = $('Incoming Payload').first().json;\nreturn { json: {\n  output:          data.output,\n  response_type:   data.response_type,\n  message_type_in: data.message_type_in || 'text',\n  gen_prompt:      data.gen_prompt      || null,\n  gen_mode:        data.gen_mode        || null,\n  buffer_message:  data.buffer_message  || null,\n  caption:         data.caption         || null,\n  bot_token:                  $('Build Agent B Config').first().json.bot_token,\n  chat_id:                    incoming.chat_id,\n  conversation_id:            incoming.conversation_id,\n  tenant_id:                  incoming.tenant_id,\n  user_message:               incoming.text || incoming.caption || '',\n  is_owner:                   true,\n  has_new_order:              data.has_new_order              || false,\n  order_number:               data.order_number               || null,\n  order_summary:              data.order_summary              || null,\n  has_order_confirmed:        data.has_order_confirmed        || false,\n  confirmed_order_number:     data.confirmed_order_number     || null,\n  confirmed_customer_chat_id: data.confirmed_customer_chat_id || null,\n  payment_confirmed:          data.payment_confirmed          || false,\n  payment_order_number:       data.payment_order_number       || null,\n  broadcast_message:          data.broadcast_message          || null,\n}};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1776,
        -16
      ],
      "id": "__NODE_21__",
      "name": "Respond To Input"
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "=Fetch the public store link for this business \u2014 the page customers see when browsing products.\n\nUSE WHEN:\n- \"what link do I share with customers?\"\n- \"send me my shop link\" / \"my store page\" / \"my store URL\"\n- \"I want to send my catalogue to a customer\"\n- Owner wants the public-facing product page URL\n\nDO NOT USE:\n- When owner wants to upload or manage products (use Generate Catalogue Link Tool)\n\nReturns: { store_url: \"[URL]\" } \u2014 include this url in your response.",
        "operation": "executeQuery",
        "query": "SELECT '[URL]' || store_token AS store_url\nFROM table_17\ncolumn_8 $1::uuid\nLIMIT 1",
        "options": {
          "queryReplacement": "={{ [$('Incoming Payload').first().json.business_id] }}"
        }
      },
      "id": "__NODE_22__",
      "name": "Get Store Link Tool",
      "type": "n8n-nodes-base.postgresTool",
      "typeVersion": 2.6,
      "position": [
        2288,
        368
      ],
      "credentials": {
        "postgres": {
          "id": "__POSTGRES_CRED_ID",
          "name": "PostgreSQL Credentials"
        }
      }
    }
  ],
  "connections": {
    "Incoming Payload": {
      "main": [
        [
          {
            "node": "Load Owner Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Load Owner Context": {
      "main": [
        [
          {
            "node": "Build Agent B Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Agent B Config": {
      "main": [
        [
          {
            "node": "Agent B \u2014 Business & Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agent B \u2014 Business & Content": {
      "main": [
        [
          {
            "node": "Output Classifier",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Output Classifier": {
      "main": [
        [
          {
            "node": "Respond To Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Agent B \u2014 Business & Content",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Agent B Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "Agent B \u2014 Business & Content",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini1": {
      "ai_embedding": [
        [
          {
            "node": "My Guy Features and description",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "My Guy Features and description": {
      "ai_tool": [
        [
          {
            "node": "Agent B \u2014 Business & Content",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Save Product Image Tool": {
      "ai_tool": [
        [
          {
            "node": "Agent B \u2014 Business & Content",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Generate Catalogue Link Tool": {
      "ai_tool": [
        [
          {
            "node": "Agent B \u2014 Business & Content",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Delete Product Image Tool": {
      "ai_tool": [
        [
          {
            "node": "Agent B \u2014 Business & Content",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "List Product Images Tool": {
      "ai_tool": [
        [
          {
            "node": "Agent B \u2014 Business & Content",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Send Product Images Tool": {
      "ai_tool": [
        [
          {
            "node": "Agent B \u2014 Business & Content",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Save Memory Tool": {
      "ai_tool": [
        [
          {
            "node": "Agent B \u2014 Business & Content",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Delete Memory Tool": {
      "ai_tool": [
        [
          {
            "node": "Agent B \u2014 Business & Content",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Update Business Profile Tool": {
      "ai_tool": [
        [
          {
            "node": "Agent B \u2014 Business & Content",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Update Agent Config Tool": {
      "ai_tool": [
        [
          {
            "node": "Agent B \u2014 Business & Content",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Context Resolver Tool": {
      "ai_tool": [
        [
          {
            "node": "Agent B \u2014 Business & Content",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Query Analytics Tool": {
      "ai_tool": [
        [
          {
            "node": "Agent B \u2014 Business & Content",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get Store Link Tool": {
      "ai_tool": [
        [
          {
            "node": "Agent B \u2014 Business & Content",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "timeSavedMode": "fixed",
    "errorWorkflow": "gmbekEHeofgw6FGi",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "__VERSION_ID__",
  "activeVersionId": "7b1390a9-b87e-4329-999b-abb9236b71c8",
  "versionCounter": 235,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-05-29T15:11:51.677Z",
      "createdAt": "2026-05-29T15:11:51.677Z",
      "role": "workflow:owner",
      "workflowId": "gX3Iu4NdynxhBl07",
      "projectId": "ir6dYbaAlha8WGmA",
      "project": {
        "updatedAt": "2026-01-30T11:59:38.451Z",
        "createdAt": "2026-01-30T11:25:24.975Z",
        "id": "ir6dYbaAlha8WGmA",
        "name": "Orange orangegroups.ai@gmail.com <orangegroups.ai@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "d6320d31-a534-40f1-9f67-e1a589e8f288"
      }
    }
  ],
  "versionMetadata": {
    "name": "Version 7b1390a9",
    "description": ""
  },
  "_sanitization_metadata": {
    "sanitized_at": "2026-06-26T13:55:21.664614+00:00",
    "original_name": "MySquad Agent B \u2014 Business & Content",
    "note": "Sensitive data replaced with placeholders.",
    "tables_renamed": {
      "my": "table_1",
      "msq_agent_memory": "table_2",
      "msq_tenant_context": "table_3",
      "msq_platform_integrations": "table_4",
      "the": "table_5",
      "openers.": "table_6",
      "tool": "table_7",
      "Business": "table_8",
      "catalogue_summary": "table_9",
      "back": "table_10",
      "loaded": "table_11",
      "Agent": "table_12",
      "a": "table_13",
      "retrieved": "table_14",
      "owner": "table_15",
      "msq_product_images": "table_16",
      "msq_business_profiles": "table_17",
      "msq_customer_orders": "table_18",
      "period_bounds": "table_19",
      "msq_customers": "table_20",
      "msq_escalations": "table_21",
      "order_stats": "table_22",
      "customer_stats": "table_23",
      "top_products": "table_24",
      "escalation_stats": "table_25"
    },
    "columns_renamed": {
      "business_id": "column_1",
      "tenant_id": "column_2",
      "image_type": "column_3",
      "value": "column_4",
      "is_active": "column_5",
      "key": "column_6",
      "catalogue_summary": "column_7",
      "id": "column_8",
      "status": "column_9",
      "created_at": "column_10",
      "last_seen_at": "column_11"
    }
  }
}