MySquad_workflows/Agent_Modules_And_Tools/MySquad_Speedy_Sub_workflow_sanitized.json
{
  "updatedAt": "2026-05-03T08:43:10.437Z",
  "createdAt": "2026-02-01T15:36:08.662Z",
  "id": "__WORKFLOW_ID__",
  "name": "Speedy Sub workflow",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "inputSource": "jsonExample",
        "jsonExample": "{\n  \"message\": \"a string\",\n  \"phonenumber\": 123,\n  \"id\": null\n}"
      },
      "id": "__NODE_1__",
      "typeVersion": 1.1,
      "name": "When Executed by Another Workflow",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "position": [
        -384,
        -160
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "check-image-url-exists",
              "leftValue": "={{ !!$json.id }}",
              "rightValue": "true",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -160,
        -160
      ],
      "id": "__NODE_2__",
      "name": "Image exists?"
    },
    {
      "parameters": {
        "url": "={{ $json.url }}",
        "authentication": "REDACTED",
        "genericAuthType": "REDACTED",
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "responseFormat": "file"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        368,
        -272
      ],
      "id": "__NODE_3__",
      "name": "Download Image",
      "credentials": {
        "httpHeaderAuth": {
          "id": "__HTTP_HEADER_CRED_ID",
          "name": "HTTP Header Auth Credentials"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=[URL]",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "image",
              "inputDataFieldName": "data"
            },
            {
              "name": "phoneNo",
              "value": "={{ '0' + $('When Executed by Another Workflow').item.json.phonenumber.toString().replace(/^234/, '') }}"
            },
            {
              "name": "message",
              "value": "={{ $('When Executed by Another Workflow').item.json.message }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        656,
        -272
      ],
      "id": "__NODE_4__",
      "name": "POST to Speedy (with image)"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=[URL]",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "message",
              "value": "={{ $json.message }}"
            },
            {
              "name": "phoneNo",
              "value": "={{ '0' + $json.phonenumber.toString().replace(/^234/, '') }}\n"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        96,
        -48
      ],
      "id": "__NODE_5__",
      "name": "POST to Speedy (no image)"
    },
    {
      "parameters": {
        "resource": "media",
        "operation": "mediaUrlGet",
        "mediaGetId": "={{ $json.id }}"
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1,
      "position": [
        96,
        -272
      ],
      "id": "__NODE_6__",
      "name": "Download Audio1",
      "webhookId": "__WEBHOOK_1__",
      "credentials": {
        "whatsAppApi": {
          "id": "__WHATSAPP_CRED_ID",
          "name": "WhatsApp API Credentials"
        }
      }
    }
  ],
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Image exists?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Image exists?": {
      "main": [
        [
          {
            "node": "Download Audio1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "POST to Speedy (no image)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Image": {
      "main": [
        [
          {
            "node": "POST to Speedy (with image)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "POST to Speedy (with image)": {
      "main": [
        []
      ]
    },
    "POST to Speedy (no image)": {
      "main": [
        []
      ]
    },
    "Download Audio1": {
      "main": [
        [
          {
            "node": "Download Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false,
    "binaryMode": "separate"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {
    "When Executed by Another Workflow": [
      {
        "json": {
          "message": "Send 50000 to Adewale 08105465541",
          "phonenumber": 2348105465541,
          "id": ""
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "versionId": "__VERSION_ID__",
  "activeVersionId": "2d549a8c-2d98-49cd-a3a9-f098bf925f8c",
  "versionCounter": 309,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-02-01T15:36:08.662Z",
      "createdAt": "2026-02-01T15:36:08.662Z",
      "role": "workflow:owner",
      "workflowId": "UO0aVWbpZKpAlfc8",
      "projectId": "ir6dYbaAlha8WGmA",
      "project": {
        "updatedAt": "2026-01-30T11:59:38.451Z",
        "createdAt": "2026-01-30T11:25:24.975Z",
        "id": "ir6dYbaAlha8WGmA",
        "name": "Orange orangegroups.ai@gmail.com <orangegroups.ai@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "d6320d31-a534-40f1-9f67-e1a589e8f288"
      }
    }
  ],
  "versionMetadata": {
    "name": "Version 2d549a8c",
    "description": ""
  },
  "_sanitization_metadata": {
    "sanitized_at": "2026-06-26T13:55:22.032264+00:00",
    "original_name": "Speedy Sub workflow",
    "note": "Sensitive data replaced with placeholders.",
    "tables_renamed": {},
    "columns_renamed": {}
  }
}