MySquad_workflows/Agent_Modules_And_Tools/MySquad_Agent_C_Reminders_sanitized.json
{
  "updatedAt": "2026-05-31T08:55:16.298Z",
  "createdAt": "2026-05-29T15:29:18.927Z",
  "id": "__WORKFLOW_ID__",
  "name": "MySquad Agent C \u2014 Reminders & Subscriptions",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "inputSource": "jsonExample",
        "jsonExample": "{\"tenant_id\": \"uuid\", \"business_id\": \"uuid\", \"chat_id\": \"813122587\", \"sender_id\": \"813122587\", \"bot_token\": \"token\", \"conversation_id\": \"uuid\", \"text\": \"remind me to call Ada tomorrow at 9am\", \"message_type\": \"text\", \"display_name\": \"Nelly\", \"username\": \"\", \"image_id\": \"\", \"caption\": \"\", \"source\": \"telegram\"}"
      },
      "id": "__NODE_1__",
      "name": "Incoming Payload",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        4160,
        576
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT tc.*,\n  pi.access_token AS bot_token,\n  (SELECT json_agg(json_build_object('key', m.key, 'value', m.value))\n   FROM table_1 m\n   WHERE m.business_id = tc.business_id\n     AND m.is_active = true\n     AND (m.expires_at IS NULL OR m.expires_at > now())\n  ) as agent_memories\nFROM table_2 tc\nJOIN table_3 pi\n  ON pi.business_id = tc.business_id AND pi.platform = 'telegram'\nWHERE tc.tenant_id   = $1::uuid\n  AND tc.business_id = $2::uuid",
        "options": {
          "queryReplacement": "={{ [\n  $('Incoming Payload').first().json.tenant_id,\n  $('Incoming Payload').first().json.business_id\n] }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        4400,
        576
      ],
      "id": "__NODE_2__",
      "name": "Load Owner Context",
      "credentials": {
        "postgres": {
          "id": "__POSTGRES_CRED_ID",
          "name": "PostgreSQL Credentials"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const ctx = $('Load Owner Context').first().json;\nconst incoming = $('Incoming Payload').first().json;\n\nfunction safeParse(v, fb) {\n  if (v === null || v === undefined || v === '') return fb;\n  if (typeof v === 'string') { try { return JSON.parse(v) ?? fb; } catch(e) { return fb; } }\n  return v;\n}\nfunction asObject(v) { const p = safeParse(v, {}); return (p && typeof p === 'object' && !Array.isArray(p)) ? p : {}; }\n\nconst toneProfile  = asObject(ctx.tone_profile);\nconst agentName    = ctx.agent_name     || 'MyGuy';\nconst businessName = ctx.business_name  || 'your business';\nconst ownerName    = ctx.preferred_name || ctx.full_name || incoming.display_name || 'Boss';\nconst toneSummary  = toneProfile.tone_summary || 'friendly and professional';\nconst replyLanguage = String(ctx.reply_language || ctx.last_language_style || 'en').toLowerCase();\n\nfunction formatLocalNow() {\n  try { return new Intl.DateTimeFormat('en-NG', { timeZone: 'Africa/Lagos', weekday: 'short', month: 'short', day: 'numeric', year: 'numeric', hour: '2-digit', minute: '2-digit' }).format(new Date()); }\n  catch(e) { return new Date().toISOString(); }\n}\n\nconst sep = '\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550';\n\nconst systemPrompt = `You are ${agentName}, the reminders and subscriptions agent for ${businessName}. Be warm, direct, and concise.\n\n${sep}\nOWNER CONTEXT\n${sep}\nOwner: ${ownerName}\nBusiness: ${businessName}\nDefault reply language: ${replyLanguage === 'pidgin' ? 'Pidgin' : 'English'}\nCurrent Lagos time: ${formatLocalNow()}\n\n${sep}\nVOICE & PERSONALITY\n${sep}\nYou are ${agentName} \u2014 not a bot, not a system, not an assistant. You are a sharp, warm person who works for ${ownerName}.\n\nENGLISH REGISTER:\nWrite the way a smart, friendly Nigerian professional texts. Short. Direct. Warm but not gushy.\n- Lead with the result, not the process: \"Done! Order confirmed.\" not \"I have successfully confirmed the order.\"\n- Ask one question at a time, not a form: \"Which order do you mean?\" not \"Could you please provide the order number so I can process your request?\"\n- Use contractions: \"I've\", \"it's\", \"you're\", \"can't\", \"won't\"\n- Light affirmations are fine: \"Got it.\", \"Sure.\", \"On it.\" \u2014 but never more than 2 words before the actual answer.\n\nPIDGIN REGISTER:\nMirror the owner's Pidgin exactly. Do not tone it down or formalize it.\nNatural Pidgin patterns to use:\n- \"I don confirm am\" not \"I have confirmed it\"\n- \"Which one you mean?\" not \"Could you clarify which order?\"\n- \"Order don land\" not \"The order has been placed\"\n- \"No wahala\" not \"No problem\"\n- \"E don pay?\" not \"Has the customer paid?\"\n- \"Na which customer?\" not \"Which customer are you referring to?\"\n- \"I go check am now\" not \"I will check that for you\"\nDetect Pidgin from: dey, abeg, wetin, oya, wahala, sha, una, dem, na, abi, wan, e don, how far, no wahala, make we, sef, comot, chop.\nIf 2 or more markers appear \u2192 respond in full Pidgin. If the owner switches to English, switch back.\nNEVER mix Pidgin and English in the same reply.\n\nBANNED PHRASES (these make you sound like a bot \u2014 never use them):\n- \"Certainly!\", \"Of course!\", \"Absolutely!\", \"Sure thing!\"\n- \"I'd be happy to...\", \"I'd be glad to...\", \"I'm here to help\"\n- \"Great question!\", \"That's a great point!\"\n- \"I understand that...\", \"I can understand how...\"\n- \"As per your request\", \"As requested\", \"Please find below\"\n- \"I have successfully...\", \"The operation was successful\"\n- \"Thank you for reaching out\", \"Thank you for your patience\"\n- \"Is there anything else I can help you with?\"\n- Any sentence that starts with \"I\" followed by a verb that a human wouldn't actually say\n\nREACTION STYLE:\nBad (AI): \"I have noted your request. I will now proceed to update table_4 catalogue as per your instructions.\"\nGood (human): \"Updated! Here's the new catalogue: [list]\"\n\nBad (AI): \"I understand that you would like to confirm the order for Ada. Let me process that for you.\"\nGood (human): \"Confirming Ada's order now \u2014 done! \u2713 [ORDER_CONFIRMED: ...]\"\n\nBad (AI): \"Certainly! I'd be happy to set a reminder for you.\"\nGood (human): \"Done. Reminder set for tomorrow 9am \u2014 'Call Ada'.\"\n\nEMOJI USE:\nSparingly. One per message max, only when it adds warmth not decoration.\nGood: \"Done! \u2705\" / \"On it \ud83d\udd04\" / \"Sent \ud83d\udce4\"\nBad: \"Great news! \ud83c\udf89 Your order has been confirmed! \ud83c\udf1f Let me know if you need anything else! \ud83d\ude0a\"\n\n${sep}\nREMINDER RULES\n${sep}\nAlways convert natural-language time into table_5 valid Lagos-time ISO timestamp before calling any tool.\nExamples: \"tomorrow at 9am\" \u2192 next day 09:00:00+01:00, \"Friday morning\" \u2192 next Friday 08:00:00+01:00.\nIf the reminder text or time is missing, ask for the missing piece before calling.\nUse List Reminders Tool to get reminder IDs before updating, completing, or deleting.\nIf the owner is vague about which reminder to change, list first and ask which one.\nAfter setting a reminder confirm back with the text and time in one short sentence.\n\n${sep}\nSUBSCRIPTION RULES\n${sep}\nUse Create Subscription Tool for recurring news or update table_6\nA subscription is a recurring reminder with reminder_type = news_subscription.\ncolumn_1 true and a sensible next_run_time based on what the owner asks for.\nUse Cancel Subscription Tool when the owner says \"stop\", \"cancel\", or \"unsubscribe\".\nPass a topic_hint for specific topics (e.g. \"Arsenal\"), or empty string to cancel all.\n\n${sep}\nTOOL ROUTING\n${sep}\nSet Reminder Tool \u2014 create a new one-off or recurring reminder.\nList Reminders Tool \u2014 show pending reminders. Always call this first before update, complete, or delete.\nUpdate table_7 Tool \u2014 reschedule or change an existing reminder. Requires ID from table_8\nComplete Reminder Tool \u2014 mark a reminder done. Requires ID from table_8\nDelete Reminder Tool \u2014 permanently remove a reminder. Requires ID from table_8 Ask if vague.\nCreate Subscription Tool \u2014 create a recurring news or info subscription.\nCancel Subscription Tool \u2014 stop one or all subscriptions.\n\n${sep}\nHARD RULES\n${sep}\nNever invent a reminder ID. Always get it from table_9 Reminders Tool.\nNever delete without confirming the owner meant that specific reminder.\nNever create a reminder without a clear time and text.`;\n\nreturn {\n  json: {\n    system_prompt:    systemPrompt,\n    text:             incoming.text || incoming.caption || '',\n    caption:          incoming.caption || '',\n    tenant_id:        incoming.tenant_id,\n    business_id:      incoming.business_id,\n    chat_id:          incoming.chat_id,\n    sender_id:        incoming.sender_id,\n    user_id:          incoming.tenant_id,\n    display_name:     incoming.display_name || '',\n    username:         incoming.username || '',\n    source:           incoming.source || 'telegram',\n    message_type:     incoming.message_type || 'text',\n    image_id:         incoming.image_id || '',\n    bot_token:        incoming.bot_token || ctx.bot_token || '',\n    conversation_id:  incoming.conversation_id || '',\n    is_owner:         true,\n  }\n};"
      },
      "id": "__NODE_3__",
      "name": "Build Agent C Config",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4640,
        576
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.text || $json.caption || '' }}",
        "options": {
          "systemMessage": "={{ $json.system_prompt }}"
        }
      },
      "id": "__NODE_4__",
      "name": "Agent C \u2014 Reminders",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        4880,
        576
      ],
      "retryOnFail": true
    },
    {
      "parameters": {
        "model": "openai/gpt-oss-120b",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        4816,
        784
      ],
      "id": "__NODE_5__",
      "name": "Groq Chat Model",
      "credentials": {
        "groqApi": {
          "id": "__GROQ_CRED_ID",
          "name": "Groq API Credentials"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "=owner_{{ $json.chat_id }}_{{ $json.tenant_id }}_{{ $json.business_id }}",
        "tableName": "msq_chat_histories",
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        4976,
        784
      ],
      "id": "__NODE_6__",
      "name": "Agent C Chat Memory",
      "credentials": {
        "postgres": {
          "id": "__POSTGRES_CRED_ID",
          "name": "PostgreSQL Credentials"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "=Create a reminder for the owner.\n\nWHEN TO USE:\n- \"Remind me to...\"\n- \"Set a reminder for...\"\n- \"Remember to tell me...\"\n- time-based follow-ups: \"tomorrow at 2pm\", \"Friday morning\", \"next week\"\n\nREQUIRED before calling:\n- reminder_text: what to remind about\n- reminder_time: ISO timestamp in Lagos time (Africa/Lagos UTC+1)\n- next_run_time: same as reminder_time for one-off; first occurrence for recurring\n\nOPTIONAL:\n- reminder_type: general | task | meeting | birthday | news_subscription (default: general)\n- is_recurring: true or false (default: false)\n- max_runs: max times to run if recurring (omit for unlimited)\n\nRULES:\n- Convert natural-language time to ISO: \"tomorrow 9am\" \u2192 next day 09:00:00+01:00\n- Always ask if reminder_text or time is missing before calling.\n- After success confirm back with the reminder text and time.",
        "operation": "executeQuery",
        "query": "INSERT INTO table_10 (\n  tenant_id,\n  reminder_text,\n  reminder_time,\n  next_run_time,\n  reminder_type,\n  is_recurring,\n  max_runs,\n  status,\n  metadata\n) VALUES (\n  $1::uuid,\n  $2,\n  $3::timestamptz,\n  $4::timestamptz,\n  COALESCE(NULLIF($5, ''), 'general'),\n  COALESCE($6::boolean, false),\n  NULLIF($7, '')::int,\n  'pending',\n  '{}'::jsonb\n)\nRETURNING id, reminder_text, reminder_time, reminder_type, is_recurring, status",
        "options": {
          "queryReplacement": "={{ [\n  $json.tenant_id,\n  $fromAI('reminder_text', 'What to remind about', 'string'),\n  $fromAI('reminder_time', 'ISO timestamp in Lagos time e.g. 2026-05-30T09:00:00+01:00', 'string'),\n  $fromAI('next_run_time', 'ISO timestamp, same as reminder_time for one-off', 'string'),\n  $fromAI('reminder_type', 'general | task | meeting | birthday | news_subscription. Default: general', 'string') || 'general',\n  $fromAI('is_recurring', 'true for recurring, false for one-off. Default: false', 'boolean') ?? false,\n  String($fromAI('max_runs', 'Max number of runs for recurring. Leave empty for unlimited.', 'string') || '')\n] }}"
        }
      },
      "type": "n8n-nodes-base.postgresTool",
      "typeVersion": 2.6,
      "position": [
        5216,
        784
      ],
      "id": "__NODE_7__",
      "name": "Set Reminder Tool",
      "credentials": {
        "postgres": {
          "id": "__POSTGRES_CRED_ID",
          "name": "PostgreSQL Credentials"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "=List pending reminders for the owner.\n\nWHEN TO USE:\n- \"What reminders do I have?\"\n- \"Show my reminders\"\n- \"Any reminder for today?\"\n- \"What am I supposed to do later?\"\n\nRESPONSE RULE:\n- Present conversationally.\n- Show the most relevant reminders first.\n- Keep it short.",
        "operation": "executeQuery",
        "query": "SELECT\n  id,\n  reminder_text,\n  reminder_time,\n  next_run_time,\n  reminder_type,\n  status,\n  is_recurring,\n  metadata\nFROM table_10\ncolumn_2 $1::uuid\n  column_3 'pending'\nORDER BY next_run_time ASC",
        "options": {
          "queryReplacement": "={{ [$json.tenant_id] }}"
        }
      },
      "type": "n8n-nodes-base.postgresTool",
      "typeVersion": 2.6,
      "position": [
        5504,
        784
      ],
      "id": "__NODE_8__",
      "name": "List Reminders Tool",
      "credentials": {
        "postgres": {
          "id": "__POSTGRES_CRED_ID",
          "name": "PostgreSQL Credentials"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "=Reschedule or update table_11 existing reminder.\n\nWHEN TO USE:\n- \"Move my reminder\"\n- \"Change the time\"\n- \"Reschedule [task]\"\n- \"Update table_12 reminder for [task]\"\n\nREQUIRED:\n- id\n- reminder_time\n- next_run_time\n\nRULES:\n- Use the reminder id from table_9 Reminders Tool.\n- If the target reminder or new time is unclear, ask first.",
        "operation": "executeQuery",
        "query": "UPDATE table_10\ncolumn_4 $3::timestamptz,\n  next_run_time = $4::timestamptz,\n  updated_at = NOW(),\n  run_count = 0,\n  max_runs = 0\ncolumn_2 $1::uuid\n  column_5 $2::uuid\nRETURNING id, reminder_text, reminder_time, next_run_time",
        "options": {
          "queryReplacement": "={{ [  $json.tenant_id,  $fromAI('id', 'Reminder id to update', 'string'),  $fromAI('reminder_time', 'New Lagos-time ISO timestamp', 'string'),  $fromAI('next_run_time', 'Next run Lagos-time ISO timestamp', 'string')] }}"
        }
      },
      "type": "n8n-nodes-base.postgresTool",
      "typeVersion": 2.6,
      "position": [
        5776,
        784
      ],
      "id": "__NODE_9__",
      "name": "Update table_7 Tool",
      "credentials": {
        "postgres": {
          "id": "__POSTGRES_CRED_ID",
          "name": "PostgreSQL Credentials"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "=Mark a reminder as completed.\n\nWHEN TO USE:\n- \"Done\"\n- \"I finished that\"\n- \"Mark that reminder complete\"\n- \"Completed [task]\"\n\nREQUIRED:\n- id\n\nRULES:\n- Use the reminder id from table_9 Reminders Tool.\n- If the owner has not identified one reminder clearly, list or clarify first.",
        "operation": "executeQuery",
        "query": "UPDATE table_10\ncolumn_3 'completed',\n  updated_at = NOW(),\n  last_sent_at = NOW(),\n  run_count = 0,\n  max_runs = 0\ncolumn_2 $1::uuid\n  column_5 $2::uuid\nRETURNING id, reminder_text, status",
        "options": {
          "queryReplacement": "={{ [  $json.tenant_id,  $fromAI('id', 'Reminder id to mark completed', 'string')] }}"
        }
      },
      "type": "n8n-nodes-base.postgresTool",
      "typeVersion": 2.6,
      "position": [
        6064,
        784
      ],
      "id": "__NODE_10__",
      "name": "Complete Reminder Tool",
      "credentials": {
        "postgres": {
          "id": "__POSTGRES_CRED_ID",
          "name": "PostgreSQL Credentials"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "=Delete a reminder permanently.\n\nWHEN TO USE:\n- \"Delete my reminder\"\n- \"Remove [task] reminder\"\n- \"Cancel that reminder\"\n\nREQUIRED:\n- id\n\nRULES:\n- Use the reminder id from table_9 Reminders Tool.\n- If the owner is vague, ask which reminder they mean before deleting.",
        "operation": "executeQuery",
        "query": "DELETE FROM table_10\ncolumn_2 $1::uuid\n  column_5 $2::uuid\nRETURNING id, reminder_text",
        "options": {
          "queryReplacement": "={{ [  $json.tenant_id,  $fromAI('id', 'Reminder id to delete', 'string')] }}"
        }
      },
      "type": "n8n-nodes-base.postgresTool",
      "typeVersion": 2.6,
      "position": [
        5216,
        1008
      ],
      "id": "__NODE_11__",
      "name": "Delete Reminder Tool",
      "credentials": {
        "postgres": {
          "id": "__POSTGRES_CRED_ID",
          "name": "PostgreSQL Credentials"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "=Cancel a recurring news or information subscription.\n\nWHEN TO USE:\n- \"Stop the updates\"\n- \"Cancel my sports news\"\n- \"Unsubscribe from table_13 news\"\n- \"Stop all updates\"\n\nPARAMETER:\n- topic_hint\n\nRULES:\n- If the owner wants one topic stopped, pass a short topic_hint like \"Arsenal\" or \"politics\".\n- If the owner wants all recurring updates stopped, pass an empty string.\n- Confirm conversationally which subscriptions were stopped.",
        "operation": "executeQuery",
        "query": "INSERT INTO table_10 (\n  tenant_id,\n  reminder_text,\n  reminder_time,\n  next_run_time,\n  reminder_type,\n  status,\n  is_recurring,\n  max_runs,\n  run_count,\n  metadata\n) VALUES (\n  $1::uuid,\n  $2,\n  $3::timestamptz,\n  $4::timestamptz,\n  'news_subscription',\n  'pending',\n  true,\n  NULLIF($5, '')::int,\n  0,\n  COALESCE($6::jsonb, '{}'::jsonb)\n)\nRETURNING id, reminder_text, next_run_time, reminder_type, status",
        "options": {
          "queryReplacement": "={{ [\n  $json.tenant_id,\n  $fromAI('reminder_text', 'Subscription description e.g. Arsenal news every morning', 'string'),\n  $fromAI('reminder_time', 'Base Lagos-time ISO timestamp', 'string'),\n  $fromAI('next_run_time', 'Next run Lagos-time ISO timestamp', 'string'),\n  String($fromAI('max_runs', 'How many times to run. Leave empty for unlimited.', 'string') || ''),\n  JSON.stringify($fromAI('metadata', 'JSON schedule metadata or null', 'json') || {})\n] }}"
        }
      },
      "type": "n8n-nodes-base.postgresTool",
      "typeVersion": 2.6,
      "position": [
        5504,
        1008
      ],
      "id": "__NODE_12__",
      "name": "Create Subscription Tool",
      "credentials": {
        "postgres": {
          "id": "__POSTGRES_CRED_ID",
          "name": "PostgreSQL Credentials"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "=Cancel a recurring news or information subscription.\n\nWHEN TO USE:\n- \"Stop the updates\"\n- \"Cancel my sports news\"\n- \"Unsubscribe from table_13 news\"\n- \"Stop all updates\"\n\nPARAMETER:\n- topic_hint\n\nRULES:\n- Use topic_hint when the owner wants a specific subscription cancelled.\n- If they want all subscriptions stopped, cancel all matching recurring news updates.",
        "operation": "executeQuery",
        "query": "UPDATE table_10\ncolumn_3 'completed', updated_at = NOW()\ncolumn_2 $1::uuid\n  column_6 'news_subscription'\n  column_3 'pending'\n  AND (\n    NULLIF($2, '') IS NULL\n    OR reminder_text ILIKE '%' || $2 || '%'\n  )\nRETURNING id, reminder_text, status",
        "options": {
          "queryReplacement": "={{ [\n  $('Build Agent C Config').first().json.user_id,\n  $fromAI('topic_hint', 'Specific topic to stop, or empty string to stop all subscriptions', 'string') || ''\n] }}"
        }
      },
      "type": "n8n-nodes-base.postgresTool",
      "typeVersion": 2.6,
      "position": [
        5776,
        1008
      ],
      "id": "__NODE_13__",
      "name": "Cancel Subscription Tool",
      "credentials": {
        "postgres": {
          "id": "__POSTGRES_CRED_ID",
          "name": "PostgreSQL Credentials"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const outputRaw = $('Agent C \u2014 Reminders').first().json.output || '';\nconst incomingData = $('Incoming Payload').first().json;\n\nlet bufferMessage = null;\nlet caption = null;\nlet genPrompt = null;\nlet genMode = null;\nlet response_type = 'text';\nlet output = outputRaw;\nlet mediaType = null;\n\n// Notification flags\nlet hasOrderConfirmed = false;\nlet confirmedOrderNumber = null;\nlet confirmedCustomerChatId = null;\nlet paymentConfirmed = false;\nlet paymentOrderNumber = null;\nlet broadcastMessage = null;\n\n// Extract [BUFFER: ...]\nconst bufferMatch = outputRaw.match(/\\[BUFFER:\\s*(.*?)\\]/s);\nif (bufferMatch) {\n  bufferMessage = bufferMatch[1].trim();\n}\n\n// Extract [CAPTION: ...]\nconst captionMatch = outputRaw.match(/\\[CAPTION:\\s*(.*?)\\]/s);\nif (captionMatch) {\n  caption = captionMatch[1].trim();\n}\n\n// Extract [ORDER_CONFIRMED: ...]\nconst orderConfirmedMatch = outputRaw.match(/\\[ORDER_CONFIRMED:\\s*([\\w-]+)\\s*\\|\\s*(\\d+)\\]/);\nif (orderConfirmedMatch) {\n  hasOrderConfirmed = true;\n  confirmedOrderNumber = orderConfirmedMatch[1].trim();\n  confirmedCustomerChatId = orderConfirmedMatch[2].trim();\n}\n\n// Extract [PAYMENT_CONFIRMED: ...]\nconst paymentConfirmedMatch = outputRaw.match(/\\[PAYMENT_CONFIRMED:\\s*([\\w-]+)\\s*(?:\\|\\s*(\\d+))?\\]/);\nif (paymentConfirmedMatch) {\n  paymentConfirmed = true;\n  paymentOrderNumber = paymentConfirmedMatch[1].trim();\n  if (paymentConfirmedMatch[2]) {\n    confirmedCustomerChatId = paymentConfirmedMatch[2].trim();\n  }\n}\n\n// Extract [BROADCAST: ...]\nconst broadcastMatch = outputRaw.match(/\\[BROADCAST:\\s*([\\s\\S]*?)\\]/);\nif (broadcastMatch) {\n  broadcastMessage = broadcastMatch[1].trim().substring(0, 1000);\n}\n\n// Extract legacy generation tags\nconst imageGenMatch    = outputRaw.match(/\\[IMAGE_GEN:\\s*(.*?)\\]/s);\nconst videoGenMatch    = outputRaw.match(/\\[VIDEO_GEN:\\s*(.*?)\\]/s);\nconst image2imageMatch = outputRaw.match(/\\[IMAGE2IMAGE:\\s*(.*?)\\]/s);\nconst image2videoMatch = outputRaw.match(/\\[IMAGE2VIDEO:\\s*(.*?)\\]/s);\n\nif (imageGenMatch) {\n  response_type = 'image'; genPrompt = imageGenMatch[1].trim(); genMode = 'text_to_image'; mediaType = 'image';\n} else if (videoGenMatch) {\n  response_type = 'video'; genPrompt = videoGenMatch[1].trim(); genMode = 'text_to_video'; mediaType = 'video';\n} else if (image2imageMatch) {\n  response_type = 'image'; genPrompt = image2imageMatch[1].trim(); genMode = 'image_to_image'; mediaType = 'image';\n} else if (image2videoMatch) {\n  response_type = 'video'; genPrompt = image2videoMatch[1].trim(); genMode = 'image_to_video'; mediaType = 'video';\n}\n\n// Check for FAL_MEDIA_REQUEST\nconst hasFalRequest = outputRaw.includes('[FAL_MEDIA_REQUEST:');\n\nif (hasFalRequest) {\n  response_type = 'image';\n\n  const falStart = outputRaw.indexOf('[FAL_MEDIA_REQUEST:');\n  if (falStart !== -1) {\n    const braceStart = outputRaw.indexOf('{', falStart);\n    if (braceStart !== -1) {\n      let braceCount = 0;\n      let braceEnd = -1;\n      let inString = false;\n      let escapeNext = false;\n\n      for (let i = braceStart; i < outputRaw.length; i++) {\n        const char = outputRaw[i];\n        if (escapeNext) { escapeNext = false; continue; }\n        if (char === '\\\\') { escapeNext = true; continue; }\n        if (char === '\"') { inString = !inString; continue; }\n        if (!inString) {\n          if (char === '{') braceCount++;\n          if (char === '}') {\n            braceCount--;\n            if (braceCount === 0) { braceEnd = i; break; }\n          }\n        }\n      }\n\n      if (braceEnd !== -1) {\n        const falContent = outputRaw.substring(braceStart, braceEnd + 1);\n\n        const modeMatch   = falContent.match(/\"generation_mode\"\\s*:\\s*\"([^\"]+)\"/);\n        if (modeMatch) genMode = modeMatch[1];\n\n        const promptMatch = falContent.match(/\"prompt\"\\s*:\\s*\"((?:[^\"\\\\]|\\\\.)*)\"/);\n        if (promptMatch) genPrompt = promptMatch[1].replace(/\\\\\"/g, '\"').replace(/\\\\\\\\/g, '\\\\');\n\n        if (genMode === 'text_to_image' || genMode === 'image_to_image') {\n          response_type = 'image'; mediaType = 'image';\n        } else if (genMode === 'text_to_video' || genMode === 'image_to_video') {\n          response_type = 'video'; mediaType = 'video';\n        }\n      }\n    }\n  }\n\n  if (!bufferMessage && genMode) bufferMessage = 'Gimme a sec...';\n  if (!caption && genMode) caption = 'Here you go!';\n\n  return {\n    json: {\n      output: outputRaw,\n      response_type,\n      message_type_in: incomingData.message_type || 'text',\n      gen_prompt: genPrompt,\n      gen_mode: genMode,\n      buffer_message: bufferMessage,\n      caption,\n      has_order_confirmed: hasOrderConfirmed,\n      confirmed_order_number: confirmedOrderNumber,\n      confirmed_customer_chat_id: confirmedCustomerChatId,\n      payment_confirmed: paymentConfirmed,\n      payment_order_number: paymentOrderNumber,\n      broadcast_message: broadcastMessage,\n    }\n  };\n}\n\n// \u2500\u2500 Non-media responses \u2014 clean output \u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\nlet cleanOutput = outputRaw;\ncleanOutput = cleanOutput\n  .replace(/\\[BUFFER:.*?\\]/s, '')\n  .replace(/\\[CAPTION:.*?\\]/s, '')\n  .replace(/\\[ORDER_CONFIRMED:.*?\\]/s, '')\n  .replace(/\\[PAYMENT_CONFIRMED:.*?\\]/s, '')\n  .replace(/\\[BROADCAST:[\\s\\S]*?\\]/g, '')\n  .trim();\n\nif (!cleanOutput || cleanOutput === '') {\n  cleanOutput = 'Done!';\n}\n\nreturn {\n  json: {\n    output: cleanOutput.trim(),\n    response_type,\n    message_type_in: incomingData.message_type || 'text',\n    gen_prompt: null,\n    gen_mode: null,\n    buffer_message: null,\n    caption: null,\n    has_order_confirmed: hasOrderConfirmed,\n    confirmed_order_number: confirmedOrderNumber,\n    confirmed_customer_chat_id: confirmedCustomerChatId,\n    payment_confirmed: paymentConfirmed,\n    payment_order_number: paymentOrderNumber,\n    broadcast_message: broadcastMessage,\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5120,
        576
      ],
      "id": "__NODE_14__",
      "name": "Output Classifier"
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\nconst incoming = $('Incoming Payload').first().json;\n\nreturn {\n  json: {\n    output:          data.output,\n    response_type:   data.response_type,\n    message_type_in: data.message_type_in || 'text',\n    gen_prompt:      data.gen_prompt      || null,\n    gen_mode:        data.gen_mode        || null,\n    buffer_message:  data.buffer_message  || null,\n    caption:         data.caption         || null,\n    // Required by main handler\n    bot_token:                  $('Build Agent C Config').first().json.bot_token,\n    chat_id:                    incoming.chat_id,\n    conversation_id:            incoming.conversation_id,\n    tenant_id:                  incoming.tenant_id,\n    user_message:               incoming.text || incoming.caption || '',\n    is_owner:                   true,\n    has_new_order:              data.has_new_order              || false,\n    order_number:               data.order_number               || null,\n    order_summary:              data.order_summary              || null,\n    has_order_confirmed:        data.has_order_confirmed        || false,\n    confirmed_order_number:     data.confirmed_order_number     || null,\n    confirmed_customer_chat_id: data.confirmed_customer_chat_id || null,\n    payment_confirmed:          data.payment_confirmed          || false,\n    payment_order_number:       data.payment_order_number       || null,\n    broadcast_message:          data.broadcast_message          || null,\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5360,
        576
      ],
      "id": "__NODE_15__",
      "name": "Respond To Input"
    }
  ],
  "connections": {
    "Incoming Payload": {
      "main": [
        [
          {
            "node": "Load Owner Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Load Owner Context": {
      "main": [
        [
          {
            "node": "Build Agent C Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Agent C Config": {
      "main": [
        [
          {
            "node": "Agent C \u2014 Reminders",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agent C \u2014 Reminders": {
      "main": [
        [
          {
            "node": "Output Classifier",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Output Classifier": {
      "main": [
        [
          {
            "node": "Respond To Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Agent C \u2014 Reminders",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Agent C Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "Agent C \u2014 Reminders",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Set Reminder Tool": {
      "ai_tool": [
        [
          {
            "node": "Agent C \u2014 Reminders",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "List Reminders Tool": {
      "ai_tool": [
        [
          {
            "node": "Agent C \u2014 Reminders",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Update Reminders Tool": {
      "ai_tool": [
        [
          {
            "node": "Agent C \u2014 Reminders",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Complete Reminder Tool": {
      "ai_tool": [
        [
          {
            "node": "Agent C \u2014 Reminders",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Delete Reminder Tool": {
      "ai_tool": [
        [
          {
            "node": "Agent C \u2014 Reminders",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Create Subscription Tool": {
      "ai_tool": [
        [
          {
            "node": "Agent C \u2014 Reminders",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Cancel Subscription Tool": {
      "ai_tool": [
        [
          {
            "node": "Agent C \u2014 Reminders",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "timeSavedMode": "fixed",
    "errorWorkflow": "gmbekEHeofgw6FGi",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "__VERSION_ID__",
  "activeVersionId": "cb57006c-5df5-46b6-9619-029c1c19b803",
  "versionCounter": 87,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-05-29T15:29:18.927Z",
      "createdAt": "2026-05-29T15:29:18.927Z",
      "role": "workflow:owner",
      "workflowId": "lRMvGFLvMn5Ubi6i",
      "projectId": "ir6dYbaAlha8WGmA",
      "project": {
        "updatedAt": "2026-01-30T11:59:38.451Z",
        "createdAt": "2026-01-30T11:25:24.975Z",
        "id": "ir6dYbaAlha8WGmA",
        "name": "Orange orangegroups.ai@gmail.com <orangegroups.ai@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "d6320d31-a534-40f1-9f67-e1a589e8f288"
      }
    }
  ],
  "versionMetadata": {
    "name": "Version cb57006c",
    "description": ""
  },
  "_sanitization_metadata": {
    "sanitized_at": "2026-06-26T13:55:21.673842+00:00",
    "original_name": "MySquad Agent C \u2014 Reminders & Subscriptions",
    "note": "Sensitive data replaced with placeholders.",
    "tables_renamed": {
      "msq_agent_memory": "table_1",
      "msq_tenant_context": "table_2",
      "msq_platform_integrations": "table_3",
      "the": "table_4",
      "a": "table_5",
      "subscriptions.": "table_6",
      "Reminders": "table_7",
      "List.": "table_8",
      "List": "table_9",
      "msq_reminders": "table_10",
      "an": "table_11",
      "my": "table_12",
      "politics": "table_13"
    },
    "columns_renamed": {
      "is_recurring": "column_1",
      "tenant_id": "column_2",
      "status": "column_3",
      "reminder_time": "column_4",
      "id": "column_5",
      "reminder_type": "column_6"
    }
  }
}