MySquad_workflows/Agent_Modules_And_Tools/MySquad_Agent_E_Google_Workspace_sanitized.json
{
  "updatedAt": "2026-05-31T08:55:28.292Z",
  "createdAt": "2026-05-29T15:52:49.076Z",
  "id": "__WORKFLOW_ID__",
  "name": "MySquad Agent E \u2014 Google Workspace",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "inputSource": "jsonExample",
        "jsonExample": "{\"tenant_id\": \"uuid\", \"business_id\": \"uuid\", \"chat_id\": \"813122587\", \"sender_id\": \"813122587\", \"bot_token\": \"token\", \"conversation_id\": \"uuid\", \"text\": \"what meetings do I have today\", \"message_type\": \"text\", \"display_name\": \"Nelly\", \"username\": \"\", \"image_id\": \"\", \"caption\": \"\", \"source\": \"telegram\"}"
      },
      "id": "__NODE_1__",
      "name": "Incoming Payload",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -224,
        32
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT tc.*,\n  pi.access_token AS bot_token,\n  (SELECT json_agg(json_build_object('key', m.key, 'value', m.value))\n   FROM table_1 m\n   WHERE m.business_id = tc.business_id\n     AND m.is_active = true\n     AND (m.expires_at IS NULL OR m.expires_at > now())\n  ) as agent_memories\nFROM table_2 tc\nJOIN table_3 pi\n  ON pi.business_id = tc.business_id AND pi.platform = 'telegram'\nWHERE tc.tenant_id   = $1::uuid\n  AND tc.business_id = $2::uuid",
        "options": {
          "queryReplacement": "={{ [\n  $('Incoming Payload').first().json.tenant_id,\n  $('Incoming Payload').first().json.business_id\n] }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        16,
        32
      ],
      "id": "__NODE_2__",
      "name": "Load Owner Context",
      "credentials": {
        "postgres": {
          "id": "__POSTGRES_CRED_ID",
          "name": "PostgreSQL Credentials"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const ctx = $('Load Owner Context').first().json;\nconst incoming = $('Incoming Payload').first().json;\n\nfunction asObject(v) {\n  if (v === null || v === undefined || v === '') return {};\n  if (typeof v === 'string') { try { return JSON.parse(v) ?? {}; } catch(e) { return {}; } }\n  return (v && typeof v === 'object' && !Array.isArray(v)) ? v : {};\n}\n\nconst toneProfile   = asObject(ctx.tone_profile);\nconst agentName     = ctx.agent_name     || 'MyGuy';\nconst businessName  = ctx.business_name  || 'your business';\nconst ownerName     = ctx.preferred_name || ctx.full_name || incoming.display_name || 'Boss';\nconst toneSummary   = toneProfile.tone_summary || 'friendly and professional';\nconst replyLanguage = String(ctx.reply_language || ctx.last_language_style || 'en').toLowerCase();\n\nfunction formatLocalNow() {\n  try { return new Intl.DateTimeFormat('en-NG', { timeZone: 'Africa/Lagos', weekday: 'short', month: 'short', day: 'numeric', year: 'numeric', hour: '2-digit', minute: '2-digit' }).format(new Date()); }\n  catch(e) { return new Date().toISOString(); }\n}\n\nconst sep = '\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550';\n\nconst systemPrompt = `You are ${agentName}, the Google workspace agent for ${ownerName}. Be warm, direct, and concise.\n\n${sep}\nOWNER CONTEXT\n${sep}\nOwner: ${ownerName}\nBusiness: ${businessName}\nDefault reply language: ${replyLanguage === 'pidgin' ? 'Pidgin' : 'English'}\nCurrent Lagos time: ${formatLocalNow()}\n\n${sep}\nVOICE & PERSONALITY\n${sep}\nYou are ${agentName} \u2014 not a bot, not a system. You are a sharp, warm person helping ${ownerName} with their Google tools.\n\nENGLISH REGISTER:\nWrite the way a smart Nigerian professional texts. Short. Direct. Lead with the result.\n- \"You have 3 unread emails from table_4\" not \"I have retrieved your emails. You have 3 unread messages.\"\n- \"Meeting scheduled for Friday 10am.\" not \"I have successfully created a calendar event.\"\n- Use contractions: \"I've\", \"it's\", \"you're\"\n- Max 2-word affirmation before the answer: \"Done.\", \"Sure.\", \"On it.\"\n\nPIDGIN REGISTER:\nMirror the owner's Pidgin exactly.\n- \"You get 3 unread mail from table_5\" not \"You have 3 unread emails\"\n- \"I don schedule am for Friday 10am\" not \"Meeting scheduled\"\n- \"Wetin the email talk?\" \u2192 summarise the email content naturally in Pidgin\nDetect Pidgin from: dey, abeg, wetin, oya, wahala, sha, una, dem, na, abi, wan, e don, how far, no wahala, make we, sef.\n2 or more markers \u2192 full Pidgin. Switch back when owner switches.\nNEVER mix Pidgin and English in the same reply.\n\nBANNED PHRASES:\n- \"Certainly!\", \"Of course!\", \"I'd be happy to...\"\n- \"I have successfully...\", \"The operation was successful\"\n- \"Thank you for your patience\", \"Is there anything else I can help you with?\"\n- Any opener that restates what the owner just asked\n\nEMOJI USE: Sparingly. One max per message.\n\n${sep}\nSCOPE \u2014 WHAT THIS AGENT HANDLES\n${sep}\nGmail: read, search, draft, send emails.\nGoogle Calendar: check schedule, create events, update table_6 delete events, Google Meet links.\nCan expand to: Zoom scheduling (when connected).\nDoes NOT handle: web search, balance, orders, reminders, banking.\n\n${sep}\nTOOL USAGE\n${sep}\nPass the owner's exact request as the query to Call Google Tools.\nDo not rewrite or sanitize the message \u2014 pass it as-is.\nIf a follow-up is needed (e.g. owner confirms a draft email), pass the follow-up as the next query.\nPresent results conversationally \u2014 never dump raw API output.\nFor emails: summarise subject, sender, and key point in 1-2 sentences per email.\nFor calendar: state day, date, time, and event name clearly.\n\n${sep}\nHARD RULES\n${sep}\nNever invent email content, event details, or contact information.\nIf the tool returns an error, say so plainly and suggest the owner checks their Google connection.\nNever fabricate a \"sent\" or \"created\" confirmation if the tool did not return success.`;\n\nreturn {\n  json: {\n    system_prompt:    systemPrompt,\n    text:             incoming.text || incoming.caption || '',\n    caption:          incoming.caption || '',\n    tenant_id:        incoming.tenant_id,\n    business_id:      incoming.business_id,\n    chat_id:          incoming.chat_id,\n    sender_id:        incoming.sender_id,\n    user_id:          incoming.tenant_id,\n    display_name:     incoming.display_name || '',\n    username:         incoming.username || '',\n    source:           incoming.source || 'telegram',\n    message_type:     incoming.message_type || 'text',\n    image_id:         incoming.image_id || '',\n    bot_token:        incoming.bot_token || ctx.bot_token || '',\n    conversation_id:  incoming.conversation_id || '',\n    is_owner:         true,\n  }\n};"
      },
      "id": "__NODE_3__",
      "name": "Build Agent E Config",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        256,
        32
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.text || $json.caption || '' }}",
        "options": {
          "systemMessage": "={{ $json.system_prompt }}"
        }
      },
      "id": "__NODE_4__",
      "name": "Agent E \u2014 Google",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        496,
        32
      ],
      "retryOnFail": true
    },
    {
      "parameters": {
        "model": "openai/gpt-oss-120b",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        432,
        240
      ],
      "id": "__NODE_5__",
      "name": "Groq Chat Model",
      "credentials": {
        "groqApi": {
          "id": "__GROQ_CRED_ID",
          "name": "Groq API Credentials"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "=owner_{{ $json.chat_id }}_{{ $json.tenant_id }}_{{ $json.business_id }}",
        "tableName": "msq_chat_histories",
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        592,
        240
      ],
      "id": "__NODE_6__",
      "name": "Agent E Chat Memory",
      "credentials": {
        "postgres": {
          "id": "__POSTGRES_CRED_ID",
          "name": "PostgreSQL Credentials"
        }
      }
    },
    {
      "parameters": {
        "description": "=Use for Gmail and Google Calendar requests.\n\nWHEN TO USE:\n- reading or searching emails\n- sending or drafting emails\n- checking unread emails\n- calendar events and meetings\n- creating, updating, or deleting calendar events\n- Google Meet scheduling\n\nTRIGGERS:\n- \"Check my emails\"\n- \"Send an email to...\"\n- \"Any unread mail?\"\n- \"What meetings do I have today?\"\n- \"Schedule a meeting...\"\n- \"Create a calendar event\"\n\nINPUT:\n- query\n\nRULES:\n- Use for Gmail and Calendar only.\n- Do not use for general web search.\n- Present results conversationally, not as raw API output.",
        "workflowId": {
          "__rl": true,
          "value": "ZMsRfxp9daKXKZh0SdLKC",
          "mode": "list",
          "cachedResultUrl": "/workflow/ZMsRfxp9daKXKZh0SdLKC",
          "cachedResultName": "Google Sub Workflow"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "query": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('query', ``, 'string') }}",
            "tenant_id": "={{ $json.tenant_id }}",
            "messaging_channel": "={{ $json.source }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "query",
              "displayName": "query",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "tenant_id",
              "displayName": "tenant_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "messaging_channel",
              "displayName": "messaging_channel",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        800,
        240
      ],
      "id": "__NODE_7__",
      "name": "Call Google Tools"
    },
    {
      "parameters": {
        "jsCode": "const outputRaw = $('Agent E \u2014 Google').first().json.output || '';\nconst incomingData = $('Incoming Payload').first().json;\n\nlet bufferMessage = null;\nlet caption = null;\nlet genPrompt = null;\nlet genMode = null;\nlet response_type = 'text';\nlet output = outputRaw;\nlet mediaType = null;\n\n// Notification flags\nlet hasOrderConfirmed = false;\nlet confirmedOrderNumber = null;\nlet confirmedCustomerChatId = null;\nlet paymentConfirmed = false;\nlet paymentOrderNumber = null;\nlet broadcastMessage = null;\n\n// Extract [BUFFER: ...]\nconst bufferMatch = outputRaw.match(/\\[BUFFER:\\s*(.*?)\\]/s);\nif (bufferMatch) {\n  bufferMessage = bufferMatch[1].trim();\n}\n\n// Extract [CAPTION: ...]\nconst captionMatch = outputRaw.match(/\\[CAPTION:\\s*(.*?)\\]/s);\nif (captionMatch) {\n  caption = captionMatch[1].trim();\n}\n\n// Extract [ORDER_CONFIRMED: ...]\nconst orderConfirmedMatch = outputRaw.match(/\\[ORDER_CONFIRMED:\\s*([\\w-]+)\\s*\\|\\s*(\\d+)\\]/);\nif (orderConfirmedMatch) {\n  hasOrderConfirmed = true;\n  confirmedOrderNumber = orderConfirmedMatch[1].trim();\n  confirmedCustomerChatId = orderConfirmedMatch[2].trim();\n}\n\n// Extract [PAYMENT_CONFIRMED: ...]\nconst paymentConfirmedMatch = outputRaw.match(/\\[PAYMENT_CONFIRMED:\\s*([\\w-]+)\\s*(?:\\|\\s*(\\d+))?\\]/);\nif (paymentConfirmedMatch) {\n  paymentConfirmed = true;\n  paymentOrderNumber = paymentConfirmedMatch[1].trim();\n  if (paymentConfirmedMatch[2]) {\n    confirmedCustomerChatId = paymentConfirmedMatch[2].trim();\n  }\n}\n\n// Extract [BROADCAST: ...]\nconst broadcastMatch = outputRaw.match(/\\[BROADCAST:\\s*([\\s\\S]*?)\\]/);\nif (broadcastMatch) {\n  broadcastMessage = broadcastMatch[1].trim().substring(0, 1000);\n}\n\n// Extract legacy generation tags\nconst imageGenMatch    = outputRaw.match(/\\[IMAGE_GEN:\\s*(.*?)\\]/s);\nconst videoGenMatch    = outputRaw.match(/\\[VIDEO_GEN:\\s*(.*?)\\]/s);\nconst image2imageMatch = outputRaw.match(/\\[IMAGE2IMAGE:\\s*(.*?)\\]/s);\nconst image2videoMatch = outputRaw.match(/\\[IMAGE2VIDEO:\\s*(.*?)\\]/s);\n\nif (imageGenMatch) {\n  response_type = 'image'; genPrompt = imageGenMatch[1].trim(); genMode = 'text_to_image'; mediaType = 'image';\n} else if (videoGenMatch) {\n  response_type = 'video'; genPrompt = videoGenMatch[1].trim(); genMode = 'text_to_video'; mediaType = 'video';\n} else if (image2imageMatch) {\n  response_type = 'image'; genPrompt = image2imageMatch[1].trim(); genMode = 'image_to_image'; mediaType = 'image';\n} else if (image2videoMatch) {\n  response_type = 'video'; genPrompt = image2videoMatch[1].trim(); genMode = 'image_to_video'; mediaType = 'video';\n}\n\n// Check for FAL_MEDIA_REQUEST\nconst hasFalRequest = outputRaw.includes('[FAL_MEDIA_REQUEST:');\n\nif (hasFalRequest) {\n  response_type = 'image';\n\n  const falStart = outputRaw.indexOf('[FAL_MEDIA_REQUEST:');\n  if (falStart !== -1) {\n    const braceStart = outputRaw.indexOf('{', falStart);\n    if (braceStart !== -1) {\n      let braceCount = 0;\n      let braceEnd = -1;\n      let inString = false;\n      let escapeNext = false;\n\n      for (let i = braceStart; i < outputRaw.length; i++) {\n        const char = outputRaw[i];\n        if (escapeNext) { escapeNext = false; continue; }\n        if (char === '\\\\') { escapeNext = true; continue; }\n        if (char === '\"') { inString = !inString; continue; }\n        if (!inString) {\n          if (char === '{') braceCount++;\n          if (char === '}') {\n            braceCount--;\n            if (braceCount === 0) { braceEnd = i; break; }\n          }\n        }\n      }\n\n      if (braceEnd !== -1) {\n        const falContent = outputRaw.substring(braceStart, braceEnd + 1);\n\n        const modeMatch   = falContent.match(/\"generation_mode\"\\s*:\\s*\"([^\"]+)\"/);\n        if (modeMatch) genMode = modeMatch[1];\n\n        const promptMatch = falContent.match(/\"prompt\"\\s*:\\s*\"((?:[^\"\\\\]|\\\\.)*)\"/);\n        if (promptMatch) genPrompt = promptMatch[1].replace(/\\\\\"/g, '\"').replace(/\\\\\\\\/g, '\\\\');\n\n        if (genMode === 'text_to_image' || genMode === 'image_to_image') {\n          response_type = 'image'; mediaType = 'image';\n        } else if (genMode === 'text_to_video' || genMode === 'image_to_video') {\n          response_type = 'video'; mediaType = 'video';\n        }\n      }\n    }\n  }\n\n  if (!bufferMessage && genMode) bufferMessage = 'Gimme a sec...';\n  if (!caption && genMode) caption = 'Here you go!';\n\n  return {\n    json: {\n      output: outputRaw,\n      response_type,\n      message_type_in: incomingData.message_type || 'text',\n      gen_prompt: genPrompt,\n      gen_mode: genMode,\n      buffer_message: bufferMessage,\n      caption,\n      has_order_confirmed: hasOrderConfirmed,\n      confirmed_order_number: confirmedOrderNumber,\n      confirmed_customer_chat_id: confirmedCustomerChatId,\n      payment_confirmed: paymentConfirmed,\n      payment_order_number: paymentOrderNumber,\n      broadcast_message: broadcastMessage,\n    }\n  };\n}\n\n// \u2500\u2500 Non-media responses \u2014 clean output \u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\nlet cleanOutput = outputRaw;\ncleanOutput = cleanOutput\n  .replace(/\\[BUFFER:.*?\\]/s, '')\n  .replace(/\\[CAPTION:.*?\\]/s, '')\n  .replace(/\\[ORDER_CONFIRMED:.*?\\]/s, '')\n  .replace(/\\[PAYMENT_CONFIRMED:.*?\\]/s, '')\n  .replace(/\\[BROADCAST:[\\s\\S]*?\\]/g, '')\n  .trim();\n\nif (!cleanOutput || cleanOutput === '') {\n  cleanOutput = 'Done!';\n}\n\nreturn {\n  json: {\n    output: cleanOutput.trim(),\n    response_type,\n    message_type_in: incomingData.message_type || 'text',\n    gen_prompt: null,\n    gen_mode: null,\n    buffer_message: null,\n    caption: null,\n    has_order_confirmed: hasOrderConfirmed,\n    confirmed_order_number: confirmedOrderNumber,\n    confirmed_customer_chat_id: confirmedCustomerChatId,\n    payment_confirmed: paymentConfirmed,\n    payment_order_number: paymentOrderNumber,\n    broadcast_message: broadcastMessage,\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        736,
        32
      ],
      "id": "__NODE_8__",
      "name": "Output Classifier"
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\nconst incoming = $('Incoming Payload').first().json;\n\nreturn {\n  json: {\n    output:          data.output,\n    response_type:   data.response_type,\n    message_type_in: data.message_type_in || 'text',\n    gen_prompt:      data.gen_prompt      || null,\n    gen_mode:        data.gen_mode        || null,\n    buffer_message:  data.buffer_message  || null,\n    caption:         data.caption         || null,\n    // Required by main handler\n    bot_token:                  $('Build Agent E Config').first().json.bot_token,\n    chat_id:                    incoming.chat_id,\n    conversation_id:            incoming.conversation_id,\n    tenant_id:                  incoming.tenant_id,\n    user_message:               incoming.text || incoming.caption || '',\n    is_owner:                   true,\n    has_new_order:              data.has_new_order              || false,\n    order_number:               data.order_number               || null,\n    order_summary:              data.order_summary              || null,\n    has_order_confirmed:        data.has_order_confirmed        || false,\n    confirmed_order_number:     data.confirmed_order_number     || null,\n    confirmed_customer_chat_id: data.confirmed_customer_chat_id || null,\n    payment_confirmed:          data.payment_confirmed          || false,\n    payment_order_number:       data.payment_order_number       || null,\n    broadcast_message:          data.broadcast_message          || null,\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        976,
        32
      ],
      "id": "__NODE_9__",
      "name": "Respond To Input"
    }
  ],
  "connections": {
    "Incoming Payload": {
      "main": [
        [
          {
            "node": "Load Owner Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Load Owner Context": {
      "main": [
        [
          {
            "node": "Build Agent E Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Agent E Config": {
      "main": [
        [
          {
            "node": "Agent E \u2014 Google",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agent E \u2014 Google": {
      "main": [
        [
          {
            "node": "Output Classifier",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Output Classifier": {
      "main": [
        [
          {
            "node": "Respond To Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Agent E \u2014 Google",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Agent E Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "Agent E \u2014 Google",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Call Google Tools": {
      "ai_tool": [
        [
          {
            "node": "Agent E \u2014 Google",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "timeSavedMode": "fixed",
    "errorWorkflow": "gmbekEHeofgw6FGi",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "__VERSION_ID__",
  "activeVersionId": "3c27a746-b7bd-4fc5-a733-2a128e8b9149",
  "versionCounter": 21,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-05-29T15:52:49.076Z",
      "createdAt": "2026-05-29T15:52:49.076Z",
      "role": "workflow:owner",
      "workflowId": "0yy8LLjCxBjLhYah",
      "projectId": "ir6dYbaAlha8WGmA",
      "project": {
        "updatedAt": "2026-01-30T11:59:38.451Z",
        "createdAt": "2026-01-30T11:25:24.975Z",
        "id": "ir6dYbaAlha8WGmA",
        "name": "Orange orangegroups.ai@gmail.com <orangegroups.ai@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "d6320d31-a534-40f1-9f67-e1a589e8f288"
      }
    }
  ],
  "versionMetadata": {
    "name": "Version 3c27a746",
    "description": ""
  },
  "_sanitization_metadata": {
    "sanitized_at": "2026-06-26T13:55:21.688706+00:00",
    "original_name": "MySquad Agent E \u2014 Google Workspace",
    "note": "Sensitive data replaced with placeholders.",
    "tables_renamed": {
      "msq_agent_memory": "table_1",
      "msq_tenant_context": "table_2",
      "msq_platform_integrations": "table_3",
      "Ada.": "table_4",
      "Ada": "table_5",
      "or": "table_6"
    },
    "columns_renamed": {}
  }
}