MySquad_workflows/CLI/MySquadWHATSAPP_sanitized.json
{
  "name": "MySquadWHATSAPP",
  "nodes": [
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "REDACTED_OPAQUE_TOKEN",
              "name": "user_id",
              "value": "={{ $('Check ChatID').item.json.user_id }}",
              "type": "string"
            },
            {
              "id": "REDACTED_OPAQUE_TOKEN",
              "name": "text",
              "value": "={{ $if($('Code in JavaScript').isExecuted, $('Code in JavaScript').item.json.text, $if($('Format Audio to Text').isExecuted, $('Format Audio to Text').item.json.messages[0].text.body, $('Edit Fields1').item.json.text || $('Edit Fields1').item.json.caption || '')) }}",
              "type": "string"
            },
            {
              "id": "REDACTED_OPAQUE_TOKEN",
              "name": "message_type",
              "value": "={{ $if($('Code in JavaScript').isExecuted, 'image', $if($('Format Audio to Text').isExecuted, 'audio', $('Edit Fields1').item.json.type)) }}",
              "type": "string"
            },
            {
              "id": "REDACTED_OPAQUE_TOKEN",
              "name": "username",
              "value": "={{ $('Check ChatID').first().json.username }}",
              "type": "string"
            },
            {
              "id": "REDACTED_OPAQUE_TOKEN",
              "name": "phone_no",
              "value": "={{ $('Edit Fields1').first().json.phone_no }}",
              "type": "string"
            },
            {
              "id": "REDACTED_OPAQUE_TOKEN",
              "name": "image_id",
              "value": "={{ $('Edit Fields1').item.json.image_url}}",
              "type": "string"
            },
            {
              "id": "REDACTED_OPAQUE_TOKEN",
              "name": "caption",
              "value": "={{ $if($('Code in JavaScript').isExecuted, $('Code in JavaScript').item.json.caption, $('Edit Fields1').item.json.caption || '') }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2640,
        560
      ],
      "id": "__NODE_1__",
      "name": "Fields mapping"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT *\nFROM table_1\ncolumn_1 '{{ $json.phone_no }}'\nLIMIT 1;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1296,
        400
      ],
      "id": "__NODE_2__",
      "name": "Check ChatID",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "__POSTGRES_CRED_ID",
          "name": "PostgreSQL Credentials"
        }
      }
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "REDACTED_NUMERIC_ID",
        "recipientPhoneNumber": "={{ $('Fields mapping').item.json.phone_no }}",
        "textBody": "={{ $json.output }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1.1,
      "position": [
        3024,
        560
      ],
      "id": "__NODE_3__",
      "name": "Send AI Response",
      "webhookId": "__WEBHOOK_1__",
      "credentials": {
        "whatsAppApi": {
          "id": "__WHATSAPP_CRED_ID",
          "name": "WhatsApp API Credentials"
        }
      }
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "myguy_users",
          "mode": "list",
          "cachedResultName": "myguy_users"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "interests": "={{ $json.interests.join(',') }}",
            "full_name": "={{ $json.fullname }}",
            "username": "={{ $json.username }}",
            "email": "REDACTED",
            "phone_no": "REDACTED"
          },
          "matchingColumns": [
            "chat_id"
          ],
          "schema": [
            {
              "id": "user_id",
              "displayName": "user_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "phone_no",
              "displayName": "phone_no",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "full_name",
              "displayName": "full_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "username",
              "displayName": "username",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "interests",
              "displayName": "interests",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "help_needs",
              "displayName": "help_needs",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "last_language_style",
              "displayName": "last_language_style",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "google_refresh_token",
              "displayName": "google_refresh_token",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "zoom_refresh_token",
              "displayName": "zoom_refresh_token",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "updated_at",
              "displayName": "updated_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        2640,
        -192
      ],
      "id": "__NODE_4__",
      "name": "Save profile to DB",
      "credentials": {
        "postgres": {
          "id": "__POSTGRES_CRED_ID",
          "name": "PostgreSQL Credentials"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Get the data from table_2 mapping\nconst fields = $('Fields mapping').first().json;\n\n// Determine which text to analyze - prioritize clean_text, fall back to image_caption\nlet textToAnalyze = fields.text || fields.image_caption || '';\n\n// Convert to lowercase if text exists\nif (textToAnalyze) {\n  textToAnalyze = textToAnalyze.toLowerCase();\n}\n\nconst pidginMarkers = [\n  'dey', 'wan', 'make we', 'abeg', 'sha', 'run am', 'don',\n  'oya', 'how far', 'no forget', 'wetin', 'fes', 'abi'\n];\n\n// Check if we have text to analyze\nlet detectedLanguage = 'en'; // Default to English\n\nif (textToAnalyze) {\n  const isPidgin = pidginMarkers.some(word => textToAnalyze.includes(word));\n  detectedLanguage = isPidgin ? 'pidgin' : 'en';\n}\n\nreturn {\n  ...$json,\n  detected_language: detectedLanguage\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2832,
        352
      ],
      "id": "__NODE_5__",
      "name": "Detect Language Style"
    },
    {
      "parameters": {
        "content": "## Main Workflow WhatsApp\nOnboarding and Conversation",
        "height": 864,
        "width": 2432
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        848,
        144
      ],
      "typeVersion": 1,
      "id": "__NODE_6__",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "[URL]",
        "authentication": "REDACTED",
        "genericAuthType": "REDACTED",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "file",
              "inputDataFieldName": "=data"
            },
            {
              "name": "model",
              "value": "whisper-large-v3"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2256,
        432
      ],
      "id": "__NODE_7__",
      "name": "Transcription model",
      "retryOnFail": true,
      "credentials": {
        "httpHeaderAuth": {
          "id": "__HTTP_HEADER_CRED_ID",
          "name": "HTTP Header Auth Credentials"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $json.url }}",
        "authentication": "REDACTED",
        "genericAuthType": "REDACTED",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2064,
        432
      ],
      "id": "__NODE_8__",
      "name": "HTTP Request",
      "credentials": {
        "httpHeaderAuth": {
          "id": "__HTTP_HEADER_CRED_ID",
          "name": "HTTP Header Auth Credentials"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const transcriptionText = $json.text || '';\n\nreturn {\n  json: {\n    messages: [{ text: { body: transcriptionText } }]\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2448,
        432
      ],
      "id": "__NODE_9__",
      "name": "Format Audio to Text"
    },
    {
      "parameters": {
        "jsCode": "// Data has already been validated and merged\nconst data = $input.first().json;\n\n// Validate required fields one more time\nif (!data.chat_id || !data.fullname || !data.username || !data.email || !data.interests || data.interests.length === 0) {\n  throw new Error('Missing required fields after validation');\n}\n\nreturn {\n  json: {\n    chat_id: data.chat_id,\n    fullname: data.fullname,\n    username: data.username,\n    email: data.email,\n    interests: data.interests,\n    token: data.token,\n    interests_count: data.interests.length\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2448,
        -192
      ],
      "id": "__NODE_10__",
      "name": "Update table_3 processing"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "<!DOCTYPE html>\n<html>\n<head>\n    <title>Update table_4</title>\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n    <style>\n        body { font-family: sans-serif; padding: 20px; background-color: #e8f4f8; text-align: center; }\n        .container { max-width: 600px; margin: auto; background: white; padding: 50px; border-radius: 8px; box-shadow: 0 4px 6px rgba(0,0,0,0.1); }\n        h1 { color: #27ae60; }\n        p { color: #333; }\n    </style>\n</head>\n<body>\n    <div class=\"container\">\n        <h1>\u2705 Task Updated Successfully!</h1>\n        <p>Thank you for your update. Your task status has been logged in the system.</p>\n    </div>\n</body>\n</html>",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        3024,
        -192
      ],
      "id": "__NODE_11__",
      "name": "Respond to Webhook for Form Completion"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{$json.html_content}}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        1296,
        -96
      ],
      "id": "__NODE_12__",
      "name": "Respond to Webhook for Form Initiation"
    },
    {
      "parameters": {
        "path": "myguy-onboarding",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "__NODE_13__",
      "name": "Onboarding  Webhook (GET)",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        912,
        -96
      ],
      "webhookId": "__WEBHOOK_2__"
    },
    {
      "parameters": {
        "content": "## Onboarding Page",
        "height": 352,
        "width": 2432,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        848,
        -224
      ],
      "id": "__NODE_14__",
      "name": "Sticky Note6"
    },
    {
      "parameters": {
        "jsCode": "const htmlContent = `<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n    <meta charset=\"UTF-8\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n    <title>MY SQUAD - Onboarding</title>\n    <style>\n        * {\n            margin: 0;\n            padding: 0;\n            box-sizing: border-box;\n        }\n\n        body {\n            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;\n            background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);\n            min-height: 100vh;\n            display: flex;\n            justify-content: center;\n            align-items: center;\n            padding: 20px;\n        }\n\n        .container {\n            background: white;\n            border-radius: 20px;\n            box-shadow: 0 20px 60px rgba(0, 0, 0, 0.3);\n            max-width: 500px;\n            width: 100%;\n            padding: 40px;\n            animation: fadeIn 0.5s ease-in;\n        }\n\n        @keyframes fadeIn {\n            from {\n                opacity: 0;\n                transform: translateY(-20px);\n            }\n            to {\n                opacity: 1;\n                transform: translateY(0);\n            }\n        }\n\n        h1 {\n            color: #667eea;\n            text-align: center;\n            margin-bottom: 10px;\n            font-size: 2em;\n        }\n\n        .subtitle {\n            text-align: center;\n            color: #666;\n            margin-bottom: 30px;\n            font-size: 0.9em;\n        }\n\n        .form-group {\n            margin-bottom: 25px;\n            position: relative;\n        }\n\n        label {\n            display: block;\n            margin-bottom: 8px;\n            color: #333;\n            font-weight: 500;\n        }\n\n        .required {\n            color: #e74c3c;\n        }\n\n        input[type=\"text\"],\n        input[type=\"email\"] {\n            width: 100%;\n            padding: 12px 15px;\n            border: 2px solid #e0e0e0;\n            border-radius: 10px;\n            font-size: 16px;\n            transition: all 0.3s ease;\n        }\n\n        input[type=\"text\"]:focus,\n        input[type=\"email\"]:focus {\n            outline: none;\n            border-color: #667eea;\n            box-shadow: 0 0 0 3px rgba(102, 126, 234, 0.1);\n        }\n\n        input.error {\n            border-color: #e74c3c;\n        }\n\n        .error-message {\n            color: #e74c3c;\n            font-size: 0.85em;\n            margin-top: 5px;\n            display: none;\n        }\n\n        .error-message.show {\n            display: block;\n        }\n\n        .autocomplete-wrapper {\n            position: relative;\n        }\n\n        .autocomplete-list {\n            position: absolute;\n            top: 100%;\n            left: 0;\n            right: 0;\n            background: white;\n            border: 2px solid #667eea;\n            border-top: none;\n            border-radius: 0 0 10px 10px;\n            max-height: 200px;\n            overflow-y: auto;\n            z-index: 1000;\n            display: none;\n        }\n\n        .autocomplete-list.show {\n            display: block;\n        }\n\n        .autocomplete-item {\n            padding: 10px 15px;\n            cursor: pointer;\n            transition: background 0.2s;\n        }\n\n        .autocomplete-item:hover {\n            background: #f0f0f0;\n        }\n\n        .interests-container {\n            display: flex;\n            flex-direction: column;\n            gap: 10px;\n        }\n\n        .interest-input-wrapper {\n            display: flex;\n            align-items: center;\n            gap: 10px;\n        }\n\n        .remove-interest {\n            background: #e74c3c;\n            color: white;\n            border: none;\n            border-radius: 50%;\n            width: 30px;\n            height: 30px;\n            cursor: pointer;\n            font-size: 18px;\n            display: none;\n            transition: background 0.3s;\n        }\n\n        .remove-interest.show {\n            display: block;\n        }\n\n        .remove-interest:hover {\n            background: #c0392b;\n        }\n\n        .add-interest {\n            background: transparent;\n            color: #667eea;\n            border: 2px dashed #667eea;\n            padding: 10px 20px;\n            border-radius: 10px;\n            cursor: pointer;\n            font-size: 14px;\n            transition: all 0.3s;\n            margin-top: 10px;\n        }\n\n        .add-interest:hover:not(:disabled) {\n            background: #667eea;\n            color: white;\n        }\n\n        .add-interest:disabled {\n            opacity: 0.5;\n            cursor: not-allowed;\n        }\n\n        .submit-btn {\n            width: 100%;\n            padding: 15px;\n            background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);\n            color: white;\n            border: none;\n            border-radius: 10px;\n            font-size: 18px;\n            font-weight: 600;\n            cursor: pointer;\n            transition: transform 0.2s, box-shadow 0.2s;\n            margin-top: 10px;\n        }\n\n        .submit-btn:hover {\n            transform: translateY(-2px);\n            box-shadow: 0 10px 20px rgba(102, 126, 234, 0.3);\n        }\n\n        .submit-btn:active {\n            transform: translateY(0);\n        }\n\n        .success-message {\n            background: #2ecc71;\n            color: white;\n            padding: 15px;\n            border-radius: 10px;\n            text-align: center;\n            display: none;\n            margin-top: 20px;\n        }\n\n        .success-message.show {\n            display: block;\n        }\n    </style>\n</head>\n<body>\n    <div class=\"container\">\n        <h1>My SQUAD</h1>\n        <p class=\"subtitle\">the ultimate AI universe</p>\n        \n        <form id=\"onboardingForm\">\n            <div class=\"form-group\">\n                <label for=\"fullname\">Full Name <span class=\"required\">*</span></label>\n                <input type=\"text\" id=\"fullname\" name=\"fullname\" placeholder=\"Firstname Surname\" required>\n                <div class=\"error-message\" id=\"fullname-error\">Please enter your full name</div>\n            </div>\n\n            <div class=\"form-group\">\n                <label for=\"username\">Username <span class=\"required\">*</span></label>\n                <input type=\"text\" id=\"username\" name=\"username\" placeholder=\"What can I call you?\" required>\n                <div class=\"error-message\" id=\"username-error\">Please enter a username</div>\n            </div>\n\n            <div class=\"form-group\">\n                <label for=\"email\">Email <span class=\"required\">*</span></label>\n                <input type=\"email\" id=\"email\" name=\"email\" placeholder=\"[EMAIL]\" required>\n                <div class=\"error-message\" id=\"email-error\">Please enter a valid email address</div>\n            </div>\n\n            <div class=\"form-group\">\n                <label>Interests (3 max) <span class=\"required\">*</span></label>\n                <div class=\"interests-container\" id=\"interestsContainer\"></div>\n                <button type=\"button\" class=\"add-interest\" id=\"addInterestBtn\">+ Add Interest</button>\n                <div class=\"error-message\" id=\"interests-error\">Please add at least one interest</div>\n            </div>\n\n            <button type=\"submit\" class=\"submit-btn\">Join table_5 SQUAD \ud83d\ude80</button>\n        </form>\n\n        <div class=\"success-message\" id=\"successMessage\">\n            \ud83c\udf89 Welcome aboard! Your submission was successful!\n        </div>\n    </div>\n\n    <script>\n        const WEBHOOK_URL = '[URL]';\n        \n        // Extract token from table_6\n        const urlParams = new URLSearchParams(window.location.search);\n        const token = urlParams.get('token');\n\n        // Validate token exists\n        if (!token) {\n            document.querySelector('.container').innerHTML = \\`\n                <div style=\"text-align: center; padding: 50px;\">\n                    <h1 style=\"color: #e74c3c;\">\u274c Invalid Link</h1>\n                    <p style=\"color: #666; margin-top: 20px;\">\n                        This onboarding link is invalid or has expired.\n                        <br><br>\n                        Please message Squad on WhatsApp to get a new link.\n                    </p>\n                </div>\n            \\`;\n        }\n        \n        const INTERESTS_LIST = [\n            'Music', 'Movies', 'News', 'Tech', 'Wizkid', 'Gadgets', 'Entertainment',\n            'Social Media', 'Business', 'Investment', 'Finance', 'Davido', 'Burna Boy',\n            'Afrobeats', 'Football', 'Basketball', 'Sports', 'Gaming', 'Anime', 'Fashion',\n            'Fitness', 'Travel', 'Food', 'Cooking', 'Photography', 'Art', 'Reading',\n            'Writing', 'Politics', 'Comedy', 'Stand-up', 'Podcasts', 'YouTube', 'TikTok',\n            'Instagram', 'Twitter', 'Cryptocurrency', 'NFTs', 'Stock Market', 'Real Estate',\n            'Entrepreneurship', 'Startups', 'AI', 'Machine Learning', 'Programming',\n            'Web Development', 'Mobile Apps', 'Cars', 'Bikes', 'Luxury', 'Shopping',\n            'Beauty', 'Skincare', 'Makeup', 'Hair', 'Relationships', 'Self-improvement',\n            'Motivation', 'Religion', 'Spirituality', 'Philosophy', 'History', 'Science',\n            'Nature', 'Environment', 'Climate', 'Charity', 'Volunteering', 'Education',\n            'Teaching', 'Learning', 'Languages', 'Culture', 'Naija Culture', 'Jollof Rice',\n            'Owambe', 'Nollywood', 'BBNaija', 'Lagos Nightlife', 'Street Food', 'Suya',\n            'Gist', 'Lifestyle', 'Wellness', 'Mental Health', 'Meditation', 'Yoga'\n        ];\n\n        let interestCount = 0;\n        const maxInterests = 3;\n\n        function createInterestInput(index) {\n            const wrapper = document.createElement('div');\n            wrapper.className = 'interest-input-wrapper';\n            wrapper.innerHTML = \\`\n                <div class=\"autocomplete-wrapper\" style=\"flex: 1;\">\n                    <input type=\"text\" class=\"interest-input\" data-index=\"\\${index}\" placeholder=\"Interest...\" required>\n                    <div class=\"autocomplete-list\"></div>\n                </div>\n                <button type=\"button\" class=\"remove-interest \\${index > 0 ? 'show' : ''}\">\u00d7</button>\n            \\`;\n\n            const input = wrapper.querySelector('.interest-input');\n            const autocompleteList = wrapper.querySelector('.autocomplete-list');\n            const removeBtn = wrapper.querySelector('.remove-interest');\n\n            input.addEventListener('input', (e) => {\n                const value = e.target.value.toLowerCase();\n                autocompleteList.innerHTML = '';\n\n                if (value.length > 0) {\n                    const filtered = INTERESTS_LIST.filter(item => \n                        item.toLowerCase().includes(value)\n                    ).slice(0, 10);\n\n                    if (filtered.length > 0) {\n                        filtered.forEach(item => {\n                            const div = document.createElement('div');\n                            div.className = 'autocomplete-item';\n                            div.textContent = item;\n                            div.addEventListener('mousedown', (e) => {\n                                e.preventDefault();\n                                input.value = item;\n                                autocompleteList.classList.remove('show');\n                            });\n                            autocompleteList.appendChild(div);\n                        });\n                        autocompleteList.classList.add('show');\n                    } else {\n                        autocompleteList.classList.remove('show');\n                    }\n                } else {\n                    autocompleteList.classList.remove('show');\n                }\n            });\n\n            input.addEventListener('blur', () => {\n                setTimeout(() => {\n                    autocompleteList.classList.remove('show');\n                }, 300);\n            });\n\n            removeBtn.addEventListener('click', () => {\n                wrapper.remove();\n                interestCount--;\n                updateAddButton();\n            });\n\n            return wrapper;\n        }\n\n        function updateAddButton() {\n            const addBtn = document.getElementById('addInterestBtn');\n            addBtn.disabled = interestCount >= maxInterests;\n        }\n\n        document.getElementById('addInterestBtn').addEventListener('click', () => {\n            if (interestCount < maxInterests) {\n                const container = document.getElementById('interestsContainer');\n                container.appendChild(createInterestInput(interestCount));\n                interestCount++;\n                updateAddButton();\n            }\n        });\n\n        // Add first interest input by default\n        document.getElementById('interestsContainer').appendChild(createInterestInput(0));\n        interestCount++;\n\n        function validateEmail(email) {\n            const re = /^[a-zA-Z0-9._-]+@[a-zA-Z0-9.-]+\\\\.[a-zA-Z]{2,}$/;\n            if (!re.test(email)) return false;\n            \n            const parts = email.split('@');\n            if (parts.length !== 2) return false;\n            \n            const [localPart, domain] = parts;\n            \n            if (localPart.length === 0 || localPart.length > 64) return false;\n            if (localPart.startsWith('.') || localPart.endsWith('.')) return false;\n            if (localPart.includes('..')) return false;\n            \n            if (domain.length === 0 || domain.length > 255) return false;\n            if (domain.startsWith('.') || domain.startsWith('-') || domain.endsWith('-')) return false;\n            if (!domain.includes('.')) return false;\n            \n            const domainParts = domain.split('.');\n            for (let part of domainParts) {\n                if (part.length === 0) return false;\n            }\n            \n            return true;\n        }\n\n        document.getElementById('onboardingForm').addEventListener('submit', async (e) => {\n            e.preventDefault();\n            \n            let isValid = true;\n            \n            const fullname = document.getElementById('fullname');\n            if (!fullname.value.trim()) {\n                fullname.classList.add('error');\n                document.getElementById('fullname-error').classList.add('show');\n                isValid = false;\n            } else {\n                fullname.classList.remove('error');\n                document.getElementById('fullname-error').classList.remove('show');\n            }\n\n            const username = document.getElementById('username');\n            if (!username.value.trim()) {\n                username.classList.add('error');\n                document.getElementById('username-error').classList.add('show');\n                isValid = false;\n            } else {\n                username.classList.remove('error');\n                document.getElementById('username-error').classList.remove('show');\n            }\n\n            const email = document.getElementById('email');\n            if (!validateEmail(email.value.trim())) {\n                email.classList.add('error');\n                document.getElementById('email-error').classList.add('show');\n                isValid = false;\n            } else {\n                email.classList.remove('error');\n                document.getElementById('email-error').classList.remove('show');\n            }\n\n            const interestInputs = document.querySelectorAll('.interest-input');\n            const interests = [];\n            let hasEmptyInterest = false;\n\n            interestInputs.forEach(input => {\n                const value = input.value.trim();\n                if (!value) {\n                    hasEmptyInterest = true;\n                    input.classList.add('error');\n                } else {\n                    input.classList.remove('error');\n                    interests.push(value);\n                }\n            });\n\n            if (interests.length === 0 || hasEmptyInterest) {\n                document.getElementById('interests-error').classList.add('show');\n                isValid = false;\n            } else {\n                document.getElementById('interests-error').classList.remove('show');\n            }\n\n            if (isValid) {\n                const formData = {\n                    token: token,  // \u2190 THIS WAS MISSING - NOW ADDED\n                    fullname: fullname.value.trim(),\n                    username: username.value.trim(),\n                    email: email.value.trim(),\n                    interests: interests\n                };\n\n                try {\n                    const response = await fetch(WEBHOOK_URL, {\n                        method: 'POST',\n                        headers: {\n                            'Content-Type': 'application/json',\n                        },\n                        body: JSON.stringify(formData)\n                    });\n\n                    if (response.ok) {\n                        document.getElementById('onboardingForm').style.display = 'none';\n                        document.getElementById('successMessage').classList.add('show');\n                    } else {\n                        const errorData = await response.json().catch(() => ({}));\n                        alert(errorData.error || 'Submission failed. Please try again.');\n                    }\n                } catch (error) {\n                    console.error('Error:', error);\n                    alert('An error occurred. Please try again.');\n                }\n            }\n        });\n    </script>\n</body>\n</html>`;\n\nreturn { json: { html_content: htmlContent } };"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1104,
        -96
      ],
      "id": "__NODE_15__",
      "name": "Onboarding page code"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "myguy-post-onboarding",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "__NODE_16__",
      "name": "Onboarding Webhook (POST)",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        1680,
        -96
      ],
      "webhookId": "__WEBHOOK_3__"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Edit Fields1').item.json.type }}",
                    "rightValue": "audio",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "REDACTED_OPAQUE_TOKEN"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "audio"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "REDACTED_OPAQUE_TOKEN",
                    "leftValue": "={{ $('Edit Fields1').item.json.type }}",
                    "rightValue": "text",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "text"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "REDACTED_OPAQUE_TOKEN",
                    "leftValue": "={{ $('Edit Fields1').item.json.type }}",
                    "rightValue": "image",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "image"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        1680,
        544
      ],
      "id": "__NODE_17__",
      "name": "Switch"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"error\": \"={{ $json.message }}\",\n  \"success\": false\n}",
        "options": {
          "responseCode": "={{ $json.http_status || 400 }}"
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        2448,
        -16
      ],
      "id": "__NODE_18__",
      "name": "Respond with Error"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "REDACTED_OPAQUE_TOKEN",
              "leftValue": "={{$json}}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {
          "ignoreCase": true
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1488,
        400
      ],
      "id": "__NODE_19__",
      "name": "Check if user exists"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "REDACTED_OPAQUE_TOKEN",
              "name": "chat_id",
              "value": "={{ $('Edit Fields1').item.json.phone_no }}",
              "type": "string"
            },
            {
              "id": "REDACTED_OPAQUE_TOKEN",
              "name": "onboarding_token",
              "value": "REDACTED",
              "type": "string"
            },
            {
              "id": "REDACTED_OPAQUE_TOKEN",
              "name": "token_expires_at",
              "value": "REDACTED",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1680,
        240
      ],
      "id": "__NODE_20__",
      "name": "Generate Onboarding Token"
    },
    {
      "parameters": {
        "resource": "media",
        "operation": "mediaUrlGet",
        "mediaGetId": "={{ $('WhatsApp Trigger').item.json.messages[0].audio.id }}"
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1,
      "position": [
        1872,
        432
      ],
      "id": "__NODE_21__",
      "name": "Download Audio",
      "webhookId": "__WEBHOOK_4__",
      "credentials": {
        "whatsAppApi": {
          "id": "__WHATSAPP_CRED_ID",
          "name": "WhatsApp API Credentials"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO table_7 (token, chat_id, expires_at)\nVALUES ($1, $2, $3::timestamp)\nON CONFLICT (token) DO UPDATE \ncolumn_2 EXCLUDED.chat_id,\n    expires_at = EXCLUDED.expires_at,\n    completed = FALSE;",
        "options": {
          "queryReplacement": "=$1, {{ $json.onboarding_token }}, $2, {{ $json.chat_id }}, $3, {{ $json.token_expires_at }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1872,
        240
      ],
      "id": "__NODE_22__",
      "name": "Save Onboarding Token",
      "credentials": {
        "postgres": {
          "id": "__POSTGRES_CRED_ID",
          "name": "PostgreSQL Credentials"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "REDACTED_OPAQUE_TOKEN",
              "leftValue": "={{ $json.error }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2256,
        -96
      ],
      "id": "__NODE_23__",
      "name": "Check for Errors"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT chat_id, completed, expires_at\nFROM table_7\ncolumn_3 $1\n  column_4 FALSE\n  column_5 NOW()\nLIMIT 1;",
        "options": {
          "queryReplacement": "=$1, {{ $json.body.token }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1872,
        -96
      ],
      "id": "__NODE_24__",
      "name": "Lookup Chat ID from table_8",
      "alwaysOutputData": true,
      "retryOnFail": false,
      "credentials": {
        "postgres": {
          "id": "__POSTGRES_CRED_ID",
          "name": "PostgreSQL Credentials"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const lookupResult = $input.first().json;\nconst formData = $('Onboarding Webhook (POST)').first().json.body;\n\n// Check if token lookup returned a result\nif (!lookupResult || !lookupResult.chat_id) {\n  // Token is invalid, expired, or already used\n  return {\n    json: {\n      error: true,\n      message: 'Invalid or expired onboarding token. Please request a new link from table_9',\n      http_status: 400\n    }\n  };\n}\n\n// Token is valid - merge the data\nreturn {\n  json: {\n    error: false,\n    chat_id: lookupResult.chat_id,\n    fullname: formData.fullname,\n    username: formData.username,\n    email: formData.email,\n    interests: formData.interests,\n    token: formData.token\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2064,
        -96
      ],
      "id": "__NODE_25__",
      "name": "Validate Token and Merge Data"
    },
    {
      "parameters": {
        "operation": "update",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "onboarding_sessions",
          "mode": "list",
          "cachedResultName": "onboarding_sessions"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "completed": true,
            "token": "REDACTED"
          },
          "matchingColumns": [
            "token"
          ],
          "schema": [
            {
              "id": "token",
              "displayName": "token",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "chat_id",
              "displayName": "chat_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "expires_at",
              "displayName": "expires_at",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "completed",
              "displayName": "completed",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        2832,
        -192
      ],
      "id": "__NODE_26__",
      "name": "Mark Token as Used",
      "credentials": {
        "postgres": {
          "id": "__POSTGRES_CRED_ID",
          "name": "PostgreSQL Credentials"
        }
      }
    },
    {
      "parameters": {
        "updates": [
          "messages"
        ],
        "options": {}
      },
      "type": "n8n-nodes-base.whatsAppTrigger",
      "typeVersion": 1,
      "position": [
        912,
        400
      ],
      "id": "__NODE_27__",
      "name": "WhatsApp Trigger",
      "webhookId": "__WEBHOOK_5__",
      "credentials": {
        "whatsAppTriggerApi": {
          "id": "__WHATSAPP_CRED_ID",
          "name": "WhatsApp API Credentials"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "REDACTED_OPAQUE_TOKEN",
              "name": "phone_no",
              "value": "={{ $json.contacts[0].wa_id }}",
              "type": "string"
            },
            {
              "id": "REDACTED_OPAQUE_TOKEN",
              "name": "text",
              "value": "={{ $json.messages[0].text.body || '' }}",
              "type": "string"
            },
            {
              "id": "REDACTED_OPAQUE_TOKEN",
              "name": "type",
              "value": "={{ $json.messages[0].type }}",
              "type": "string"
            },
            {
              "id": "REDACTED_OPAQUE_TOKEN",
              "name": "messaging_product",
              "value": "={{ $json.messaging_product }}",
              "type": "string"
            },
            {
              "id": "REDACTED_OPAQUE_TOKEN",
              "name": "image_url",
              "value": "={{ $json.messages[0].image.url || '' }}",
              "type": "string"
            },
            {
              "id": "REDACTED_OPAQUE_TOKEN",
              "name": "caption",
              "value": "={{ $json.messages[0].image.caption || '' }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1104,
        400
      ],
      "id": "__NODE_28__",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE table_1\ncolumn_6 '{{ $json.detected_language }}'\ncolumn_1 '{{ $json.phone_no }}';",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        3024,
        352
      ],
      "id": "__NODE_29__",
      "name": "Update table_10 Language",
      "alwaysOutputData": false,
      "credentials": {
        "postgres": {
          "id": "__POSTGRES_CRED_ID",
          "name": "PostgreSQL Credentials"
        }
      }
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "lio6BUwKC4DLPUsb",
          "mode": "list",
          "cachedResultUrl": "/workflow/lio6BUwKC4DLPUsb",
          "cachedResultName": "MyGuy Sub Workflow"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "user_id": "REDACTED",
            "text": "={{ $json.text }}",
            "message_type": "={{ $json.message_type }}",
            "username": "={{ $json.username }}",
            "phone_no": "REDACTED",
            "image_id": "={{ $json.image_id || '' }}",
            "caption": "={{ $json.caption || ''}}",
            "source": "Whatsapp"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "user_id",
              "displayName": "user_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "text",
              "displayName": "text",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "message_type",
              "displayName": "message_type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "username",
              "displayName": "username",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "phone_no",
              "displayName": "phone_no",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "image_id",
              "displayName": "image_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "caption",
              "displayName": "caption",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "source",
              "displayName": "source",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        2832,
        560
      ],
      "id": "__NODE_30__",
      "name": "Call 'MyGuy Sub Workflow'"
    },
    {
      "parameters": {
        "resource": "media",
        "operation": "mediaUrlGet",
        "mediaGetId": "={{ $('WhatsApp Trigger').item.json.messages[0].image.id }}"
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1.1,
      "position": [
        1872,
        672
      ],
      "id": "__NODE_31__",
      "name": "Download media",
      "webhookId": "__WEBHOOK_6__",
      "credentials": {
        "whatsAppApi": {
          "id": "__WHATSAPP_CRED_ID",
          "name": "WhatsApp API Credentials"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const response = $input.item.json.output;\n\nlet extractedData;\ntry {\n  extractedData = JSON.parse(response);\n} catch {\n  const match = response.match(/\\{[\\s\\S]*\\}/);\n  if (match) extractedData = JSON.parse(match[0]);\n  else throw new Error('Could not parse agent response');\n}\n\nconst accounts = extractedData.accounts || [];\naccounts.forEach(account => {\n  if (account.account_number) {\n    const cleaned = String(account.account_number).replace(/\\D/g, '');\n    account.account_number_cleaned = cleaned;\n    account.is_valid = cleaned.length === 10;\n  }\n});\n\nconst isFinancial = extractedData.is_financial === true;\nconst caption = $input.item.json.caption || '';\n\nreturn [{\n  json: {\n    is_financial: isFinancial,\n    financial_type: extractedData.financial_type || 'none',\n    accounts,\n    count: accounts.length,\n    text: isFinancial\n      ? accounts.length > 0\n        ? `User sent a financial image. Extracted accounts: ${JSON.stringify(accounts)}. Type: ${extractedData.financial_type}. Context: ${extractedData.suggested_response_context}`\n        : `User sent a financial image (${extractedData.financial_type}) but no accounts extracted. Description: ${extractedData.image_description}`\n      : `User sent an image. Description: ${extractedData.image_description}.${caption ? ' Caption: ' + caption : ''}`,\n    image_description: extractedData.image_description,\n    suggested_response_context: extractedData.suggested_response_context,\n    // Pass through user context for Fields mapping\n    caption: caption\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2448,
        672
      ],
      "id": "__NODE_32__",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Edit Fields1').item.json.caption \n   ? 'Analyze this image. The user wrote: \"' + $('Edit Fields1').item.json.caption + '\". ' \n   : 'Analyze this image. ' }}\n\nReturn ONLY a JSON object:\n{\n  \"is_financial\": boolean,\n  \"financial_type\": \"account_details\" | \"receipt\" | \"transfer_screenshot\" | \"balance_screenshot\" | \"none\",\n  \"accounts\": [{\"account_number\": \"string\", \"bank_name\": \"string\", \"account_holder_name\": \"string or null\"}],\n  \"count\": number,\n  \"image_description\": \"brief description of what the image shows\",\n  \"suggested_response_context\": \"what the user likely wants help with\"\n}\n\nis_financial = true ONLY for: bank account numbers, receipts, transfer screenshots, balance screenshots, transaction records.\nis_financial = false for: general photos, food, people, places, memes, casual images.\n\nNigerian banks: Access Bank, Zenith Bank, GTBank, First Bank, UBA, Sterling Bank, Ecobank, Fidelity Bank, FCMB, Stanbic IBTC, Union Bank, Keystone Bank, Polaris Bank, Wema Bank, Kuda Bank, Opay, Palmpay, Moniepoint.",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        2192,
        672
      ],
      "id": "__NODE_33__",
      "name": "Vision Agent"
    },
    {
      "parameters": {
        "url": "={{ $json.url }}",
        "authentication": "REDACTED",
        "genericAuthType": "REDACTED",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2064,
        672
      ],
      "id": "__NODE_34__",
      "name": "Pull file",
      "credentials": {
        "httpHeaderAuth": {
          "id": "__HTTP_HEADER_CRED_ID",
          "name": "HTTP Header Auth Credentials"
        },
        "whatsAppApi": {
          "id": "__WHATSAPP_CRED_ID",
          "name": "WhatsApp API Credentials"
        }
      }
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "wNrTo7md7Otf1NbK0f1B5",
          "mode": "list",
          "cachedResultUrl": "/workflow/wNrTo7md7Otf1NbK0f1B5",
          "cachedResultName": "Token Logger"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "source": "Whatsapp",
            "user_id": "REDACTED",
            "phone_no": "REDACTED",
            "execution_id": "={{ $execution.id }}",
            "Agent": "Vision Agent"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "execution_id",
              "displayName": "execution_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "source",
              "displayName": "source",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "user_id",
              "displayName": "user_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "phone_no",
              "displayName": "phone_no",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "Agent",
              "displayName": "Agent",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": false
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        2640,
        848
      ],
      "id": "__NODE_35__",
      "name": "Call 'Token Logger'"
    },
    {
      "parameters": {
        "model": "meta-llama/llama-4-scout-17b-16e-instruct",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        2192,
        864
      ],
      "id": "__NODE_36__",
      "name": "Groq Chat Model",
      "credentials": {
        "groqApi": {
          "id": "__GROQ_CRED_ID",
          "name": "Groq API Credentials"
        }
      }
    },
    {
      "parameters": {
        "amount": 30
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        2448,
        848
      ],
      "id": "__NODE_37__",
      "name": "Wait",
      "webhookId": "__WEBHOOK_7__"
    },
    {
      "parameters": {
        "phoneNumberId": "REDACTED_NUMERIC_ID",
        "recipientPhoneNumber": "={{ $('Edit Fields1').item.json.phone_no }}",
        "template": "mysquad_onboarding|en",
        "components": {
          "component": [
            {
              "type": "button",
              "sub_type": "url",
              "buttonParameters": {
                "parameter": {
                  "type": "text",
                  "text": "={{ $('Generate Onboarding Token').item.json.onboarding_token }}"
                }
              }
            }
          ]
        }
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1.1,
      "position": [
        2064,
        240
      ],
      "id": "__NODE_38__",
      "name": "Send Onboarding Message",
      "webhookId": "__WEBHOOK_8__",
      "credentials": {
        "whatsAppApi": {
          "id": "__WHATSAPP_CRED_ID",
          "name": "WhatsApp API Credentials"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Onboarding Webhook (POST)": {
      "main": [
        [
          {
            "node": "Lookup Chat ID from Token",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update response processing": {
      "main": [
        [
          {
            "node": "Save profile to DB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fields mapping": {
      "main": [
        [
          {
            "node": "Detect Language Style",
            "type": "main",
            "index": 0
          },
          {
            "node": "Call 'MyGuy Sub Workflow'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save profile to DB": {
      "main": [
        [
          {
            "node": "Mark Token as Used",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Detect Language Style": {
      "main": [
        [
          {
            "node": "Update preferred Language",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Transcription model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transcription model": {
      "main": [
        [
          {
            "node": "Format Audio to Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Audio to Text": {
      "main": [
        [
          {
            "node": "Fields mapping",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Onboarding  Webhook (GET)": {
      "main": [
        [
          {
            "node": "Onboarding page code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Onboarding page code": {
      "main": [
        [
          {
            "node": "Respond to Webhook for Form Initiation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Download Audio",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Fields mapping",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Download media",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check ChatID": {
      "main": [
        [
          {
            "node": "Check if user exists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check if user exists": {
      "main": [
        [
          {
            "node": "Generate Onboarding Token",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Onboarding Token": {
      "main": [
        [
          {
            "node": "Save Onboarding Token",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Audio": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Onboarding Token": {
      "main": [
        [
          {
            "node": "Send Onboarding Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check for Errors": {
      "main": [
        [
          {
            "node": "Update response processing",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond with Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lookup Chat ID from Token": {
      "main": [
        [
          {
            "node": "Validate Token and Merge Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Token and Merge Data": {
      "main": [
        [
          {
            "node": "Check for Errors",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mark Token as Used": {
      "main": [
        [
          {
            "node": "Respond to Webhook for Form Completion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "WhatsApp Trigger": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Check ChatID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update preferred Language": {
      "main": [
        []
      ]
    },
    "Call 'MyGuy Sub Workflow'": {
      "main": [
        [
          {
            "node": "Send AI Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download media": {
      "main": [
        [
          {
            "node": "Pull file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Fields mapping",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Vision Agent": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          },
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pull file": {
      "main": [
        [
          {
            "node": "Vision Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Vision Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Call 'Token Logger'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "__VERSION_ID__",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "__INSTANCE_ID__"
  },
  "id": "__WORKFLOW_ID__",
  "_sanitization_metadata": {
    "sanitized_at": "2026-03-21T15:18:01.154936+00:00",
    "original_name": "MySquadWHATSAPP",
    "note": "Sensitive data replaced with placeholders.",
    "tables_renamed": {
      "myguy_users": "table_1",
      "Fields": "table_2",
      "response": "table_3",
      "Successful": "table_4",
      "My": "table_5",
      "URL": "table_6",
      "onboarding_sessions": "table_7",
      "Token": "table_8",
      "MyGuy.": "table_9",
      "preferred": "table_10"
    },
    "columns_renamed": {
      "phone_no": "column_1",
      "chat_id": "column_2",
      "token": "column_3",
      "completed": "column_4",
      "expires_at": "column_5",
      "last_language_style": "column_6"
    }
  }
}