MySquad_workflows/Catalogue_And_Pages/MySquad_Build_Catalogue_Page_Link_sanitized.json
{
  "updatedAt": "2026-06-04T06:13:20.525Z",
  "createdAt": "2026-06-04T06:12:31.229Z",
  "id": "__WORKFLOW_ID__",
  "name": "MySquad Build Catalogue Page Link",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "inputSource": "jsonExample",
        "jsonExample": "{\"tenant_id\":\"uuid\",\"business_id\":\"uuid\",\"platform\":\"telegram\",\"chat_id\":\"813122587\",\"bot_username\":\"Adeboybotbot\",\"wa_number\":\"2348012345678\"}"
      },
      "id": "__NODE_1__",
      "name": "Incoming Payload",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT store_token, store_slug\nFROM table_1\ncolumn_1 $1::uuid\nLIMIT 1",
        "options": {
          "queryReplacement": "={{ [$('Incoming Payload').first().json.business_id] }}"
        }
      },
      "id": "__NODE_2__",
      "name": "Fetch Store Token",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        240,
        0
      ],
      "credentials": {
        "postgres": {
          "id": "__POSTGRES_CRED_ID",
          "name": "PostgreSQL Credentials"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const inp       = $('Incoming Payload').first().json;\nconst row       = $('Fetch Store Token').first().json;\n\nconst storeSlug  = row.store_slug  || '';\nconst storeToken = row.store_token || '';\nconst platform   = (inp.platform   || 'telegram').toLowerCase();\nconst chatId     = inp.chat_id     || '';\nconst botUsername= inp.bot_username|| '';\nconst waNumber   = (inp.wa_number  || '').replace(/\\D/g, '');\n\nif (!storeToken && !storeSlug) {\n  return [{ json: { url: '', error: 'No store token found' } }];\n}\n\nconst base = storeSlug\n  ? '[URL]' + storeSlug\n  : '[URL]'   + storeToken;\n\nlet url = base + '&plt=' + platform;\nif (platform === 'telegram' && botUsername) url += '&bot=' + botUsername;\nif (platform === 'whatsapp'  && waNumber)    url += '&wa='  + waNumber;\nif (chatId) url += '&cid=' + encodeURIComponent(chatId);\n\nreturn [{ json: { url } }];\n"
      },
      "id": "__NODE_3__",
      "name": "Build Store URL",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        480,
        0
      ]
    }
  ],
  "connections": {
    "Incoming Payload": {
      "main": [
        [
          {
            "node": "Fetch Store Token",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Store Token": {
      "main": [
        [
          {
            "node": "Build Store URL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "__VERSION_ID__",
  "activeVersionId": "8662a5ff-5a73-44e6-8017-a374b5350ecc",
  "versionCounter": 5,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-06-04T06:12:31.229Z",
      "createdAt": "2026-06-04T06:12:31.229Z",
      "role": "workflow:owner",
      "workflowId": "laTb3XR2p4aOBjhG",
      "projectId": "ir6dYbaAlha8WGmA",
      "project": {
        "updatedAt": "2026-01-30T11:59:38.451Z",
        "createdAt": "2026-01-30T11:25:24.975Z",
        "id": "ir6dYbaAlha8WGmA",
        "name": "Orange orangegroups.ai@gmail.com <orangegroups.ai@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "d6320d31-a534-40f1-9f67-e1a589e8f288"
      }
    }
  ],
  "versionMetadata": {
    "name": "Version 8662a5ff",
    "description": ""
  },
  "_sanitization_metadata": {
    "sanitized_at": "2026-06-26T13:55:21.791326+00:00",
    "original_name": "MySquad Build Catalogue Page Link",
    "note": "Sensitive data replaced with placeholders.",
    "tables_renamed": {
      "msq_business_profiles": "table_1"
    },
    "columns_renamed": {
      "id": "column_1"
    }
  }
}