MySquad_workflows/Tools/Google Sub workflow_sanitized.json
{
  "name": "Google Sub workflow",
  "nodes": [
    {
      "parameters": {
        "inputSource": "jsonExample",
        "jsonExample": "{\n  \"query\": \"a string\",\n  \"user_phone\": \"another string\"\n}"
      },
      "id": "__NODE_1__",
      "typeVersion": 1.1,
      "name": "When Executed by Another Workflow",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=[URL]",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "phone_no",
              "value": "={{ $json.user_phone.replace(/'/g, '') }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        224,
        0
      ],
      "id": "__NODE_2__",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.status }}",
                    "rightValue": "needs_authorization",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "REDACTED_OPAQUE_TOKEN"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "REDACTED_OPAQUE_TOKEN",
                    "leftValue": "={{ $json.status }}",
                    "rightValue": "success",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        448,
        0
      ],
      "id": "__NODE_3__",
      "name": "Switch"
    },
    {
      "parameters": {
        "needsFallback": true,
        "options": {
          "systemMessage": "=You are an intelligent automation agent for Google Workspace (Gmail and Google Calendar). Your role is to help users manage their emails and calendar events through natural language conversations.\n\n## Core Principles\n\n1. **Tool-Based Actions Only**: You may ONLY perform actions using the provided tools. Never simulate or describe actions without executing them.\n\n2. **Never Assume IDs**: NEVER invent, guess, or assume any IDs (eventId, messageId, threadId, draftId, labelId, etc.). If an operation requires an ID that you don't have, you MUST first use the appropriate GET/LIST tool to retrieve it.\n\n3. **Explicit Confirmation**: Before performing destructive or irreversible actions (delete events, send emails), confirm with the user by clearly stating what will happen.\n\n4. **ISO-8601 DateTime Format**: All date and time values MUST be in ISO-8601 format with timezone (e.g., 2026-01-22T14:30:00+01:00). If the user provides relative times like \"tomorrow at 2pm\" or \"next Monday\", calculate the exact datetime based on today's date ({{ $today }}) and the user's timezone (Lagos, WAT = UTC+1).\n\n5. **Ask Before Assuming**: If a request is ambiguous or missing required information, ask clarification questions instead of guessing.\n\n---\n\n## Available Tools\n\n### Google Calendar Tools\n\n**get_calendar_events**\n- Purpose: Retrieve upcoming calendar events\n- When to use: Before updating/deleting events, when user asks about their schedule\n- Returns: List of events with eventId, summary, start, end, description, location\n- Required for: Getting eventIds needed for update/delete operations\n\n**create_calendar_event**\n- Purpose: Create new calendar events\n- Required: title (summary), start (ISO-8601), end (ISO-8601)\n- Optional: description, location, attendees\n- Validation: Ensure end time is after start time\n- **CRITICAL ATTENDEES FORMAT**: When creating events with attendees, you MUST format the attendees parameter as a JSON array of objects with \"email\" keys:\n  - CORRECT format: [{\"email\":\"[EMAIL]\"},{\"email\":\"[EMAIL]\"}]\n  - WRONG format: [\"[EMAIL]\", \"[EMAIL]\"]\n  - WRONG format: \"[EMAIL], [EMAIL]\"\n- Google Calendar will automatically create a Meet link when attendees are specified\n- Attendees receive calendar invites with the Meet link\n\nExamples:\nUser: \"Schedule meeting with [EMAIL]\"\n\u2192 attendees: [{\"email\":\"[EMAIL]\"}]\nUser: \"Schedule meeting with [EMAIL] and [EMAIL]\"\n\u2192 attendees: [{\"email\":\"[EMAIL]\"},{\"email\":\"[EMAIL]\"}]\nUser: \"Schedule a team meeting\" (no specific attendees mentioned)\n\u2192 attendees: [] (or omit the parameter)\n\n**update_calendar_event**\n- Purpose: Modify existing calendar events\n- REQUIRES: Valid eventId from table_1\n- Workflow: Always call get_calendar_events first to obtain the eventId\n\n**delete_calendar_event**\n- Purpose: Delete calendar events\n- REQUIRES: Valid eventId from table_1\n- CRITICAL: Confirm with user before deletion\n- Workflow: get_calendar_events \u2192 extract eventId \u2192 confirm \u2192 delete\n\n---\n\n### Gmail Tools\n\nAll Gmail tools automatically include the user's access_token - you don't need to specify it.\n\n**gmail_search_emails**\n- Purpose: Search emails using Gmail query syntax\n- Examples: \n  - `from:[EMAIL]` - emails from table_2\n  - `subject:invoice` - emails with \"invoice\" in subject\n  - `is:unread` - unread emails\n  - `has:attachment` - emails with attachments\n  - `after:2026/01/20` - emails after Jan 20\n  - `from:john is:unread` - unread emails from table_2\n- Returns: List of emails with message_id, from, to, subject, snippet, date\n\n**gmail_get_email**\n- Purpose: Retrieve full email details including body and thread context\n- Requires: message_id from table_3 results\n- Use when: Reading full email content, preparing replies\n- Returns: Full email with body, headers, and thread messages\n\n**gmail_send_email**\n- Purpose: Send a new email\n- Required: to, subject, body\n- Optional: cc, bcc\n- CRITICAL: Always confirm with user before sending\n- Example confirmation: \"I'll send an email to [EMAIL] with subject 'Meeting Tomorrow'. Confirm?\"\n\n**gmail_draft_email**\n- Purpose: Create or update table_4 email draft (does NOT send)\n- Required: to, subject, body\n- Optional: cc, bcc, draft_id (to update table_5 draft)\n- Use when: User says \"draft\", \"prepare\", \"write but don't send\"\n\n**gmail_mark_as_read / gmail_mark_as_unread**\n- Purpose: Change read status of emails\n- Requires: message_id\n- Use after: search_emails to get the message_id\n\n**gmail_create_label**\n- Purpose: Create a new Gmail label\n- Required: name (label name)\n- Example: Create \"Important Clients\" label\n\n**gmail_list_labels**\n- Purpose: List all user-created labels\n- No parameters required\n- Use before: Adding labels to verify they exist\n\n**gmail_add_label / gmail_remove_label**\n- Purpose: Add/remove labels from table_6\n- Requires: message_id, label_name\n- Note: Label must exist (create first if needed)\n\n---\n\n## Workflow Patterns\n\n### Pattern 1: Reading Emails\nUser: \"Show me unread emails from table_2\"\n1. gmail_search_emails with query \"from:john is:unread\"\n2. Present results with subjects and snippets\n3. If user wants full content: gmail_get_email with message_id\n\n### Pattern 2: Sending Emails\nUser: \"Send an email to [EMAIL] about the meeting\"\n1. Ask for subject if not provided\n2. Ask for body content if not provided\n3. Confirm: \"I'll send to [EMAIL] with subject 'X'. Confirm?\"\n4. After confirmation: gmail_send_email\n5. Report success with message_id\n\n### Pattern 3: Drafting Emails\nUser: \"Draft an email to [EMAIL]\"\n1. Ask for subject and body\n2. gmail_draft_email (does NOT send)\n3. Confirm: \"Draft created with ID: xyz. You can edit it in Gmail.\"\n\n### Pattern 4: Label Management\nUser: \"Label emails from table_2 as Important\"\n1. Check if \"Important\" label exists: gmail_list_labels\n2. If not exists: gmail_create_label with name \"Important\"\n3. Search emails: gmail_search_emails with query \"from:john\"\n4. For each result: gmail_add_label with message_id and label_name\n\n### Pattern 5: Creating Calendar Events\nUser: \"Schedule meeting with Sarah tomorrow at 2pm for 1 hour\"\n1. Calculate datetime: Tomorrow 2pm WAT = 2026-01-23T14:00:00+01:00\n2. Calculate end: 2026-01-23T15:00:00+01:00\n3. create_calendar_event with title, start, end\n4. Confirm success\n\n### Pattern 6: Updating Calendar Events\nUser: \"Move my meeting with John to 3pm\"\n1. get_calendar_events to find the meeting\n2. Extract eventId\n3. Calculate new time: 3pm WAT = [date]T15:00:00+01:00\n4. update_calendar_event with eventId and new start/end\n5. Confirm success\n\n---\n\n## Critical Rules\n\n### Gmail IDs\n- **message_id**: ALWAYS obtain from table_7 first\n- NEVER guess or invent message IDs\n- message_id format: alphanumeric string (e.g., \"18d4f2e3a1b5c6d7\")\n\n### Calendar IDs\n- **eventId**: ALWAYS obtain from table_1 first\n- NEVER guess or invent event IDs\n- eventId format: complex string from table_8 Calendar API\n\n### Confirmations Required\n- Sending emails (gmail_send_email)\n- Deleting calendar events (delete_calendar_event)\n- Bulk operations (e.g., labeling 10+ emails)\n\n### Date/Time Handling\n- Current date: {{ $today }}\n- User timezone: Africa/Lagos (WAT = UTC+1)\n- Always use ISO-8601: YYYY-MM-DDTHH:mm:ss+01:00\n- Examples:\n  - \"tomorrow 2pm\" \u2192 2026-01-23T14:00:00+01:00\n  - \"next Monday 9am\" \u2192 [calculate date]T09:00:00+01:00\n\n---\n\n## Response Guidelines\n\n1. **Be Concise**: Avoid unnecessary verbosity\n2. **Use Natural Language**: Don't expose technical details like IDs unless relevant\n3. **Handle Errors Gracefully**: If a tool fails, explain why and suggest alternatives\n4. **Ask Clarifying Questions**: When requests are ambiguous\n5. **Confirm Success**: After completing actions, confirm what was done\n\n---\n\n## Error Handling\n\n### Missing Required Fields\n- BAD: Guess the value\n- GOOD: Ask user \"What should the email subject be?\"\n\n### Invalid IDs\n- BAD: Try random IDs\n- GOOD: Search first, then use correct ID\n\n### API Errors\n- Explain the error in simple terms\n- Suggest next steps\n- Example: \"The label 'Important' doesn't exist. Would you like me to create it?\"\n\n---\n\n## Output Format\n\n- Respond in HTML suitable for Telegram\n- Use `<b>` for emphasis (sparingly)\n- Use emojis only when helpful\n- Keep responses clean and readable\n\n---\n\n## Security & Privacy\n\n- NEVER expose access_token in responses\n- NEVER log or display email passwords\n- Confirm before sending emails\n- Confirm before deleting data\n\n---\n\n**Your goal**: Be accurate, safe, efficient, and conversational. Execute tools when needed, ask when uncertain, and always prioritize user intent."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        976,
        112
      ],
      "id": "__NODE_4__",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": "openai/gpt-oss-120b",
        "options": {
          "temperature": 0
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        656,
        448
      ],
      "id": "__NODE_5__",
      "name": "Groq Chat Model",
      "credentials": {
        "groqApi": {
          "id": "__GROQ_CRED_ID",
          "name": "Groq API Credentials"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "REDACTED_OPAQUE_TOKEN",
              "name": "chatInput",
              "value": "={{ $('When Executed by Another Workflow').item.json.query }}",
              "type": "string"
            },
            {
              "id": "__ASSIGN_1__",
              "name": "access_token",
              "value": "REDACTED",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        672,
        112
      ],
      "id": "__NODE_6__",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('When Executed by Another Workflow').item.json.user_phone }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        1024,
        432
      ],
      "id": "__NODE_7__",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "toolDescription": "=Create a new Google Calendar event.\n\nRequired parameters:\n- title: Event summary/title\n- start: ISO-8601 datetime with timezone (e.g., 2026-01-10T14:00:00+00:00)\n- end: ISO-8601 datetime with timezone (e.g., 2026-01-10T15:00:00+00:00)\n\nOptional parameters:\n- description: Event description\n- attendees: Comma-separated email addresses\n- location: Event location\n\nReturns: Created event with eventId",
        "method": "POST",
        "url": "[URL]",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "REDACTED"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "summary",
              "value": "={{$fromAI('title', '', 'string')}}"
            },
            {
              "name": "description",
              "value": "={{$fromAI('description', '', 'string')}}"
            },
            {
              "name": "location",
              "value": "={{$fromAI('location', '', 'string')}}"
            },
            {
              "name": "start",
              "value": "={{ { \"dateTime\": $fromAI('start', '', 'string') } }}"
            },
            {
              "name": "end",
              "value": "={{ { \"dateTime\": $fromAI('end', '', 'string') } }}"
            },
            {
              "value": "={{ { \"createRequest\": { \"requestId\": $now.toString(), \"conferenceSolutionKey\": { \"type\": \"hangoutsMeet\" } } } }}"
            },
            {
              "name": "attendees",
              "value": "={{ JSON.parse($fromAI('attendees', '[]', 'string') || '[]') }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.3,
      "position": [
        2336,
        640
      ],
      "id": "__NODE_8__",
      "name": "create_calendar_event"
    },
    {
      "parameters": {
        "toolDescription": "=Update table_4 existing Google Calendar event.\n\nREQUIRES: Valid eventId obtained from table_1 tool.\n\nRequired parameters:\n- eventId: The event ID to update\n- title: Updated event title\n- start: Updated start time (ISO-8601)\n- end: Updated end time (ISO-8601)\n\nOptional parameters:\n- description: Updated description\n- location: Updated location\n\nWARNING: Only use this after obtaining eventId from table_9",
        "method": "PUT",
        "url": "=[URL]\"eventId\")}}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "REDACTED"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"summary\": \"{{$fromAI(\"title\", \"\", \"string\")}}\",\n  \"description\": \"{{$fromAI(\"description\", \"\", \"string\")}}\",\n  \"start\": {\n    \"dateTime\": \"{{$fromAI(\"start\", \"\", \"string\")}}\"\n  },\n  \"end\": {\n    \"dateTime\": \"{{$fromAI(\"end\", \"\", \"string\")}}\"\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.3,
      "position": [
        2512,
        640
      ],
      "id": "__NODE_9__",
      "name": "update_calendar_event"
    },
    {
      "parameters": {
        "toolDescription": "=Delete a Google Calendar event.\n\nREQUIRES: Valid eventId obtained from table_1 tool.\n\nRequired parameter:\n- eventId: The event ID to delete\n\nWARNING: This action is irreversible. Always confirm with user before deleting.",
        "method": "DELETE",
        "url": "=[URL]\"eventId\", \"\", \"string\")}}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "REDACTED"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.3,
      "position": [
        2688,
        640
      ],
      "id": "__NODE_10__",
      "name": "delete_calendar_event"
    },
    {
      "parameters": {
        "toolDescription": "=Retrieve upcoming Google Calendar events for the authenticated user. Use this tool to:\n- List upcoming events\n- Search for specific events by title or time\n- Obtain eventId values required for update table_10 deletion operations\n\nReturns: Array of events with eventId, summary, start, end, description, and attendees.",
        "url": "[URL]",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "singleEvents",
              "value": "true"
            },
            {
              "name": "orderBy",
              "value": "startTime"
            },
            {
              "name": "maxResults",
              "value": "25"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "REDACTED"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.3,
      "position": [
        2112,
        640
      ],
      "id": "__NODE_11__",
      "name": "get_calendar_events"
    },
    {
      "parameters": {
        "content": "## Calender Tools",
        "height": 288,
        "width": 768
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2048,
        544
      ],
      "typeVersion": 1,
      "id": "__NODE_12__",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        848,
        432
      ],
      "id": "__NODE_13__",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "__GOOGLE_CRED_ID",
          "name": "Google API Credentials"
        }
      }
    },
    {
      "parameters": {
        "toolDescription": "=Search Gmail inbox using Gmail query syntax. \nExamples: 'from:[EMAIL]', 'subject:invoice', 'is:unread', 'has:attachment', 'after:2026/01/20'\n\nParameters from table_11:\n- query (string, required): Gmail search query\n- max_results (number, optional, default: 10): Number of results (1-100)",
        "method": "POST",
        "url": "[URL]",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "query",
              "value": "={{$fromAI('query', '', 'string')}}"
            },
            {
              "name": "max_results",
              "value": "={{$fromAI('max_results', 10, 'number')}}"
            },
            {
              "name": "access_token",
              "value": "REDACTED"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.3,
      "position": [
        1120,
        640
      ],
      "id": "__NODE_14__",
      "name": "gmail_search_emails"
    },
    {
      "parameters": {
        "toolDescription": "=Retrieve full details of a specific email including body, headers, and thread context. \nRequires message_id from table_12\n\nParameters from table_11:\n- message_id (string, required): Gmail message ID from table_3 results",
        "method": "POST",
        "url": "[URL]",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "message_id",
              "value": "={{$fromAI('message_id', '', 'string')}}"
            },
            {
              "name": "access_token",
              "value": "REDACTED"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.3,
      "position": [
        1312,
        640
      ],
      "id": "__NODE_15__",
      "name": "gmail_get_email"
    },
    {
      "parameters": {
        "toolDescription": "=Send a new email via Gmail. \nCRITICAL: Always confirm with user before sending. \nSupports CC and BCC.\n\nParameters from table_11:\n- to (string, required): Recipient email(s), comma-separated\n- subject (string, required): Email subject\n- body (string, required): Email body (plain text)\n- cc (string, optional): CC recipients\n- bcc (string, optional): BCC recipients",
        "method": "POST",
        "url": "[URL]",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "to",
              "value": "={{$fromAI('to', '', 'string')}}"
            },
            {
              "name": "subject",
              "value": "={{$fromAI('subject', '', 'string')}}"
            },
            {
              "name": "body",
              "value": "={{$fromAI('body', '', 'string')}}"
            },
            {
              "name": "cc",
              "value": "={{$fromAI('cc', '', 'string')}}"
            },
            {
              "name": "bcc",
              "value": "={{$fromAI('bcc', '', 'string')}}"
            },
            {
              "name": "access_token",
              "value": "REDACTED"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.3,
      "position": [
        1488,
        640
      ],
      "id": "__NODE_16__",
      "name": "gmail_send_email"
    },
    {
      "parameters": {
        "toolDescription": "=Create or update table_4 email draft without sending. \nUse when user says \"draft\", \"prepare\", or \"write but don't send\".\n\nParameters from table_11:\n- to (string, required): Recipient email(s)\n- subject (string, required): Draft subject\n- body (string, required): Draft body\n- cc (string, optional): CC recipients\n- bcc (string, optional): BCC recipients\n- draft_id (string, optional): Existing draft ID to update",
        "method": "POST",
        "url": "[URL]",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "to",
              "value": "={{$fromAI('to', '', 'string')}}"
            },
            {
              "name": "subject",
              "value": "={{$fromAI('subject', '', 'string')}}"
            },
            {
              "name": "body",
              "value": "={{$fromAI('body', '', 'string')}}"
            },
            {
              "name": "cc",
              "value": "={{$fromAI('cc', '', 'string')}}"
            },
            {
              "name": "bcc",
              "value": "={{$fromAI('bcc', '', 'string')}}"
            },
            {
              "name": "draft_id",
              "value": "={{$fromAI('draft_id', '', 'string')}}"
            },
            {
              "name": "access_token",
              "value": "REDACTED"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.3,
      "position": [
        1696,
        640
      ],
      "id": "__NODE_17__",
      "name": "gmail_draft_email"
    },
    {
      "parameters": {
        "toolDescription": "=Mark an email as read (removes UNREAD label). \nRequires message_id.\n\nParameters from table_11:\n- message_id (string, required): Gmail message ID",
        "method": "POST",
        "url": "[URL]",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "message_id",
              "value": "={{$fromAI('message_id', '', 'string')}}"
            },
            {
              "name": "access_token",
              "value": "REDACTED"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.3,
      "position": [
        1888,
        640
      ],
      "id": "__NODE_18__",
      "name": "gmail_mark_as_read"
    },
    {
      "parameters": {
        "toolDescription": "=Mark an email as unread (adds UNREAD label)\nRequires message_id.\n\nParameters from table_11:\n- message_id (string, required): Gmail message ID",
        "method": "POST",
        "url": "[URL]",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "message_id",
              "value": "={{$fromAI('message_id', '', 'string')}}"
            },
            {
              "name": "access_token",
              "value": "REDACTED"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.3,
      "position": [
        992,
        832
      ],
      "id": "__NODE_19__",
      "name": "gmail_mark_as_unread"
    },
    {
      "parameters": {
        "toolDescription": "=Create a new Gmail label for organizing emails.\n\nParameters from table_11:\n- name (string, required): Label name",
        "method": "POST",
        "url": "[URL]",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "name",
              "value": "={{$fromAI('name', '', 'string')}}"
            },
            {
              "name": "access_token",
              "value": "REDACTED"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.3,
      "position": [
        1232,
        832
      ],
      "id": "__NODE_20__",
      "name": "gmail_create_label"
    },
    {
      "parameters": {
        "toolDescription": "=List all user-created Gmail labels (excludes system labels like INBOX, SENT).",
        "method": "POST",
        "url": "[URL]",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "access_token",
              "value": "REDACTED"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.3,
      "position": [
        1440,
        832
      ],
      "id": "__NODE_21__",
      "name": "gmail_list_labels"
    },
    {
      "parameters": {
        "toolDescription": "=Add a label to a specific email. Label must exist (use create_label if needed). \nRequires message_id.\n\nParameters from table_11:\n- message_id (string, required): Gmail message ID\n- label_name (string, required): Exact label name (case-sensitive)",
        "method": "POST",
        "url": "[URL]",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "message_id",
              "value": "={{$fromAI('message_id', '', 'string')}}"
            },
            {
              "name": "label_name",
              "value": "={{$fromAI('label_name', '', 'string')}}"
            },
            {
              "name": "access_token",
              "value": "REDACTED"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.3,
      "position": [
        1632,
        832
      ],
      "id": "__NODE_22__",
      "name": "gmail_add_label"
    },
    {
      "parameters": {
        "toolDescription": "=Remove a label from table_13 specific email. \nRequires message_id.\n\nParameters from table_11:\n- message_id (string, required): Gmail message ID\n- label_name (string, required): Exact label name",
        "method": "POST",
        "url": "[URL]",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "message_id",
              "value": "={{$fromAI('message_id', '', 'string')}}"
            },
            {
              "name": "label_name",
              "value": "={{$fromAI('label_name', '', 'string')}}"
            },
            {
              "name": "access_token",
              "value": "REDACTED"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.3,
      "position": [
        1808,
        832
      ],
      "id": "__NODE_23__",
      "name": "gmail_remove_label"
    },
    {
      "parameters": {
        "content": "## Gmail Tools",
        "height": 384,
        "width": 1088,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        928,
        608
      ],
      "typeVersion": 1,
      "id": "__NODE_24__",
      "name": "Sticky Note1"
    }
  ],
  "pinData": {
    "When Executed by Another Workflow": [
      {
        "json": {
          "query": "Great. GO ahead.",
          "user_phone": "'2349169988646'"
        }
      }
    ]
  },
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [],
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 1
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "create_calendar_event": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "update_calendar_event": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "delete_calendar_event": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "get_calendar_events": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "gmail_search_emails": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "gmail_get_email": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "gmail_send_email": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "gmail_draft_email": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "gmail_mark_as_read": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "gmail_mark_as_unread": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "gmail_create_label": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "gmail_list_labels": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "gmail_add_label": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "gmail_remove_label": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "__VERSION_ID__",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "__INSTANCE_ID__"
  },
  "id": "__WORKFLOW_ID__",
  "_sanitization_metadata": {
    "sanitized_at": "2026-03-21T15:18:00.922524+00:00",
    "original_name": "Google Sub workflow",
    "note": "Sensitive data replaced with placeholders.",
    "tables_renamed": {
      "get_calendar_events": "table_1",
      "John": "table_2",
      "search": "table_3",
      "an": "table_4",
      "existing": "table_5",
      "emails": "table_6",
      "gmail_search_emails": "table_7",
      "Google": "table_8",
      "get_calendar_events.": "table_9",
      "or": "table_10",
      "AI": "table_11",
      "search_emails.": "table_12",
      "a": "table_13"
    },
    "columns_renamed": {}
  }
}