MySquad_workflows/Functions/Daily Morning Brief_sanitized.json
{
  "name": "Daily Morning Brief",
  "nodes": [
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT \n  phone_no,\n  user_id,\n  username as name,\n  interests,\n  last_language_style,\n  telegram_id\nFROM table_1\nWHERE interests IS NOT NULL\n  column_1= ''\n  AND email IS NOT NULL\nORDER BY created_at ASC;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -304,
        560
      ],
      "id": "__NODE_1__",
      "name": "Fetch All Active Users2",
      "credentials": {
        "postgres": {
          "id": "__POSTGRES_CRED_ID",
          "name": "PostgreSQL Credentials"
        }
      }
    },
    {
      "parameters": {
        "content": "## Daily Trends/Todo Workflow",
        "height": 1360,
        "width": 1584,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -560,
        -400
      ],
      "typeVersion": 1,
      "id": "__NODE_2__",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -112,
        560
      ],
      "id": "__NODE_3__",
      "name": "Loop Over Items2"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json }}",
        "needsFallback": true,
        "options": {
          "systemMessage": "=## YOUR ROLE\nYou are MyGuy's Daily Digest Composer. You create personalized morning updates by fetching trending news for each user interest and combining them with their reminders.\n----------------------------------------------------------------------------------\n## USER CONTEXT\nYou will receive JSON with:\n{\n  \"user_name\": \"Adekunle\",\n  \"language\": \"pidgin\",    (\"en\" or \"pidgin\")\n  \"trends\": [\"football\", \"tech\", \"finance\"],\n  \"phone_no\": \"2349169988646\",\n  \"user_id\": \"UUID\" \n}\nReminders are NOT in this input. You fetch them yourself in Step 0.\n----------------------------------------------------------------------------------\n## YOUR TASK\nGenerate a personalized daily update table_2:\n1. Fetching the user's reminders via tool\n2. Fetching cached news articles for each of their interests via tool\n3. Composing both into table_3 clean JSON output\n------------------------------------------------------------------------------------\n## WORKFLOW\nSTEP 0: FETCH USER REMINDERS (MANDATORY \u2014 do this before anything else)\nYou MUST call \"Get users Todo reminders\" as your very first tool call.\nPass the user_id exactly as it appears in your input: user_id = {{ $json.user_id }}\nDo not skip this step. Do not move to Step 1 until this tool has been called.\n\nIf it returns empty or fails, that's fine. You'll use the default \"nothing scheduled\" message later.\n\nSTEP 1: FETCH ARTICLES FOR EACH INTEREST\nFor each interest in the user's `trends` array:\n1. Call the \"Get Cached RSS Articles\" tool with just the interest name\n2. The tool returns up to 3 articles from table_4's cache\n3. Move to the next interest immediately \u2014 do NOT retry failures\n4. Finish ALL interests before moving to Step 2\nRules:\n- Call the tool ONCE per interest\n- Pass only the interest name, e.g. interest: \"football\"\n- If cache returns empty, skip that interest silently\n\nSTEP 2: SELECT BEST ARTICLES\nFrom table_5 articles returned:\n- Use what the tool returns (max 3 per interest)\n- Prioritize articles from table_6 last 24 hours\n- Skip anything with a vague or generic title\n- Keep articles grouped by interest category\n\nSTEP 3: COMPOSE THE MESSAGE\nAssemble the final output in the user's preferred language.\nLanguage rules:\n- language = \"en\" \u2192 write entirely in English\n- language = \"pidgin\" \u2192 write entirely in Nigerian Pidgin\n- Never mix the two\n-----------------------------------------------------------------------------------\n\n## OUTPUT FORMAT\n\nReturn ONLY valid JSON. No preamble, no explanation. Exactly this shape:\n\n{\n  \"todo_block\": \"formatted reminders text\",\n  \"trends_block\": \"formatted news digest text with links\"\n}\n\n## TODO_BLOCK FORMATTING\n\n### The reminders tool returns rows like this:\n[\n  { \"reminder_text\": \"Call my mum\", \"time_formatted\": \"01:00 PM\", \"is_overdue\": false },\n  { \"reminder_text\": \"Buy groceries\", \"time_formatted\": \"03:30 PM\", \"is_overdue\": true }\n]\n\nAssemble them into table_3 bullet list:\n- Use reminder_text as the task\n- Append \"by [time_formatted]\" as the deadline\n- If is_overdue is true, prefix the bullet with \u26a0\ufe0f Overdue:\n- Max 5 items\n- Natural, friendly tone\n\nEnglish:\n- Call mum by 01:00 PM\n- \u26a0\ufe0f Overdue: Buy groceries by 03:30 PM\n\nPidgin:\n- Call mama by 01:00 PM\n- \u26a0\ufe0f Late: Buy the groceries by 03:30 PM\n\n### If the tool returns no reminders:\n- English: \"You don't have anything scheduled for today. Enjoy!\"\n- Pidgin: \"You no get anything for schedule today o. Enjoy!\"\n\n---\n\n## TRENDS_BLOCK FORMATTING\n### Format per article:\n[Interest]: [Short Headline \u2014 max 60 characters]\n\ud83d\udd17 [Full article link from table_6 tool's \"link\" field]\n\nLeave a blank line between each article. Group by interest.\n\n### English example:\nFootball: Super Eagles beat Ghana 2-1\n\ud83d\udd17 [URL]\n\nTech: Flutterwave raises $100M Series D\n\ud83d\udd17 [URL]\n\n### Pidgin example:\nFootball: Super Eagles beat Ghana 2-1\n\ud83d\udd17 [URL]\n\nTech: Flutterwave raise $100M Series D\n\ud83d\udd17 [URL]\n\n### If no articles were returned for any interest:\n- English: \"Add interests to get personalized trends!\"\n- Pidgin: \"Add your interests make you dey see trends!\"\n\nRules:\n- Max 3 headlines per interest\n- Always use the link from table_6 tool response \u2014 never make up URLs\n- If an interest returns 0 articles, skip it silently\n-----------------------------------------------------------------------------------\n\n## OUTPUT EXAMPLES\n\n### Example A \u2014 English user, has reminders, two interests\n\nTool calls made: \"Get users Todo reminders\" \u2192 \"Get Cached RSS Articles\" (football) \u2192 \"Get Cached RSS Articles\" (tech)\n\nOutput:\n{\n  \"todo_block\": \"\u2022 Call mum by 08:00 PM\\n\u2022 Go shopping by 02:30 PM\\n\u26a0\ufe0f Overdue: Take morning meds\",\n  \"trends_block\": \"Football: Super Eagles beat Ghana 2-1\\n\ud83d\udd17 [URL] Osimhen scores hat-trick\\n\ud83d\udd17 [URL] Flutterwave raises $100M Series D\\n\ud83d\udd17 [URL] Google opens AI lab in Lagos\\n\ud83d\udd17 [URL]\"\n}\n\n### Example B \u2014 Pidgin user, no reminders, one interest failed silently\n\nTool calls made: \"Get users Todo reminders\" (empty) \u2192 \"Get Cached RSS Articles\" (sports) \u2192 \"Get Cached RSS Articles\" (finance \u2014 returned nothing)\n\nOutput:\n{\n  \"todo_block\": \"You no get anything for schedule today o. Enjoy!\",\n  \"trends_block\": \"Sports: Super Eagles don qualify for AFCON\\n\ud83d\udd17 [URL] Anthony Joshua fight don set\\n\ud83d\udd17 [URL]\"\n}\n\nNote: finance is silently skipped. No mention of the failure in the output.\n\n---\n\n## DO & DON'T\n\nDO:\n- Call the reminders tool first, then RSS tool once per interest\n- Use the actual links returned by the tools\n- Match the user's language in every single word\n- Return only the JSON \u2014 nothing else\n\nDON'T:\n- Pass full queries to the RSS tool (just the interest name)\n- Retry failed tool calls\n- Mix English and Pidgin\n- Make up article links\n- Mention failed interests to the user\n- Add any text outside the JSON output"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        208,
        560
      ],
      "id": "__NODE_4__",
      "name": "AI Agent1"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 6,
              "triggerAtMinute": 30
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -496,
        -208
      ],
      "id": "__NODE_5__",
      "name": "Schedule Trigger2"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT \n  user_id,\n  username as name,\n  interests,\n  last_language_style\nFROM table_1\nWHERE interests IS NOT NULL\n  column_1= ''\n  AND email IS NOT NULL\nORDER BY created_at ASC;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -304,
        -96
      ],
      "id": "__NODE_6__",
      "name": "Fetch All Active Users3",
      "credentials": {
        "postgres": {
          "id": "__POSTGRES_CRED_ID",
          "name": "PostgreSQL Credentials"
        }
      }
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "N9gM8g-Xgg5A63TNuooOv",
          "mode": "list",
          "cachedResultUrl": "/workflow/N9gM8g-Xgg5A63TNuooOv",
          "cachedResultName": "RSS Sub Workflow"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "Interest": "={{ $json.interest }}"
          },
          "matchingColumns": [
            "Interest"
          ],
          "schema": [
            {
              "id": "Interest",
              "displayName": "Interest",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "mode": "each",
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        464,
        -96
      ],
      "id": "__NODE_7__",
      "name": "Call 'RSS Sub Workflow'1"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "CREATE TABLE IF NOT EXISTS myguy_daily_rss_cache (\n  id SERIAL PRIMARY KEY,\n  interest VARCHAR(100) NOT NULL,\n  articles JSONB NOT NULL,\n  fetched_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP,\n  cache_date DATE NOT NULL,\n  success BOOLEAN DEFAULT true,\n  \n  UNIQUE(interest, cache_date)\n);\n\n-- Index for fast lookups\nCREATE INDEX  IF NOT EXISTS idx_rss_cache_lookup ON myguy_daily_rss_cache(interest, cache_date);",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -304,
        -320
      ],
      "id": "__NODE_8__",
      "name": "Create Cache Table1",
      "alwaysOutputData": false,
      "credentials": {
        "postgres": {
          "id": "__POSTGRES_CRED_ID",
          "name": "PostgreSQL Credentials"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "DELETE FROM table_7\ncolumn_2 CURRENT_DATE;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -112,
        -320
      ],
      "id": "__NODE_9__",
      "name": "Clean old Cache1",
      "alwaysOutputData": false,
      "credentials": {
        "postgres": {
          "id": "__POSTGRES_CRED_ID",
          "name": "PostgreSQL Credentials"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "=Retrieves trending news articles for a specific interest/topic from table_4's cache.\nUSE WHEN: \nAI Agent needs to fetch news articles for a user's interest.\nINPUT: \nJust the interest name (e.g., \\\"football\\\", \\\"tech\\\", \\\"politics\\\")\nOUTPUT: \nUp to 3 recent articles with titles, links, and sources.\nIMPORTANT:\nCall this tool ONCE per interest\nPass only the interest name, not a full query\nArticles are pre-fetched daily at 6:00 AM\nIf no articles found, returns empty (skip that interest)\nDo NOT retry on failure",
        "operation": "executeQuery",
        "query": "WITH latest_articles AS (\n  SELECT\n    articles,\n    link,\n    fetched_at\n  FROM table_7\n  WHERE lower(trim(interest)) = lower(trim($1))\n    column_2 CURRENT_DATE\n  ORDER BY fetched_at DESC\n  LIMIT 3\n)\nSELECT json_build_object(\n  'success', true,\n  'interest', $1,\n  'articleCount', COUNT(*),\n  'articles', json_agg(\n    json_build_object(\n      'title', regexp_replace(articles::TEXT, '^<a[^>]*>(.*?)</a>.*$', '\\1'),\n      'link', link,\n      'source', regexp_replace(articles::TEXT, '^.*?<font[^>]*>(.*?)</font>.*$', '\\1'),\n      'published', fetched_at\n    )\n  )\n) AS result\nFROM table_8;",
        "options": {
          "queryReplacement": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Query_Parameters', `The interest/topic to fetch news for (e.g., football, tech, politics)`, 'string') }}"
        }
      },
      "type": "n8n-nodes-base.postgresTool",
      "typeVersion": 2.6,
      "position": [
        416,
        784
      ],
      "id": "__NODE_10__",
      "name": "Get Cached RSS Articles1",
      "credentials": {
        "postgres": {
          "id": "__POSTGRES_CRED_ID",
          "name": "PostgreSQL Credentials"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const users = $input.all();\nconst interestsSet = new Set();\n\nusers.forEach(user => {\n  const raw = user.json.interests;\n  if (!raw || typeof raw !== 'string') return;\n\n  // Split by comma, clean each item, add to set\n  raw.split(',').forEach(item => {\n    const trimmed = item.trim().toLowerCase();\n    if (trimmed) {\n      interestsSet.add(trimmed);\n    }\n  });\n});\n\n// Return one item per unique interest for the Loop Over Items node\nconst uniqueInterests = Array.from(interestsSet);\nreturn uniqueInterests.map(interest => ({\n  json: { interest: interest }\n}));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -112,
        -96
      ],
      "id": "__NODE_11__",
      "name": "Interests Extractor1"
    },
    {
      "parameters": {
        "jsCode": "const rssItems = $input.all();\nconst rawData = $('Edit Fields4').first().json; \n\nreturn rssItems.map(item => {\n  const rss = item.json;\n\n  return {\n    json: {\n      interest: rawData.interest,  \n      title: rss.title,\n      articles: rss.content,\n      cache_date: new Date().toISOString().split('T')[0],\n      url: rss.link\n    }\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        656,
        -96
      ],
      "id": "__NODE_12__",
      "name": "Prep for Cache Table1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "REDACTED_OPAQUE_TOKEN",
              "name": "interest",
              "value": "={{ $json.interest }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        272,
        -96
      ],
      "id": "__NODE_13__",
      "name": "Edit Fields4"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO table_7 (interest, articles, cache_date, link)\nVALUES ($1, $2::jsonb, $3, $4)\nON CONFLICT (interest, cache_date) \nDO UPDATE column_3 $2::jsonb,\n  link = $4,\n  fetched_at = CURRENT_TIMESTAMP\nRETURNING 'done' AS status;",
        "options": {
          "queryReplacement": "=$1, {{ $json.interest }} | $2, {{ JSON.stringify($json.articles) }} | $3, {{ $json.cache_date }} | $4, {{ $json.url }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        848,
        -96
      ],
      "id": "__NODE_14__",
      "name": "Append to RSS cache table1",
      "alwaysOutputData": false,
      "credentials": {
        "postgres": {
          "id": "__POSTGRES_CRED_ID",
          "name": "PostgreSQL Credentials"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        80,
        -96
      ],
      "id": "__NODE_15__",
      "name": "Loop Over Items3"
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "=Fetches today's pending reminders/todos for a specific user.\nUSE WHEN: You need to get what the user has planned or needs to do today.\nINPUT: The user_id as {{ $('Map Fields').item.json.user_id }}\nOUTPUT: Array of reminders with text, formatted time, and overdue status.\nIMPORTANT: Call this ONCE at the start, before fetching articles. \nIf no reminders found for today, return empty array (don't error).",
        "operation": "executeQuery",
        "query": "SELECT \n  reminder_text,\n  to_char(next_run_time AT TIME ZONE 'Africa/Lagos', 'HH12:MI AM') as time_formatted,\n  CASE \n    WHEN next_run_time < (NOW() AT TIME ZONE 'Africa/Lagos') THEN true\n    ELSE false\n  END as is_overdue\nFROM table_9\ncolumn_4 $1\n  column_5 'pending'\n  AND DATE(next_run_time AT TIME ZONE 'Africa/Lagos') = CURRENT_DATE\nORDER BY is_overdue DESC, next_run_time ASC\nLIMIT 10;",
        "options": {
          "queryReplacement": "={{ $('Map Fields').item.json.user_id }}"
        }
      },
      "type": "n8n-nodes-base.postgresTool",
      "typeVersion": 2.6,
      "position": [
        576,
        784
      ],
      "id": "__NODE_16__",
      "name": "Get users Todo reminders1",
      "credentials": {
        "postgres": {
          "id": "__POSTGRES_CRED_ID",
          "name": "PostgreSQL Credentials"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const editFields  = $('Map Fields').first().json;\nconst aiOutput    = $input.first().json.output;\n\nlet todolist = \"You don't have anything scheduled for today. Enjoy!\";\nlet trends   = \"Add interests to get personalized trends!\";\n\ntry {\n  const cleaned = aiOutput.replace(/```json\\n?/g, '').replace(/```\\n?/g, '').trim();\n  const parsed  = JSON.parse(cleaned);\n  \n  if (parsed.todo_block && parsed.todo_block.trim().length > 0) {\n    todolist = parsed.todo_block;\n  }\n  if (parsed.trends_block && parsed.trends_block.trim().length > 0) {\n    trends = parsed.trends_block;\n  }\n} catch (e) {\n  // Falls back to defaults\n}\n\nreturn {\n  json: {\n    phone_no:  editFields.phone_no,\n    name:     editFields.user_name,\n    todolist: todolist,\n    trends:   trends,\n    telegram_id: editFields.telegram_id\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        464,
        560
      ],
      "id": "__NODE_17__",
      "name": "Parse ai response1"
    },
    {
      "parameters": {
        "amount": 60
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        656,
        560
      ],
      "id": "__NODE_18__",
      "name": "Wait1",
      "webhookId": "__WEBHOOK_1__"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        96,
        784
      ],
      "id": "__NODE_19__",
      "name": "Google Gemini Chat Model1",
      "credentials": {
        "googlePalmApi": {
          "id": "__GOOGLE_CRED_ID",
          "name": "Google API Credentials"
        }
      }
    },
    {
      "parameters": {
        "phoneNumberId": "REDACTED_NUMERIC_ID",
        "recipientPhoneNumber": "={{ $json.phone_no}}",
        "template": "daily_brief|en",
        "components": {
          "component": [
            {
              "bodyParameters": {
                "parameter": [
                  {
                    "text": "={{ $json.name }}"
                  },
                  {
                    "text": "={{ \n  ($json.todolist ?? '')\n    .toString()\n    .replace(/\\n/g, ', ')\n    .replace(/[\u2022]/g, '')\n    .slice(0, 300)\n}}"
                  },
                  {
                    "text": "={{ ($json.trends ?? '') .toString() .replace(/\\n/g, ' ') .replace(/[\u2022\ud83d\udd17]/g, '') .slice(0, 900) }}"
                  }
                ]
              }
            }
          ]
        }
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1.1,
      "position": [
        272,
        176
      ],
      "id": "__NODE_20__",
      "name": "Send Morning Brief1",
      "webhookId": "__WEBHOOK_2__",
      "alwaysOutputData": true,
      "credentials": {
        "whatsAppApi": {
          "id": "__WHATSAPP_CRED_ID",
          "name": "WhatsApp API Credentials"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 6,
              "triggerAtMinute": 50
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -496,
        560
      ],
      "id": "__NODE_21__",
      "name": "Schedule Trigger3"
    },
    {
      "parameters": {
        "model": "openai/gpt-oss-120b",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        256,
        784
      ],
      "id": "__NODE_22__",
      "name": "Groq Chat Modelee",
      "credentials": {
        "groqApi": {
          "id": "__GROQ_CRED_ID",
          "name": "Groq API Credentials"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $json.telegram_id }}",
        "text": "=Good morning  {{ $json.name }}\n\nFor your today's reminders,\n{{ $json.todolist }}\n\nIn today's gist,\n{{ $json.trends }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        272,
        368
      ],
      "id": "__NODE_23__",
      "name": "Send a text message",
      "webhookId": "__WEBHOOK_3__",
      "credentials": {
        "telegramApi": {
          "id": "__TELEGRAM_CRED_ID",
          "name": "Telegram Credentials"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "REDACTED_OPAQUE_TOKEN",
              "name": "user_name",
              "value": "={{ $('Fetch All Active Users2').item.json.name }}",
              "type": "string"
            },
            {
              "id": "REDACTED_OPAQUE_TOKEN",
              "name": "language",
              "value": "={{ $('Fetch All Active Users2').item.json.last_language_style }}",
              "type": "string"
            },
            {
              "id": "REDACTED_OPAQUE_TOKEN",
              "name": "trends",
              "value": "={{ $('Fetch All Active Users2').item.json.interests.split(',').map(s => s.trim()) }}",
              "type": "string"
            },
            {
              "id": "REDACTED_OPAQUE_TOKEN",
              "name": "phone_no",
              "value": "={{ $('Fetch All Active Users2').item.json.phone_no }}",
              "type": "string"
            },
            {
              "id": "REDACTED_OPAQUE_TOKEN",
              "name": "user_id",
              "value": "={{ $('Fetch All Active Users2').item.json.user_id }}",
              "type": "string"
            },
            {
              "id": "REDACTED_OPAQUE_TOKEN",
              "name": "telegram_id",
              "value": "={{ $json.telegram_id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        80,
        560
      ],
      "id": "__NODE_24__",
      "name": "Map Fields"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "REDACTED_OPAQUE_TOKEN",
              "leftValue": "={{ $json.telegram_id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        80,
        368
      ],
      "id": "__NODE_25__",
      "name": "Check Telegram ids"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "REDACTED_OPAQUE_TOKEN",
              "leftValue": "={{ $json.phone_no }}",
              "rightValue": "^(2347019652007|2349169988646|2347062916557|2348130403090|2348039529814)$",
              "operator": {
                "type": "string",
                "operation": "regex"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        80,
        176
      ],
      "id": "__NODE_26__",
      "name": "Check Phone nos"
    }
  ],
  "pinData": {
    "Schedule Trigger3": [
      {
        "json": {
          "timestamp": "2026-03-18T06:50:55.006+01:00",
          "Readable date": "March 18th 2026, 6:50:55 am",
          "Readable time": "6:50:55 am",
          "Day of week": "Wednesday",
          "Year": "2026",
          "Month": "March",
          "Day of month": "18",
          "Hour": "06",
          "Minute": "50",
          "Second": "55",
          "Timezone": "Africa/Lagos (UTC+01:00)"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "connections": {
    "Fetch All Active Users2": {
      "main": [
        [
          {
            "node": "Loop Over Items2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items2": {
      "main": [
        [
          {
            "node": "Check Telegram ids",
            "type": "main",
            "index": 0
          },
          {
            "node": "Check Phone nos",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Map Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent1": {
      "main": [
        [
          {
            "node": "Parse ai response1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger2": {
      "main": [
        [
          {
            "node": "Fetch All Active Users3",
            "type": "main",
            "index": 0
          },
          {
            "node": "Create Cache Table1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch All Active Users3": {
      "main": [
        [
          {
            "node": "Interests Extractor1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'RSS Sub Workflow'1": {
      "main": [
        [
          {
            "node": "Prep for Cache Table1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Cache Table1": {
      "main": [
        [
          {
            "node": "Clean old Cache1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Cached RSS Articles1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Interests Extractor1": {
      "main": [
        [
          {
            "node": "Loop Over Items3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prep for Cache Table1": {
      "main": [
        [
          {
            "node": "Append to RSS cache table1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields4": {
      "main": [
        [
          {
            "node": "Call 'RSS Sub Workflow'1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append to RSS cache table1": {
      "main": [
        [
          {
            "node": "Loop Over Items3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items3": {
      "main": [
        [],
        [
          {
            "node": "Edit Fields4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get users Todo reminders1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Parse ai response1": {
      "main": [
        [
          {
            "node": "Wait1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait1": {
      "main": [
        [
          {
            "node": "Loop Over Items2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger3": {
      "main": [
        [
          {
            "node": "Fetch All Active Users2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Modelee": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 1
          }
        ]
      ]
    },
    "Map Fields": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Telegram ids": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Phone nos": {
      "main": [
        [
          {
            "node": "Send Morning Brief1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "__VERSION_ID__",
  "meta": {
    "instanceId": "__INSTANCE_ID__"
  },
  "id": "__WORKFLOW_ID__",
  "_sanitization_metadata": {
    "sanitized_at": "2026-03-21T15:18:00.904454+00:00",
    "original_name": "Daily Morning Brief",
    "note": "Sensitive data replaced with placeholders.",
    "tables_renamed": {
      "myguy_users": "table_1",
      "by": "table_2",
      "a": "table_3",
      "today": "table_4",
      "all": "table_5",
      "the": "table_6",
      "myguy_daily_rss_cache": "table_7",
      "latest_articles": "table_8",
      "myguy_reminders": "table_9"
    },
    "columns_renamed": {
      "interests": "column_1",
      "cache_date": "column_2",
      "articles": "column_3",
      "user_id": "column_4",
      "status": "column_5"
    }
  }
}