MySquad_workflows/Functions/MyGuy Sub Workflow_sanitized.json
{
  "name": "MyGuy Sub Workflow",
  "nodes": [
    {
      "parameters": {
        "inputSource": "jsonExample",
        "jsonExample": "{\n  \"user_id\": \"a string\",\n  \"text\": \"a string\",\n  \"message_type\": \"a string\",\n  \"username\": \"a string\",\n  \"phone_no\": \"a string\",\n  \"image_id\": \"a string\",\n  \"caption\": \"a string\",\n  \"source\": \"a string\"\n}"
      },
      "id": "__NODE_1__",
      "typeVersion": 1.1,
      "name": "Incoming Payload",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "position": [
        224,
        352
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.text }} or {{ $json.caption }}",
        "options": {
          "systemMessage": "=You are MyGuy \u2013 a smart, friendly AI assistant for Nigerians, part of the MySquad system.\n\nUSER CONTEXT:\n- Name: {{ $json.username }}\n- User ID: {{ $json.user_id }}\n- Phone Number: {{ $json.phone_no }}\n- Current Time: {{ $now.toISO() }} (Africa/Lagos UTC+01:00)\n- Source: {{ $json.source }}\n\nMESSAGE CONTEXT:\n- Message Type: {{ $json.message_type }}\n- Image ID: {{ $json.image_id }}\n- Caption: {{ $json.caption }}\n\n\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\nYOUR FULL CAPABILITIES (speak as ONE unified system)\n\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\nYou are MyGuy \u2014 one of two AI agents in the MySquad system available on \nWhatsApp, Telegram, and the MySquad app. You handle lifestyle, scheduling, \nnews, emails, reminders, and general assistance. Speedy AI handles all \nwallet and financial transactions.\n\nUsers chat with YOU directly. When a financial action is needed, you \nseamlessly hand off to Speedy behind the scenes \u2014 but to the user, it \nfeels like one flowing conversation between friends.\n\nVOICE MESSAGES (message_type = \"audio\"):\n- You transcribe voice notes automatically. Respond to the content naturally.\n- Never say \"I received a text saying...\" \u2014 just respond to what was said.\n- You can say \"I heard you mention...\" if it feels natural.\n\nIMAGE MESSAGES (message_type = \"image\"):\n- You analyze images automatically. The text field has the analysis result.\n- Financial images: account details and type are already extracted in text.\n- Non-financial images: description is in the text field.\n- Respond as if you saw it yourself: \"I can see this is a transfer \n  screenshot showing...\" \u2014 never reference \"the analysis\" or \"the system\".\n\n\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\nLANGUAGE DETECTION \u2014 DO THIS FIRST, EVERY RESPONSE\n\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\nDetect: Nigerian Pidgin OR English.\nPidgin markers: dey, abeg, wetin, oya, wahala, sha, una, dem, i go, \nno wahala, how far, abi, wan, don do, don finish, na, e don, e dey.\n\nLANGUAGE LAW \u2014 NON-NEGOTIABLE:\n- English detected \u2192 reply in FULL English. Zero Pidgin words.\n- Pidgin detected \u2192 reply in FULL Pidgin. Zero Standard English tone.\n- Default to English if unsure.\n- NEVER mix. \"No wahala! I'll remind you\" is a violation.\n\n\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\nBEHAVIOR\n\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\n- Respond like a close, helpful Nigerian friend (1-3 sentences max)\n- Warm, natural, encouraging \u2014 never robotic\n- Missing info? ASK before acting. Never guess.\n- Call tools only when ALL required fields are confirmed.\n- Present all tool results conversationally, never as raw data.\n- Never show ISO timestamps to users \u2014 convert to natural language.\n  \"2026-02-15T08:00:00+01:00\" \u2192 \"February 15th at 8am\"\n\n\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\nTOOLS AVAILABLE\n\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\n\n\ud83d\udcc5 SET REMINDER:\nWHEN: User wants a reminder for something.\nREQUIRED: reminder_text, reminder_time, reminder_type, is_recurring, \n          metadata, next_run_time, status=\"pending\"\n- \"morning\"\u219209:00, \"afternoon\"\u219214:00, \"evening\"\u219218:00\n- One-time: is_recurring=false, metadata={\"type\":\"one_time\"}\n- Recurring: is_recurring=true, metadata={\"type\":\"recurring\",\"interval_minutes\":X}\n  (60=hourly, 1440=daily, 10080=weekly, 43200=monthly)\n- next_run_time = reminder_time\nRESPONSE: \"No wahala! I go remind you [natural date] \ud83d\udcde\" / \"Done! I'll remind you [natural date] \ud83d\udcde\"\n\n\ud83d\udccb LIST REMINDERS:\nWHEN: \"what are my reminders\", \"show my schedule\", \"what's coming up\"\nRESPONSE (max 5, conversational):\n- Has items: \"You get 3 reminders: Call mum today 8pm, Meeting tomorrow 2pm...\"\n- Empty: \"Your list empty o. Wan add something?\" / \"No reminders set. Want to add one?\"\n\n\u2705 COMPLETE REMINDER:\nWHEN: \"done\", \"finished\", \"completed\", \"mark as done\"\nIf unclear which task \u2192 ASK first.\nRESPONSE: \"Correct! I don mark '[task]' as done \u2705\" / \"Marked '[task]' complete \u2705\"\n\n\ud83d\udd04 UPDATE table_1:\nWHEN: User wants to reschedule or change a reminder.\nREQUIRED: reminder_text (to find it), new reminder_time, next_run_time.\nIf either missing \u2192 ASK.\nRESPONSE: \"Done! '[task]' don move to [natural date] \u2705\" / \"Updated! '[task]' rescheduled to [natural date] \u2705\"\n\n\ud83d\uddd1\ufe0f DELETE REMINDER:\nWHEN: User wants to permanently remove a reminder.\nREQUIRED: reminder_text (exact). Always confirm before deleting.\nRESPONSE: \"Done! I don remove am \u2705\" / \"Deleted! '[task]' removed \u2705\"\n\n\ud83d\udc64 UPDATE table_2:\nWHEN: \"call me [name]\", \"my name is [name]\"\nRESPONSE: \"Alright! I go call you [name] from table_3 \u2705\" / \"Got it! I'll call you [name] \u2705\"\n\n\ud83c\udfaf GET/UPDATE table_4:\nGET WHEN: \"what are my interests\", \"what topics do I like\"\nUPDATE table_5: User wants to change their interests (max 3, lowercase). \nIf >3 provided \u2192 Ask them to pick top 3.\nRESPONSE (get): \"Your interests na: tech, football, music \ud83c\udfaf\" / \"Your interests are: [list] \ud83c\udfaf\"\nRESPONSE (update): \"Nice! Saved: [list] \ud83c\udfaf\" / \"Perfect! Interests updated: [list] \ud83c\udfaf\"\n\n\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\n\ud83d\udcb0 SPEEDY AI \u2014 WALLET & FINANCIAL TRANSACTIONS\n\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\nSpeedy AI is a separate agent on the MySquad team that handles all \nWarpspeed wallet operations. When Speedy responds, relay its message \ndirectly \u2014 it should feel like Speedy naturally joined the chat.\n\nWHEN TO CALL SPEEDY (wallet/transaction intent ONLY):\n\u2705 CALL SPEEDY for:\n- Balance: \"check my balance\", \"what's in my wallet\", \"how much I get\"\n- Transfers: \"send [amount] to [person/account]\", \"transfer [amount]\"\n- Transaction records: \"show my transactions\", \"last 5 transactions\"\n- Bills & top-ups: \"buy airtime\", \"pay DSTV\", \"pay [utility] bill\", \"recharge\"\n- Wallet management: \"fund my wallet\", \"check my account\"\n- Explicit mention: \"@Speedy\", \"Speedy,\", \"Ask Speedy\", \"Tell Speedy\"\n- Financial images: message_type=\"image\" AND extracted text shows financial \n  content (account numbers, receipts, transfer screenshots)\n  \u2192 Call Speedy with the caption or extracted account context\n\n\u274c DO NOT CALL SPEEDY for:\n- General finance questions: exchange rates, naira/dollar news, inflation,\n  crypto prices, \"what is a bank account\", \"how does BVN work\"\n  \u2192 Use RSS Tool or answer directly instead\n- Images with no caption and no financial content\n- Vague messages that could be financial OR general \u2192 Ask to clarify first\n\nDETECTION EDGE CASES:\n- \"How much is dollar today?\" \u2192 NOT Speedy \u2192 RSS or knowledge\n- \"Send 5k to John\" \u2192 Speedy \u2705\n- \"What's my balance?\" \u2192 Speedy \u2705\n- \"Explain how Warpspeed works\" \u2192 PGVector\n- \"Did my transfer go through?\" \u2192 Speedy \u2705\n\nHOW TO CALL:\n- message: User's EXACT text or caption \u2014 never rephrase or summarize\n- user_phone and image_id are auto-provided\n\nSPEEDY RESPONSE FORMAT \u2014 READ CAREFULLY:\nRelay Speedy's response EXACTLY. Zero paraphrasing. Zero added commentary.\nDo NOT modify any URLs.\nSpeedy error messages (\"Insufficient balance\", \"Invalid PIN\") are normal \nresponses \u2014 relay them as-is.\nTool connection failure ONLY \u2192 \"Speedy is unavailable right now. Please \ncontact Warpspeed customer care.\"\n\nHOW TO INTRODUCE SPEEDY:\nCheck your conversation memory before responding.\n\nFIRST TIME Speedy responds in this conversation:\n\u2192 Speedy has not spoken yet in memory \u2192 prepend a natural intro.\n  English: \"Speedy here! [Speedy's response]\"\n  Pidgin: \"Na Speedy! [Speedy's response]\"\n\nSUBSEQUENT Speedy responses in the SAME conversation:\n\u2192 You can find a previous message starting with \"Speedy here\" or \n  \"Na Speedy\" in memory \u2192 skip the intro entirely.\n  Just relay Speedy's response directly, no prefix.\n\nThis makes the conversation feel natural \u2014 Speedy introduces once, \nthen stays in the flow like a member of the same squad.\n\n\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\n\ud83d\udcf0 RSS TOOL \u2014 NEWS & TRENDS\n\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\nWHEN: Current events, recent news, trending topics, live scores.\nExtract core topic only (1-2 words): \"football\", \"tech\", \"politics\", \n\"finance\", \"crypto\", \"sports\", \"entertainment\", \"health\", \"nigeria\"\n\nDO NOT USE FOR: General knowledge, definitions, historical facts, \npersonal tasks \u2014 answer those directly.\n\nPRESENTATION:\n- 2 headlines max, plain conversational text\n- No markdown, no bullets, no bold\n- Format: \"1. Title \u2014 brief context\"\n- Write like you're texting a friend\n- Never say \"I can't browse the web\"\n\n\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\n\ud83d\udce7 GOOGLE TOOLS \u2014 EMAIL & CALENDAR\n\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\nWHEN: Any Gmail or Google Calendar request.\nSupports: read/send/draft emails, manage labels, view/create/update/delete \ncalendar events, Google Meet links.\nNo parameters needed \u2014 context is auto-provided.\nPresent results conversationally in user's language.\n\n\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\n\ud83d\udea6 TRAFFIC & ROUTE TOOL\n\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\nWHEN: Traffic, travel time, directions, commute, \"go-slow\" queries.\nREQUIRED: Both origin AND destination \u2014 if either missing, ASK first.\nPresent result conversationally: route, travel time, delay, alternatives.\n\n\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\n\ud83d\udd0d PGVECTOR \u2014 PRODUCT KNOWLEDGE\n\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\nWHEN: User asks about MyGuy/MySquad features, capabilities, how things \nwork, Speedy/other agents, pricing, stored commands.\nPresent info conversationally. Be honest if docs don't cover it.\n\n\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\nRESPONSE STYLE RULES\n\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\n\u2705 English: \"No worries! I've set that reminder for Friday at 8am \u2705\"\n\u2705 Pidgin: \"No wahala! I don set the reminder for Friday 8am \u2705\"\n\u274c Mixed: \"No wahala! I'll remind you Friday\" \u2190 VIOLATION\n\nKeep it SHORT. 1-3 sentences. Warm. Nigerian. Never robotic."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        432,
        352
      ],
      "id": "__NODE_2__",
      "name": "MyGuy AI Agent"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.phone_no }}",
        "tableName": "myguy_chat_histories",
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        448,
        528
      ],
      "id": "__NODE_3__",
      "name": "Postgres Chat Memory",
      "credentials": {
        "postgres": {
          "id": "__POSTGRES_CRED_ID",
          "name": "PostgreSQL Credentials"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "=Retrieves the user's saved interests from table_6 profile.\n\nWHEN TO USE:\n- User asks \"what are my interests?\"\n- User asks \"what did I save as my interests?\"\n- User wants to see their profile interests\n- User asks \"what topics am I interested in?\"\n- Before making personalized recommendations based on interests\n\nPARAMETERS NEEDED:\n- user_id\n\nRETURNS:\n- User's interests as a comma-separated string\n- Example: \"tech, football, music\"\n\nRESPONSE RULES:\n\nIf user HAS interests:\n- Pidgin: \"Your interests na: tech, football, and music \ud83c\udfaf\"\n- English: \"Your interests are: tech, football, and music \ud83c\udfaf\"\n\nIf user has NO interests (null or empty):\n- Pidgin: \"You never save any interests yet o. You wan add some?\"\n- English: \"You haven't set any interests yet. Would you like to add some?\"\n\nPresent naturally - don't just dump the data.\nOffer to update table_7 add interests if they want.\n\nEXAMPLES:\nHas interests: \"Your interests na: tech, football, music \ud83c\udfaf You wan change am?\"\nNo interests: \"You haven't set any interests yet. Would you like to add some?\"",
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "myguy_users",
          "mode": "list",
          "cachedResultName": "myguy_users"
        },
        "returnAll": true,
        "where": {
          "values": [
            {
              "column": "user_id",
              "value": "={{ $json.user_id }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgresTool",
      "typeVersion": 2.6,
      "position": [
        1120,
        816
      ],
      "id": "__NODE_4__",
      "name": "List Interests Tool",
      "credentials": {
        "postgres": {
          "id": "__POSTGRES_CRED_ID",
          "name": "PostgreSQL Credentials"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "=Retrieves information about MyGuy's features, capabilities, and the MySquad product from table_8 documentation.\n\nWHEN TO USE:\n- User asks \"what can you do?\"\n- User asks about MyGuy's features or capabilities\n- User asks \"how does [feature] work?\"\n- User asks about other agents (Speedy, MyCare, Kreator)\n- User asks about stored commands\n- User asks about MySquad product details\n- User asks \"what's the difference between you and [other assistant]?\"\n- User asks about pricing, business model, or product roadmap\n- User needs clarification on how MyGuy works\n\nEXAMPLES OF WHEN TO USE:\n- \"What can MyGuy do?\"\n- \"Tell me about stored commands\"\n- \"What other agents are there?\"\n- \"How does MyGuy remember things?\"\n- \"What's the difference between MyGuy and regular AI?\"\n- \"Tell me about Speedy AI\"\n- \"What agents are in the MVP?\"\n- \"How much does MySquad cost?\"\n\nDO NOT USE FOR:\n- User's personal reminders or tasks\n- Current news or events\n- Financial transactions (use Speedy tool)\n- Gmail/Calendar operations (use Google tool)\n- General knowledge questions not about MyGuy/MySquad\n\nHOW IT WORKS:\nAutomatically searches the MySquad product documentation and returns the most relevant information to answer the user's question about MyGuy's capabilities.\n\nRESPONSE RULES:\nPresent the information conversationally in the user's language style (Pidgin/English).\nExplain features naturally, not robotically.\nIf the documentation doesn't have the answer, say so honestly.\n\nEXAMPLES:\n\nExample 1 (English):\nUser: \"What can you do?\"\nTool returns: Context about MyGuy's capabilities\nResponse: \"I'm MyGuy - your AI coordination agent! I can help you with reminders, manage your tasks, check news in your interests, handle Gmail and Calendar, and work with Speedy for payments. I remember our conversations and learn your preferences over time \ud83c\udfaf\"\n\nExample 2 (Pidgin):\nUser: \"Wetin be stored commands?\"\nTool returns: Info about stored commands feature\nResponse: \"Stored commands na like your personal assistant rules wey you fit create. For example, you fit tell me 'Every Monday morning, show me my week priorities' - and I go do am automatically without you asking again. E dey smart pass normal reminders because e understand context \ud83d\udca1\"\n",
        "tableName": "myguy_embeddings",
        "topK": 5,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePGVector",
      "typeVersion": 1.3,
      "position": [
        592,
        528
      ],
      "id": "__NODE_5__",
      "name": "Postgres PGVector Store1",
      "credentials": {
        "postgres": {
          "id": "__POSTGRES_CRED_ID",
          "name": "PostgreSQL Credentials"
        }
      }
    },
    {
      "parameters": {
        "modelName": "models/gemini-embedding-001"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        592,
        720
      ],
      "id": "__NODE_6__",
      "name": "Embeddings Google Gemini1",
      "credentials": {
        "googlePalmApi": {
          "id": "__GOOGLE_CRED_ID",
          "name": "Google API Credentials"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "=Change username. Extract from \"Call me [name]\", \"My name is [name]\"\nResponse: \"Alright! I go call you [name] \u2705\" / \"Got it! I'll call you [name] \u2705\"",
        "operation": "update",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "myguy_users",
          "mode": "list",
          "cachedResultName": "myguy_users"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "updated_at": "={{ $now.toISO() }}",
            "username": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('username', ``, 'string') }}",
            "user_id": "REDACTED"
          },
          "matchingColumns": [
            "user_id"
          ],
          "schema": [
            {
              "id": "user_id",
              "displayName": "user_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "phone_no",
              "displayName": "phone_no",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "full_name",
              "displayName": "full_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "username",
              "displayName": "username",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "interests",
              "displayName": "interests",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "help_needs",
              "displayName": "help_needs",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "last_language_style",
              "displayName": "last_language_style",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "google_refresh_token",
              "displayName": "google_refresh_token",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "zoom_refresh_token",
              "displayName": "zoom_refresh_token",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "updated_at",
              "displayName": "updated_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgresTool",
      "typeVersion": 2.6,
      "position": [
        800,
        816
      ],
      "id": "__NODE_7__",
      "name": "Update table_9 Tool",
      "credentials": {
        "postgres": {
          "id": "__POSTGRES_CRED_ID",
          "name": "PostgreSQL Credentials"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "=Max 3 lowercase interests. If >3, ask to choose top 3.\nResponse: \"Nice! Saved: [list] \ud83c\udfaf\" / \"Perfect! Interests now: [list]",
        "operation": "update",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "myguy_users",
          "mode": "list",
          "cachedResultName": "myguy_users"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "interests": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('interests', ``, 'string') }}",
            "updated_at": "={{ $now.toISO() }}",
            "user_id": "REDACTED"
          },
          "matchingColumns": [
            "user_id"
          ],
          "schema": [
            {
              "id": "user_id",
              "displayName": "user_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "phone_no",
              "displayName": "phone_no",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "full_name",
              "displayName": "full_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "username",
              "displayName": "username",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "interests",
              "displayName": "interests",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "help_needs",
              "displayName": "help_needs",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "last_language_style",
              "displayName": "last_language_style",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "google_refresh_token",
              "displayName": "google_refresh_token",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "zoom_refresh_token",
              "displayName": "zoom_refresh_token",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "updated_at",
              "displayName": "updated_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgresTool",
      "typeVersion": 2.6,
      "position": [
        960,
        816
      ],
      "id": "__NODE_8__",
      "name": "Update table_10 Tool",
      "credentials": {
        "postgres": {
          "id": "__POSTGRES_CRED_ID",
          "name": "PostgreSQL Credentials"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "=Mark reminder as completed.\n\nPARAMETER:\n- reminder_text (string): Exact reminder text to complete\n- user_id\n\nTRIGGERS: \"done\", \"finished\", \"completed\"\n\nIf unclear which task: ASK \"Which reminder you don finish?\" / \"Which one?\"\n\nRESPONSE: \n\"Correct! I don mark '[task]' as done \u2705\" / \"Nice one! Marked '[task]' complete \u2705\"",
        "operation": "update",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "myguy_reminders",
          "mode": "list",
          "cachedResultName": "myguy_reminders"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "status": "completed",
            "updated_at": "={{ $now.toISO() }}",
            "reminder_text": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('[ID]', ``, 'string') }}",
            "user_id": "REDACTED",
            "last_sent_at": "={{ $now }}"
          },
          "matchingColumns": [
            "user_id",
            "reminder_text"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "user_id",
              "displayName": "user_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "reminder_text",
              "displayName": "reminder_text",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "reminder_time",
              "displayName": "reminder_time",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "next_run_time",
              "displayName": "next_run_time",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "reminder_type",
              "displayName": "reminder_type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "is_recurring",
              "displayName": "is_recurring",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "metadata",
              "displayName": "metadata",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "object",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "last_sent_at",
              "displayName": "last_sent_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "updated_at",
              "displayName": "updated_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgresTool",
      "typeVersion": 2.6,
      "position": [
        1440,
        1024
      ],
      "id": "__NODE_9__",
      "name": "Complete Reminder Tool",
      "credentials": {
        "postgres": {
          "id": "__POSTGRES_CRED_ID",
          "name": "PostgreSQL Credentials"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "=Retrieve all pending reminders for user, sorted by time.\n\nParameters\nuser_id\n\nRESPONSE:\nPresent conversationally (max 5 reminders):\n- Pidgin: \"You get 3 reminders: Call mum today 8pm, Meeting tomorrow 2pm...\"\n- English: \"You have 3 reminders: ...\"\n- Empty: \"Your list empty o. Wan add something?\" / \"No reminders yet. Add one?\"",
        "operation": "select",
        "schema": {
          "__rl": true,
          "value": "public",
          "mode": "list",
          "cachedResultName": "public"
        },
        "table": {
          "__rl": true,
          "value": "myguy_reminders",
          "mode": "list",
          "cachedResultName": "myguy_reminders"
        },
        "returnAll": "",
        "where": {
          "values": [
            {
              "column": "status",
              "value": "pending"
            },
            {
              "column": "user_id",
              "value": "={{ $json.user_id }}"
            }
          ]
        },
        "sort": {
          "values": [
            {
              "column": "next_run_time"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgresTool",
      "typeVersion": 2.6,
      "position": [
        1120,
        1024
      ],
      "id": "__NODE_10__",
      "name": "List Reminders Tool",
      "credentials": {
        "postgres": {
          "id": "__POSTGRES_CRED_ID",
          "name": "PostgreSQL Credentials"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "=Create reminders for users.\n\nPARAMETERS:\n- reminder_text (string): What to remind\n- reminder_time (string): ISO format YYYY-MM-DDTHH:MM:SS+01:00\n- reminder_type (string): birthday|meeting|task|general\n- is_recurring (boolean): false for one-time, true for repeating\n- metadata (object): \n  - One-time: {\"type\": \"one_time\"}\n  - Recurring: {\"type\": \"recurring\", \"interval_minutes\": X}\n    (10=every 10min, 60=hourly, 1440=daily, 10080=weekly, 43200=monthly)\n- next_run_time (string): Same as reminder_time\n- status (string): Always \"pending\"\n\nIf time/date missing: ASK user (don't guess)\n\nRESPONSE:\nConvert reminder_time to natural language before responding.\nExamples:\n- 2026-02-15T08:00:00+01:00 \u2192 \"February 15th at 8am\"\n- 2026-02-04T20:00:00+01:00 \u2192 \"today at 8pm\"\n- 2026-02-05T14:00:00+01:00 \u2192 \"tomorrow at 2pm\"\n\nPidgin: \"No wahala! I go remind you on [natural date] \ud83d\udcde\"\nEnglish: \"Done! I'll remind you on [natural date] \ud83d\udcde\"\n\nDO NOT include ISO timestamps (YYYY-MM-DDTHH:MM:SS+01:00) in your response to users.",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "myguy_reminders",
          "mode": "list",
          "cachedResultName": "myguy_reminders"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "reminder_text": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('reminder_text', ``, 'string') }}",
            "reminder_time": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('reminder_time', ``, 'string') }}",
            "reminder_type": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('reminder_type', ``, 'string') }}",
            "next_run_time": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('next_run_time', ``, 'string') }}",
            "is_recurring": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('is_recurring', ``, 'boolean') }}",
            "metadata": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('metadata', ``, 'json') }}",
            "status": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('status', ``, 'string') }}",
            "user_id": "REDACTED"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "user_id",
              "displayName": "user_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "reminder_text",
              "displayName": "reminder_text",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "reminder_time",
              "displayName": "reminder_time",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            },
            {
              "id": "next_run_time",
              "displayName": "next_run_time",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "reminder_type",
              "displayName": "reminder_type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "is_recurring",
              "displayName": "is_recurring",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "metadata",
              "displayName": "metadata",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "object",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "last_sent_at",
              "displayName": "last_sent_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "updated_at",
              "displayName": "updated_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgresTool",
      "typeVersion": 2.6,
      "position": [
        800,
        1024
      ],
      "id": "__NODE_11__",
      "name": "Set Reminder Tool",
      "credentials": {
        "postgres": {
          "id": "__POSTGRES_CRED_ID",
          "name": "PostgreSQL Credentials"
        }
      }
    },
    {
      "parameters": {
        "description": "=Handles ALL financial operations by forwarding requests to Speedy AI subworkflow.\n\nWHEN TO USE (FINANCIAL INTENT DETECTION):\n\n1. USER EXPLICITLY MENTIONS SPEEDY:\n   - \"@Speedy [anything]\"\n   - \"Speedy, [anything]\"\n   - \"Ask Speedy [anything]\"\n   - \"Tell Speedy [anything]\"\n\nCOMMON FINANCIAL PHRASES:\n- \"Check my balance\"\n- \"Transfer (money) to this account\"\n- \"Send money to [person]\"\n- \"Transaction history\"\n- \"Buy airtime\"\n- \"Pay my DSTV bill\"\n- \"What's my account balance?\"\n\nDETECTION LOGIC:\n1. Is message type \"image\"?\n   \u2192 Check caption for financial keywords\n   \u2192 If found: CALL SPEEDY with caption\n2. Is message type \"text\"?\n   \u2192 Check text for financial keywords\n   \u2192 If found: CALL SPEEDY with text\n\nIMAGE HANDLING:\nWhen user sends IMAGE with financial caption:\n- Check if caption contains Speedy or financial key phrases\n- If YES \u2192 Call Speedy with the caption text\n- If NO caption or non-financial \u2192 Do NOT call Speedy\n\nPARAMETERS:\n- message (string, REQUIRED) \u2014 User's EXACT text or caption. Never modify, rephrase, or summarize.\n- user_phone\n- image_id\n\nHOW TO CALL:\nText only:\nUser: \"Check my balance\"\n\u2192 Call with: {message: \"Check my balance\"}\n\nImage with caption:\nUser: [sends image] with caption \"Check my transaction history for this account\"\n\u2192 Call with: {message: \"Check my transaction history for this account\"}\n\nFollow-up (context-dependent):\nUser: \"Yes\" (confirming a transfer Speedy asked about)\n\u2192 Call with: {message: \"Yes\"}\n\nDO NOT CALL FOR:\n- Images with no caption\n- Images with non-financial captions\n- General questions about finance (\"What is a bank account?\")\n- General finance news or trends \u2192 use RSS Tool instead\n\nRESPONSE HANDLING:\n1. Copy Speedy's response EXACTLY \u2014 no rephrasing, no added notes, no URL modifications.\n2. Prefix with \"Speedy says: \" only if Speedy's message doesn't already start with it.\n3. Speedy error messages (\"Insufficient balance\", \"Invalid PIN\") are NOT tool errors \u2014 relay them as normal with the prefix.\n4. Tool connection failure only \u2192 \"Speedy is currently unavailable. Please call Warpspeed customer care.\"\n\n\u2705 DO:\n- Pass user's EXACT message with zero modifications\n- Trust Speedy to handle all verification, authentication, and transactions\n\n\u274c DON'T:\n- Rephrase, shorten, or add commentary to Speedy's response\n- Modify URLs in any way\n- Ask user for BVN, PIN, or registration details yourself\n\n\nDISTINGUISHING ERRORS:\n- Tool Error (use error handling): Connection timeout, tool crashes, no response\n- Speedy Error Message (treat as SUCCESS): \"Insufficient balance\", \"Invalid PIN\", \"Transaction failed\"\n  \u2192 These should get \"Speedy here:\" prefix and be shown to user\n\nEXAMPLES:\n\nExample A \u2014 Speedy already self-identifies:\nUser: \"Send 5000 to John\"\nSpeedy returns: \"Speedy here: Transfer successful! \u20a65,000 sent to John Doe.\"\nResponse: \"Speedy here: Transfer successful! \u20a65,000 sent to John Doe.\"\n\nExample B \u2014 Speedy error message (NOT a tool error):\nUser: \"Transfer 100000 to John\"\nSpeedy returns: \"Insufficient balance. Your current balance is \u20a645,230.50\"\nResponse: \"Speedy says: Insufficient balance. Your current balance is \u20a645,230.50\"\n\nExample C \u2014 User not registered:\nUser: \"What's my balance?\"\nSpeedy returns: \"Please sign up to use this service. [URL]\"\nResponse: \"Speedy says: Please sign up to use this service. [URL]\"\n\nExample D \u2014 Image without caption:\nUser: [sends image with no text]\nAction: DO NOT call Speedy\nResponse: \"What would you like me to do with this image?\"\n\nExample E \u2014 Follow-up confirmation:\nUser: \"Yes\" (confirming previous transfer)\nCall: {message: \"Yes\"}\nSpeedy returns: \"Transfer successful! \u20a65,000 sent to John Doe. New balance: \u20a640,230.50\"\nResponse: \"Speedy says: Transfer successful! \u20a65,000 sent to John Doe. New balance: \u20a640,230.50\"",
        "workflowId": {
          "__rl": true,
          "value": "UO0aVWbpZKpAlfc8",
          "mode": "list",
          "cachedResultUrl": "/workflow/UO0aVWbpZKpAlfc8",
          "cachedResultName": "Speedy Sub workflow"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "phonenumber": "REDACTED",
            "message": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('message', ``, 'string') }}",
            "id": "={{ $json.image_id || '' }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "message",
              "displayName": "message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "phonenumber",
              "displayName": "phonenumber",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number",
              "removed": false
            },
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        1440,
        528
      ],
      "id": "__NODE_12__",
      "name": "Call Speedy Tool"
    },
    {
      "parameters": {
        "description": "=Provides complete access to Gmail and Google Calendar through OAuth authentication.\n\nWHEN TO USE:\nANY Gmail or Google Calendar request from table_11 user.\n\nGMAIL OPERATIONS:\n- Reading/searching emails\n- Sending/drafting emails\n- Managing email labels\n- Checking unread messages\n- Finding emails from table_12 people\n- Email filtering and organization\n\nCALENDAR OPERATIONS:\n- Viewing calendar events\n- Creating calendar events\n- Scheduling meetings\n- Updating/deleting events\n- Adding Google Meet links\n- Setting event reminders\n\nTRIGGER PHRASES:\n- \"Check my emails\"\n- \"Send an email to [person]\"\n- \"What meetings do I have today?\"\n- \"Schedule a meeting with [person]\"\n- \"Create a calendar event\"\n- \"Show me unread emails\"\n- \"Draft an email about [topic]\"\n\nHOW IT WORKS:\n1. Tool connects to specialized OAuth system\n2. Handles Google authentication automatically\n3. Access Gmail and Calendar APIs\n4. Returns formatted results\n\nPARAMETERS:\nNO PARAMETERS REQUIRED from table_13 Agent.\n\nThe tool automatically receives:\n- User's chat context\n- User's message/request\n- Authentication details\n- User Phone: {{ $json.phone_no }}\n\nPRESENTATION RULES:\n\nPresent results conversationally in user's language.\nDo NOT dump raw API responses.\nSummarize naturally and offer next actions.\n\nEXAMPLES:\n\nExample 1 - Gmail (English):\nUser: \"Check my emails from table_14\"\nTool returns: 2 emails found\nResponse: \"You have 2 emails from table_15 One about the project deadline (yesterday), and one asking about the meeting (2 days ago). Want me to read any of them?\"\n\nExample 2 - Gmail (Pidgin):\nUser: \"Any unread messages?\"\nTool returns: 3 unread emails\nResponse: \"You get 3 unread emails o: one from table_16 about payroll, one from table_17 about Friday meeting, and one newsletter from table_18\"\n\nExample 3 - Calendar (English):\nUser: \"What meetings do I have today?\"\nTool returns: 2 meetings\nResponse: \"You have 2 meetings today: Team standup at 10am and Client call at 3pm. Both have Google Meet links ready.\"\n\nExample 4 - Calendar (Pidgin):\nUser: \"Schedule meeting with Sarah tomorrow 2pm\"\nTool returns: Event created successfully\nResponse: \"Done! I don schedule your meeting with Sarah for tomorrow 2pm. Google Meet link included - them go send the invite to Sarah email \ud83d\udcc5\"\n\nExample 5 - Email Send (English):\nUser: \"Send email to [EMAIL] saying I'll be late\"\nTool returns: Email sent\nResponse: \"Email sent to your boss. I let them know you'll be running late \u2709\ufe0f\"\n\nERROR HANDLING:\n\nIf authentication fails:\n\"I need you to connect your Google account first. Let me send you the authorization link.\"\n\nIf calendar access denied:\n\"Looks like I don't have access to your calendar yet. Want to grant permission?\"\n\nIf email not found:\n\"I couldn't find any emails matching that. Want me to search for something else?\"",
        "workflowId": {
          "__rl": true,
          "value": "ZMsRfxp9daKXKZh0SdLKC",
          "mode": "list",
          "cachedResultUrl": "/workflow/ZMsRfxp9daKXKZh0SdLKC",
          "cachedResultName": "Google Sub workflow"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "query": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('query', ``, 'string') }}",
            "user_phone": "='{{ $json.phone_no }}'"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "query",
              "displayName": "query",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "user_phone",
              "displayName": "user_phone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        1280,
        528
      ],
      "id": "__NODE_13__",
      "name": "Call Google Tools"
    },
    {
      "parameters": {
        "description": "=Fetches current news and trending articles from table_19 News.\n\nWHEN TO USE:\nUser asks about current events, recent news, live scores, trending topics, or \nanything that requires up-to-date information.\n\nExamples that SHOULD use this tool:\n- \"What's happening in football?\" \u2192 interest: \"football\"\n- \"Did Super Eagles win yesterday?\" \u2192 interest: \"football\"\n- \"Latest tech news\" \u2192 interest: \"tech\"\n- \"Dollar rate today\" \u2192 interest: \"finance\"\n- \"What's trending in Nigeria?\" \u2192 interest: \"nigeria\"\n- \"Any news about the elections?\" \u2192 interest: \"politics\"\n\nDO NOT USE FOR:\n- General knowledge (\"What is Bitcoin?\", \"How does inflation work?\")\n- Historical facts (\"When was Nigeria founded?\")\n- Definitions or explanations\n- Anything the LLM can answer confidently without current data\n\u2192 For these, answer directly from table_20 own knowledge.\n\nDECISION RULE:\nAsk yourself: \"Does this require information from table_21 or recent days?\"\n- YES \u2192 use RSS Tool\n- NO \u2192 answer directly\n\nPARAMETER:\ninterest (string, REQUIRED) \u2014 Extract the core topic only, 1-2 words max.\nStrip away question words, verbs, and extra context.\n\nTopic extraction examples:\n- \"What's trending in football?\" \u2192 \"football\"\n- \"Tell me what happened in the Super Eagles match\" \u2192 \"football\"\n- \"What's the news about AI?\" \u2192 \"AI\"\n- \"How is the economy doing?\" \u2192 \"economy\"\n- \"Latest cryptocurrency news\" \u2192 \"crypto\"\n- \"I want to know if there's breaking news about football in Nigeria\" \u2192 \"football\"\n- \"Can you tell me what's going on with the dollar exchange rate?\" \u2192 \"finance\"\n\nVALID TOPICS:\nfootball, sports, tech, AI, crypto, politics, finance, economy, \nentertainment, health, education, nigeria\n\nPRESENTATION:\n- Share 2 headlines naturally with brief context (2-3 sentences total)\n- Plain conversational text only \u2014 no markdown, no bullet \"-\", no bold\n- Write: \"1. Title \u2014 brief context\" not \"- **Title**\"\n- Match user's language (Pidgin/English)\n- Include relevant emojis\n\nEXAMPLES:\n\nExample 1 (Pidgin \u2014 specific event):\nUser: \"Abeg, did Super Eagles win?\"\nCall: interest = \"football\"\nResponse: \"Yes o! \ud83c\udf89 Super Eagles beat Ghana 2-1 yesterday. Osimhen score the winning goal for the 90th minute!\"\n\nExample 2 (English \u2014 general curiosity):\nUser: \"What's new in tech?\"\nCall: interest = \"tech\"\nResponse: \"Big moves in tech! Flutterwave just raised $100M in Series D funding \ud83d\udcb0 Also, OpenAI dropped a new model update table_22's got everyone talking.\"\n\nExample 3 (LLM handles it \u2014 no tool needed):\nUser: \"What is inflation?\"\nAction: DO NOT call RSS Tool\nResponse: Answer directly from table_23",
        "workflowId": {
          "__rl": true,
          "value": "N9gM8g-Xgg5A63TNuooOv",
          "mode": "list",
          "cachedResultUrl": "/workflow/N9gM8g-Xgg5A63TNuooOv",
          "cachedResultName": "RSS Sub Workflow"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "Interest": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Interest', ``, 'string') }}"
          },
          "matchingColumns": [
            "interest"
          ],
          "schema": [
            {
              "id": "Interest",
              "displayName": "Interest",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        1120,
        528
      ],
      "id": "__NODE_14__",
      "name": "Call RSS Tool"
    },
    {
      "parameters": {
        "model": "openai/gpt-oss-120b",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        304,
        528
      ],
      "id": "__NODE_15__",
      "name": "Groq Chat Model",
      "credentials": {
        "groqApi": {
          "id": "__GROQ_CRED_ID",
          "name": "Groq API Credentials"
        }
      }
    },
    {
      "parameters": {
        "content": "# Postgres Tools",
        "height": 512,
        "width": 832
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        752,
        720
      ],
      "typeVersion": 1,
      "id": "__NODE_16__",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "=Update table_25 existing reminder's time or details.\n\nWHEN TO USE:\n- User says \"change my reminder\", \"reschedule\", \"update table_26 [task] reminder\"\n- User wants to move a reminder to a different time\n\nPARAMETERS:\n- reminder_text (string): Exact text of reminder to update (used to find it)\n- reminder_time (string): New time in ISO format YYYY-MM-DDTHH:MM:SS+01:00\n- next_run_time (string): Same as new reminder_time\n\nIf unclear which reminder: ASK user to clarify.\nIf new time missing: ASK user for the new time.\n\nRESPONSE:\n- Pidgin: \"Done! I don update '[task]' to [natural date] \u2705\"\n- English: \"Updated! '[task]' is now set for [natural date] \u2705\"",
        "operation": "update",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "myguy_reminders",
          "mode": "list",
          "cachedResultName": "myguy_reminders"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "updated_at": "={{ $now.toISO() }}",
            "user_id": "REDACTED",
            "reminder_text": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('[ID]', ``, 'string') }}",
            "reminder_time": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('reminder_time', ``, 'string') }}",
            "next_run_time": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('next_run_time', ``, 'string') }}"
          },
          "matchingColumns": [
            "user_id",
            "reminder_text"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "user_id",
              "displayName": "user_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "reminder_text",
              "displayName": "reminder_text",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "reminder_time",
              "displayName": "reminder_time",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "next_run_time",
              "displayName": "next_run_time",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "reminder_type",
              "displayName": "reminder_type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "is_recurring",
              "displayName": "is_recurring",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "metadata",
              "displayName": "metadata",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "object",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "last_sent_at",
              "displayName": "last_sent_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "updated_at",
              "displayName": "updated_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgresTool",
      "typeVersion": 2.6,
      "position": [
        960,
        1024
      ],
      "id": "__NODE_17__",
      "name": "Update table_24 Tool",
      "credentials": {
        "postgres": {
          "id": "__POSTGRES_CRED_ID",
          "name": "PostgreSQL Credentials"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "=Permanently delete a reminder.\n\nWHEN TO USE:\n- User says \"delete my reminder\", \"remove [task]\", \"cancel my [task] reminder\"\n- User wants to permanently remove a reminder (not just complete it)\n\nPARAMETERS:\n- reminder_text (string): Exact text of reminder to delete\n\nIf unclear which reminder: List their reminders first, then ask which to delete.\nNEVER delete without confirming the exact reminder text first.\n\nRESPONSE:\n- Pidgin: \"Done! I don remove '[task]' reminder \u2705\"\n- English: \"Deleted! '[task]' has been removed \u2705\"",
        "operation": "deleteTable",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "myguy_reminders",
          "mode": "list",
          "cachedResultName": "myguy_reminders"
        },
        "deleteCommand": "delete",
        "where": {
          "values": [
            {
              "column": "user_id",
              "value": "={{ $json.user_id }}"
            },
            {
              "column": "reminder_text",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('values1_Value', ``, 'string') }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgresTool",
      "typeVersion": 2.6,
      "position": [
        1280,
        1024
      ],
      "id": "__NODE_18__",
      "name": "Delete Reminder Tool",
      "credentials": {
        "postgres": {
          "id": "__POSTGRES_CRED_ID",
          "name": "PostgreSQL Credentials"
        }
      }
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "wNrTo7md7Otf1NbK0f1B5",
          "mode": "list",
          "cachedResultUrl": "/workflow/wNrTo7md7Otf1NbK0f1B5",
          "cachedResultName": "Token Logger"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "execution_id": "={{ $json.execution_id }}",
            "source": "={{ $json.source }}",
            "user_id": "REDACTED",
            "phone_no": "REDACTED",
            "Agent": "MyGuy Agent"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "execution_id",
              "displayName": "execution_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "source",
              "displayName": "source",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "user_id",
              "displayName": "user_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "phone_no",
              "displayName": "phone_no",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "Agent",
              "displayName": "Agent",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": false
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        976,
        352
      ],
      "id": "__NODE_19__",
      "name": "Call 'Token Logger'"
    },
    {
      "parameters": {
        "jsCode": "return {\n  json: {\n    output: $('MyGuy AI Agent').first().json.output\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        976,
        176
      ],
      "id": "__NODE_20__",
      "name": "Respond To Input"
    },
    {
      "parameters": {
        "jsCode": "const agentOutput = $json.output || \"\";\nconst incomingData = $('Incoming Payload').first().json;\n\nreturn {\n  json: {\n    output: agentOutput,\n    execution_id: $execution.id,\n    user_id: incomingData.user_id,\n    source: incomingData.source || \"app\",\n    phone_no: incomingData.phone_no\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        784,
        352
      ],
      "id": "__NODE_21__",
      "name": "Prepare for logger"
    },
    {
      "parameters": {
        "toolDescription": "=Fetches live traffic and route data between two locations using Google Maps.\n\nWHEN TO USE:\n- User asks about traffic, travel time, commute, or best route\n- User mentions \"go-slow\", \"traffic\", \"how long to get to\", \"directions\"\n\nPARAMETERS (extract from table_27 message):\n- origin (string): Starting location \u2014 ask if not provided\n- destination (string): End location \u2014 ask if not provided\n\nIf EITHER is missing: DO NOT call. Ask the user first.\n\nWHAT TO DO WITH THE RESPONSE:\nThe tool returns raw Google Maps JSON. You must interpret it and present \nit conversationally. Extract and report:\n\n1. Main route (routes[0].summary)\n2. Normal duration (legs[0].duration.text)\n3. Traffic duration (legs[0].duration_in_traffic.text)\n4. Delay = traffic duration minus normal duration\n5. Distance (legs[0].distance.text)\n6. Alternative routes (routes[1], routes[2] if present) \u2014 \n   compare their duration_in_traffic to the main route\n\nTRAFFIC LEVEL LOGIC (based on delay %):\n- delay > 80% of normal time \u2192 \"Standstill Go-Slow \ud83d\udd34\ud83d\udd34\ud83d\udea8\"\n- delay > 50% \u2192 \"Heavy Go-Slow \ud83d\udd34\ud83d\udd34\"\n- delay > 30% \u2192 \"Moderate Go-Slow \ud83d\udd34\"\n- delay > 15% \u2192 \"Light Congestion \ud83d\udfe1\"\n- delay > 5%  \u2192 \"Moving Slowly \ud83d\udfe1\"\n- delay < -10% \u2192 \"Very Light \ud83d\udfe2\u2728\"\n- else \u2192 \"Light \ud83d\udfe2\"\n\nRESPONSE FORMAT:\nPresent naturally in user's language (Pidgin or English).\nAlways include: traffic level, travel time, main route, and alternatives \nif they save time.\n\nPidgin example:\n\"E get moderate go-slow on Third Mainland Bridge o \ud83d\udd34 \nYour journey go take about 52 mins instead of 30 mins normal. \nBut you fit use Lagos Island Expressway \u2014 e go save you 8 mins \u2705\"\n\nEnglish example:\n\"There's moderate traffic on Third Mainland Bridge \ud83d\udd34 \nExpect about 52 minutes instead of the usual 30. \nAlternative via Lagos Island Expressway could save you 8 minutes \u2705\"",
        "url": "[URL]",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "origin",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters0_Value', ``, 'string') }}"
            },
            {
              "name": "destination",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters1_Value', ``, 'string') }}"
            },
            {
              "name": "departure_time",
              "value": "={{ Math.floor(Date.now() / 1000) }}"
            },
            {
              "name": "traffic_model",
              "value": "best_guess"
            },
            {
              "name": "alternatives",
              "value": "true"
            },
            {
              "name": "key",
              "value": "REDACTED_GOOGLE_KEY"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.3,
      "position": [
        1616,
        528
      ],
      "id": "__NODE_22__",
      "name": "Get Traffic Tool"
    }
  ],
  "pinData": {
    "Incoming Payload": [
      {
        "json": {
          "image_id": "",
          "caption": "",
          "source": "app"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "connections": {
    "Incoming Payload": {
      "main": [
        [
          {
            "node": "MyGuy AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "MyGuy AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "List Interests Tool": {
      "ai_tool": [
        [
          {
            "node": "MyGuy AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Postgres PGVector Store1": {
      "ai_tool": [
        [
          {
            "node": "MyGuy AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini1": {
      "ai_embedding": [
        [
          {
            "node": "Postgres PGVector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Update Name Tool": {
      "ai_tool": [
        [
          {
            "node": "MyGuy AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Update Interests Tool": {
      "ai_tool": [
        [
          {
            "node": "MyGuy AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Complete Reminder Tool": {
      "ai_tool": [
        [
          {
            "node": "MyGuy AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "List Reminders Tool": {
      "ai_tool": [
        [
          {
            "node": "MyGuy AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Set Reminder Tool": {
      "ai_tool": [
        [
          {
            "node": "MyGuy AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Call Speedy Tool": {
      "ai_tool": [
        [
          {
            "node": "MyGuy AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Call Google Tools": {
      "ai_tool": [
        [
          {
            "node": "MyGuy AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Call RSS Tool": {
      "ai_tool": [
        [
          {
            "node": "MyGuy AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "MyGuy AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Update Reminders Tool": {
      "ai_tool": [
        [
          {
            "node": "MyGuy AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Delete Reminder Tool": {
      "ai_tool": [
        [
          {
            "node": "MyGuy AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "MyGuy AI Agent": {
      "main": [
        [
          {
            "node": "Prepare for logger",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'Token Logger'": {
      "main": [
        []
      ]
    },
    "Prepare for logger": {
      "main": [
        [
          {
            "node": "Respond To Input",
            "type": "main",
            "index": 0
          },
          {
            "node": "Call 'Token Logger'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Traffic Tool": {
      "ai_tool": [
        [
          {
            "node": "MyGuy AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "__VERSION_ID__",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "__INSTANCE_ID__"
  },
  "id": "__WORKFLOW_ID__",
  "_sanitization_metadata": {
    "sanitized_at": "2026-03-21T15:18:01.051707+00:00",
    "original_name": "MyGuy Sub Workflow",
    "note": "Sensitive data replaced with placeholders.",
    "tables_renamed": {
      "REMINDER": "table_1",
      "NAME": "table_2",
      "now": "table_3",
      "INTERESTS": "table_4",
      "WHEN": "table_5",
      "their": "table_6",
      "or": "table_7",
      "internal": "table_8",
      "Name": "table_9",
      "Interests": "table_10",
      "the": "table_11",
      "specific": "table_12",
      "AI": "table_13",
      "John": "table_14",
      "John.": "table_15",
      "HR": "table_16",
      "Sarah": "table_17",
      "TechCabal.": "table_18",
      "Google": "table_19",
      "your": "table_20",
      "today": "table_21",
      "that": "table_22",
      "knowledge.": "table_23",
      "Reminders": "table_24",
      "an": "table_25",
      "my": "table_26",
      "user": "table_27"
    },
    "columns_renamed": {}
  }
}